<div class="col-md-9 col-sm-9 docs-body">
    <h1>Documentation</h1>

    <p><a name="intro"></a></p>

    <h3>Introduction</h3>
    <p>Welcome to the dnd5eapi, the Dungeons & Dragons 5th Edition API! This documentation should help you familiarise yourself with the resources available and how to consume them with HTTP requests. Read through the getting started section before you dive in. Most of your problems should be solved just by reading through it.</p>
    <p><a name="start"></a></p>

    <h3>Getting started</h3>
    <p>Let's make our first API request to the D&D 5th Edition API!</p>
    <p>Open up a terminal and use <a href="http://curl.haxx.se">curl</a> or <a href="http://httpie.org">httpie</a> to make an API request for a resource. In the example below, we're trying to get the first spell, Acid Arrow:</p>

    <pre><code>http dnd5eapi.co/api/spells/1/</code></pre>

    <p>We'll use <a href="http://httpie.org">httpie</a> for our examples as it displays responses nicely and gives us a whole lot more useful information. If you don't want to download httpie, just use the <em>curl</em> command instead.</p>
    <p>Here is the response we get:</p>

    <pre><code>{
  "_id": "585f36fdc9e7ce9f72142693",
  "index": 1,
  "name": "Acid Arrow",
  "desc": [
    "A shimmering green arrow streaks toward a target within range and bursts in a spray of acid. Make a ranged spell attack against the target. On a hit, the target takes 4d4 acid damage immediately and 2d4 acid damage at the end of its next turn. On a miss, the arrow splashes the target with acid for half as much of the initial damage and no damage at the end of its next turn."
  ],
  "higher_level": [
    "When you cast this spell using a spell slot of 3rd level or higher, the damage (both initial and later) increases by 1d4 for each slot level above 2nd."
  ],
  "page": "phb 259",
  "range": "90 feet",
  "components": [
    "V",
    "S",
    "M"
  ],
  "material": "Powdered rhubarb leaf and an adder’s stomach.",
  "ritual": "no",
  "duration": "Instantaneous",
  "concentration": "no",
  "casting_time": "1 action",
  "level": 2,
  "school": "Evocation",
  "classes": [
    "http://dnd5eapi.co/api/classes/4",
    "http://dnd5eapi.co/api/classes/12"
  ],
  "url": "http://dnd5eapi.co/api/spells/1"
}</code></pre>

    <p>If your response looks slightly different don't panic. This is probably because more data has been added to dnd5eapi since we made this documentation.</p>
    
    <p><a name="base"></a></p>
    <h3>Base URL</h3>
    <p>The <strong>Base URL</strong> is the root URL for all of the API, if you ever make a request to dnd5eapi and you get back a <strong>404 NOT FOUND</strong> response then check the Base URL first.</p>
    <p>The Base URL for dnd5eapi is:</p>

    <pre><code>http://dnd5eapi.co/api/</code></pre>

    <p>The documentation below assumes you are prepending the Base URL to the endpoints in order to make requests.</p>
    

    <p><a name="auth"></a></p>
    <h3>Authentication</h3>
    <p>dnd5eapi is a <strong>completely open API</strong>. No authentication is required to query and get data. This also means that we've limited what you can do to just <strong>GET</strong>-ing the data. If you find a mistake in the data, feel free to <a href="mailto:admin@dnd5eapi.co">email me</a>.</p>


    <h1>Resources</h1>

    <p><a name="root"></a></p>

    <h3>Root</h3>
    <p>The Root resource provides information on all available resources within the API.</p>

    <p><strong>Example request:</strong></p>
    <pre><code>http http://dnd5eapi.co/api/</code></pre>

    <p><strong>Example response:</strong></p>
<pre><code>HTTP/1.1 200 OK
Connection: keep-alive
Content-Length: 463
Content-Type: application/json; charset=utf-8
X-Powered-By: Express

{
    "classes": "http://dnd5eapi.co/api/classes/",
    "equipment": "http://dnd5eapi.co/api/equipment/",
    "features": "http://dnd5eapi.co/api/features/",
    "languages": "http://dnd5eapi.co/api/languages/",
    "monsters": "http://dnd5eapi.co/api/monsters/",
    "proficiencies": "http://dnd5eapi.co/api/proficiencies/",
    "races": "http://dnd5eapi.co/api/races/",
    "spellcasting": "http://dnd5eapi.co/api/spellcasting/",
    "spells": "http://dnd5eapi.co/api/spells/",
    "startingequipment": "http://dnd5eapi.co/api/startingequipment/",
    "subclasses": "http://dnd5eapi.co/api/subclasses/",
    "subraces": "http://dnd5eapi.co/api/subraces/",
    "tables": "http://dnd5eapi.co/api/tables/"
}
</code></pre>

    <p><strong>Attributes:</strong></p>
    <ul>
        <li><code>classes</code><em>string</em>-- The URL root for Classes resources</li>
        <li><code>equipment</code><em>string</em>-- The URL root for Equipment resources</li>
        <li><code>monsters</code><em>string</em>-- The URL root for Monsters resources</li>
        <li><code>proficiencies</code><em>string</em>-- The URL root for Proficiencies resources</li>
        <li><code>races</code><em>string</em>-- The URL root for Races resources</li>
        <li><code>spellcasting</code><em>string</em>-- The URL root for Spellcasting resources</li>
        <li><code>spells</code><em>string</em>-- The URL root for Spells resources</li>
        <li><code>startingequipment</code><em>string</em>-- The URL root for Starting Equipment resources</li>
        <li><code>subclasses</code><em>string</em>-- The URL root for Subclasses resources</li>
        <li><code>subraces</code><em>string</em>-- The URL root for Subraces resources</li>
        <li><code>tables</code><em>string</em>-- The URL root for Class Tables resources</li>
    </ul>

    <% include ../partials/doc-resource-classes %>
    <% include ../partials/doc-resource-utility %>
</div>