<div class="col-sm-3 side-nav">

    <h5>Getting started</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#intro">Introduction</a></li>
        <li class="list-group-item"><a href="#start">Getting started</a></li>
        <li class="list-group-item"><a href="#base">Base URL</a></li>
        <li class="list-group-item"><a href="#auth">Authentication</a></li>
    </ul>

    <h5>Resources</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#classes">Classes</a></li>
    </ul>

    <h5>Utility</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#apiresource">APIResource</a></li>
        <li class="list-group-item"><a href="#choices">Choices</a></li>
    </ul>
</div>