<h2 id="languages">Languages</h2>
<p>By virtue of your race, your character can speak, read, and write certain languages.</p>

<h3>GET api/languages/{index}</h3>

<pre><code>{
	"_id": "58617b4bc9e7ce9f7214352d",
	"index": 1,
	"name": "Common",
	"type": "Standard",
	"typical_speakers": [
		"Humans"
	],
	"script": "Common",
	"url": "http://dnd5eapi.co/api/languages/1"
}
</code></pre>

<h4>Language</h4>

<table>
    <thead>
        <tr>
            <th align="left">Name</th>
            <th align="left">Description</th>
            <th align="left">Data Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left">_id</td>
            <td align="left">The string _id used by the database for this language resource</td>
            <td align="left">string</td>
        </tr>
        <tr>
            <td align="left">index</td>
            <td align="left">The language index for shorthand searching</td>
            <td align="left">integer</td>
        </tr>
        <tr>
            <td align="left">name</td>
            <td align="left">The name of this language resource</td>
            <td align="left">string</td>
        </tr>
        <tr>
            <td align="left">type</td>
            <td align="left">Whether the language is standard or exotic</td>
            <td align="left">string</td>
        </tr>
        <tr>
            <td align="left">typical_speakers</td>
            <td align="left">Races that tend to speak this language</td>
            <td align="left">array string</td>
        </tr>
        <tr>
            <td align="left">script</td>
            <td align="left">The script used for writing in this language</td>
            <td align="left">string</td>
        </tr>
        <tr>
            <td align="left">url</td>
            <td align="left">The URL of the referenced resource</td>
            <td align="left">string</td>
        </tr> 
    </tbody>
</table>
