<h2 id="resource-lists">Resource Lists</h2>
<p>Calling any API endpoint without a resource index or name will return a list of available resources for that API.</p>

<h3>GET api/{endpoint}</h3>

<pre><code>{
  "count": 319,
  "results": [
    {
      "index": "acid-arrow",
      "name": "Acid Arrow",
      "url": "/api/spells/acid-arrow"
    },
    {
      "index": "acid-splash",
      "name": "Acid Splash",
      "url": "/api/spells/acid-splash"
    },
    {
      "index": "aid",
      "name": "Aid",
      "url": "/api/spells/aid"
    },
    {
      "index": "alarm",
      "name": "Alarm",
      "url": "/api/spells/alarm"
    },
    {
      "index": "alter-self",
      "name": "Alter Self",
      "url": "/api/spells/alter-self"
    },
    {
      "index": "animal-friendship",
      "name": "Animal Friendship",
      "url": "/api/spells/animal-friendship"
    },
    {
      "index": "animal-messenger",
      "name": "Animal Messenger",
      "url": "/api/spells/animal-messenger"
    },
    {
      "index": "animal-shapes",
      "name": "Animal Shapes",
      "url": "/api/spells/animal-shapes"
    },

    ...

  ]
}
</code></pre>

<h4>NamedAPIResourceList</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">count</td>
      <td align="left">Total number of resource available from this API</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">results</td>
      <td align="left">A list of named API resource lists</td>
      <td align="left">list <a href="#namedapiresource">NamedAPIResource</a></td>
    </tr>
  </tbody>
</table>





<pre><code>{
  "count": 8,
  "results": [
    {
      "index": 1,
      "class": "Bard",
      "url": "/api/spellcasting/1"
    },
    {
      "index": 2,
      "class": "Cleric",
      "url": "/api/spellcasting/2"
    },
    {
      "index": 3,
      "class": "Druid",
      "url": "/api/spellcasting/3"
    },
    {
      "index": 4,
      "class": "Paladin",
      "url": "/api/spellcasting/4"
    },

    ...

  ]
}
</code></pre>

<h4>ClassAPIResourceList</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">count</td>
      <td align="left">Total number of resource available from this API</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">results</td>
      <td align="left">A list of class API resource lists</td>
      <td align="left">list <a href="#classapiresource">ClassAPIResource</a></td>
    </tr>
  </tbody>
</table>
