<div class="col-sm-3 side-nav">

    <h5>Getting started</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#intro">Introduction</a></li>
        <li class="list-group-item"><a href="#start">Getting started</a></li>
        <li class="list-group-item"><a href="#base">Base URL</a></li>
        <li class="list-group-item"><a href="#auth">Authentication</a></li>
    </ul>

    <h5>Resources</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#resource-lists">Resource Lists</a></li>
        <li class="list-group-item"><a href="#ability-scores">Ability Scores</a></li>
        <li class="list-group-item"><a href="#conditions">Conditions</a></li>
        <li class="list-group-item"><a href="#damage-types">Damage Types</a></li>
        <li class="list-group-item"><a href="#languages">Languages</a></li>
    </ul>

    <h5>Classes</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#classes">Classes</a></li>
        <li class="list-group-item"><a href="#subclasses">Subclasses</a></li>
        <li class="list-group-item"><a href="#class-features">Features</a></li>
        <li class="list-group-item"><a href="#class-tables">Tables</a></li>
        <li class="list-group-item"><a href="#class-spellcasting">Spellcasting</a></li>
        <li class="list-group-item"><a href="#class-starting-equipment">Starting Equipment</a></li>
    </ul>

    <h5>Races</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#races">Races</a></li>
        <li class="list-group-item"><a href="#subraces">Subraces</a></li>
        <li class="list-group-item"><a href="#race-traits">Traits</a></li>
    </ul>

    <h5>Equipment</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#equipment">Equipment</a></li>
    </ul>

    <h5>Proficiencies</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#proficiencies">Proficiencies</a></li>
    </ul>

    <h5>Spellcasting</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#spells">Spells</a></li>
        <li class="list-group-item"><a href="#magic-schools">Magic Schools</a></li>
    </ul>

    <h5>Monsters</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#monsters">Monsters</a></li>
    </ul>

    <h5>Utility</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#namedapiresource">NamedAPIResource</a></li>
        <li class="list-group-item"><a href="#classapiresource">ClassAPIResource</a></li>
        <li class="list-group-item"><a href="#choice">Choices</a></li>
        <li class="list-group-item"><a href="#cost">Cost</a></li>
    </ul>
</div>