<h2 id="levels">Levels</h2>
<p>Object that describes character advancements for every level gained.</p>

<h3>GET api/classes/{index}/levels/{integer 1-20}</h3>

<pre><code>{
  "_id": "5e10e4780b1bb138c5b3b388",
  "index": 41,
  "level": 1,
  "ability_score_bonuses": 0,
  "prof_bonus": 2,
  "feature_choices": [],
  "features": [
    {
      "name": "Spellcasting",
      "url": "/api/features/spellcasting-cleric"
    },
    {
      "name": "Divine Domain",
      "url": "/api/features/divine-domain"
    },
    {
      "name": "Domain Spells 1",
      "url": "/api/features/domain-spells-1"
    }
  ],
  "spellcasting": {
    "cantrips_known": 3,
    "spells_known": 4,
    "spell_slots_level_1": 2,
    "spell_slots_level_2": 0,
    "spell_slots_level_3": 0,
    "spell_slots_level_4": 0,
    "spell_slots_level_5": 0,
    "spell_slots_level_6": 0,
    "spell_slots_level_7": 0,
    "spell_slots_level_8": 0,
    "spell_slots_level_9": 0
  },
  "class_specific": {
    "channel_divinity_charges": 0,
    "destroy_undead_cr": 0
  },
  "class": {
    "name": "Cleric",
    "url": "/api/classes/cleric"
  },
  "url": "/api/classes/cleric/level/1"
}</code></pre>

<h4>Level</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">_id</td>
      <td align="left">The string _id used by the database for this class resource</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">index</td>
      <td align="left">The level index for shorthand searching<.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">level</td>
      <td align="left">The number value for the current level object.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">ability_score_bonuses</td>
      <td align="left">
        Total number of ability score bonuses gained, added from previous levels.
      </td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">prof_bonus</td>
      <td align="left">Proficiency bonus for this class at the specified level.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">feature_choices</td>
      <td align="left">
        Special features which require a player to choose a new feature to be added.
      </td>
      <td align="left">
        list <a href="#namedapiresource">NamedAPIResource</a> (<a href="#features">Features</a>)
      </td>
    </tr>
    <tr>
      <td align="left">features</td>
      <td align="left">Features automatically gained by players at this level.</td>
      <td align="left">
        list <a href="#namedapiresource">NamedAPIResource</a> (<a href="#features">Features</a>)
      </td>
    </tr>
    <tr>
      <td align="left">spellcasting</td>
      <td align="left">
        Information regarding spellcasting, such as spell slots and number of cantrips.
      </td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">class_specific</td>
      <td align="left">
        Class specific information such as dice values for bard songs and number of warlock
        invocations.
      </td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">class</td>
      <td align="left">The class which this level refers to.</td>
      <td align="left">
        <a href="#namedapiresource">NamedAPIResource</a> (<a href="#class">Class</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
