<div class="col-sm-3 side-nav">

    <h5>Getting started</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#intro">Introduction</a></li>
        <li class="list-group-item"><a href="#start">Getting started</a></li>
        <li class="list-group-item"><a href="#base">Base URL</a></li>
        <li class="list-group-item"><a href="#auth">Authentication</a></li>
    </ul>

    <h5>Resources</h5>
    </a><ul class="list-group"><a href="#wookiee"></a>
        <li class="list-group-item"><a href="#wookiee"></a><a href="#root">Root</a></li>
        <li class="list-group-item"><a href="#classes">Classes</a></li>
    </ul>
</div>