<div class="container-fluid" style="margin-top: 60px;">
    <div class="row center">
        <div class="jumbotron">
            <h1>D&D 5e API</h1>
            <p>The 5th Edition D&D API</p>
        </div>
    </div>

    <div class="row">

        <% include ./doc-left-col %>
        <% include ./doc-content %>

    </div>
</div>
