<meta charset="UTF-8">
<meta name="description" content="D&D 5th Edition SRD API">
<meta name="keywords" content="Dungeons, Dragons, 5th, Edition, API, SRD">
<title>D&D 5th Edition API </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript "src="/js/code.js"></script>
<script type="text/javascript "src="/js/docs.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
<style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89541269-1', 'auto');
  ga('send', 'pageview');

</script>
