<meta charset="UTF-8">
<title>Super Awesome</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript "src="/js/code.js"></script>

</script>

<style>
    body { 
        margin: 0; 
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .center {
        text-align: center;
    }

    .pad_top {
        padding-top: 34px;
    }
</style>