<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header" style="padding-left: 15px;">
            <a class="navbar-brand" href="#">
                5e-srd-api
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/documentation">Documentation</a></li>
            </ul>
        </div>
      
    </div>
</nav>
