<div class="container-fluid" style="margin-top: 60px;">
    <div class="row center">
        <div class="jumbotron">
            <h1>D&D 5e API</h1>
            <p>The 5th Edition D&D API</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 center">
            <p>Just a simple api for things within the Official 5th Edition SRD</p>
            <p><b>All 12 Classes online!, try /classes</b></p>
            <p>Currently working on race database + adventuring gear</p>
        </div>
        <div class="col-lg-3">
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-sm-2 col-lg-2 col-md-2">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1 class="center">
                Try it now!
            </h1>
            <div class="input-group">
                <span class="input-group-addon">http://dnd5eapi.co/api/</span>
                <input id ="interactive" type="text" class="form-control" placeholder="spells/1/">
                <span class="input-group-btn">
                    <button onclick="interactive_call(); return false;" class="btn btn-primary">
                        request
                    </button>
            </div>
            <small>
                Need a hint? try <a href="#" onClick="update('classes/');return false;"><i>classes/</i></a> or <a href="#" onClick="update('features/');return false;"><i>features/</i></a> or <a href="#" onClick="update('monsters/3/');return false;"><i>monsters/3/</i></a> or <a href="#" onClick="update('spells/?name=Acid+Arrow');return false;"><i>spells/?name=Acid+Arrow</i></a>
            </small>
            <p class="lead pad_top">Result:</p>
            <div class="well">
                <pre id="interactive_output" class="pre-scrollable">
{
	"_id": "585e77cec9e7ce9f72141c0f",
	"index": 31,
	"name": "Blink",
	"desc": "Roll a d20 at the end of each of your turns for the duration of the spell. On a roll of 11 or higher, you vanish from your current plane of existence and appear in the Ethereal Plane (the spell fails and the casting is wasted if you were already on that plane). At the start of your next turn, and when the spell ends if you are on the Ethereal Plane, you return to an unoccupied space of your choice that you can see within 10 feet of the space you vanished from. If no unoccupied space is available within that range, you appear in the nearest unoccupied space (chosen at random if more than one space is equally near). You can dismiss this spell as an action.,While on the Ethereal Plane, you can see and hear the plane you originated from, which is cast in shades of gray, and you can’t see anything there more than 60 feet away. You can only affect and be affected by other creatures on the Ethereal Plane. Creatures that aren’t there can’t perceive you or interact with you, unless they have the ability to do so.",
	"page": "phb 219",
	"range": "Self",
	"components": [
		"V",
		"S"
	],
	"ritual": "no",
	"duration": "1 minute",
	"concentration": "no",
	"casting_time": "1 action",
	"level": 3,
	"school": "Transmutation",
	"classes": [
		"http://dnd5eapi.co/api/classes/3",
		"http://dnd5eapi.co/api/classes/10",
		"http://dnd5eapi.co/api/classes/11",
		"http://dnd5eapi.co/api/classes/12"
	],
	"url": "http://dnd5eapi.co/api/spells/31"
}
                </pre>
            </div>
        </div>
        <div class="col-sm-2 col-lg-2 col-md-2">
        </div>
    </div>

    <div class="row pad-bot">
        <div class="col-sm-1 col-lg-1 col-md-1">
        </div>
    </div>
</div>
