<div class="container-fluid" style="margin-top: 60px;">
    <div class="row center">
        <div class="jumbotron">
            <h1>D&D 5e API</h1>
            <p>The 5th Edition D&D API</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 center">
            <p>Just a simple api for things within the Official 5th Edition SRD</p>
            <p><b>Monsters and Spells for now, more to come</b></p>
            <p>Currently working on class & race database</p>
        </div>
        <div class="col-lg-3">
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-sm-2 col-lg-2 col-md-2">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1 class="center">
                Try it now!
            </h1>
            <div class="input-group">
                <span class="input-group-addon">http://dnd5eapi.co/api/</span>
                <input id ="interactive" type="text" class="form-control" placeholder="spells/1/">
                <span class="input-group-btn">
                    <button onclick="interactive_call(); return false;" class="btn btn-primary">
                        request
                    </button>
            </div>
            <small>
                Need a hint? try <a href="#" onClick="update('spells/1/');return false;"><i>spells/1/</i></a> or <a href="#" onClick="update('monsters/3/');return false;"><i>monsters/3/</i></a> or <a href="#" onClick="update('spells/?name=Acid+Arrow');return false;"><i>spells/?name=Acid+Arrow</i></a>
            </small>
            <p class="lead pad_top">Result:</p>
            <div class="well">
                <pre id="interactive_output" class="pre-scrollable">
{
	"_id": "585c6344c9e7ce9f72140ec6",
	"index": 1,
	"name": "Acid Arrow",
	"desc": "A shimmering green arrow streaks toward a target within range and bursts in a spray of acid. Make a ranged spell attack against the target. On a hit, the target takes 4d4 acid damage immediately and 2d4 acid damage at the end of its next turn. On a miss, the arrow splashes the target with acid for half as much of the initial damage and no damage at the end of its next turn.",
	"higher_level": "When you cast this spell using a spell slot of 3rd level or higher, the damage (both initial and later) increases by 1d4 for each slot level above 2nd.",
	"page": "phb 259",
	"range": "90 feet",
	"components": "V, S, M",
	"material": "Powdered rhubarb leaf and an adder’s stomach.",
	"ritual": "no",
	"duration": "Instantaneous",
	"concentration": "no",
	"casting_time": "1 action",
	"level": 2,
	"school": "Evocation",
	"classes": [
		"http://dnd5eapi.co/api/classes/4",
		"http://dnd5eapi.co/api/classes/12"
	],
	"subclass": [
		{
			"circle": "Swamp",
			"class": "Druid"
		}
	],
	"circles": "Swamp",
	"url": "http://dnd5eapi.co/api/spells/1"
}
                </pre>
            </div>
        </div>
        <div class="col-sm-2 col-lg-2 col-md-2">
        </div>
    </div>

    <div class="row pad-bot">
        <div class="col-sm-1 col-lg-1 col-md-1">
        </div>
    </div>
</div>
