{
  "openapi": "3.0.1",
  "info": {
    "title": "D&D 5e API",
    "description": "",
    "version": "0.1",
    "license": {
      "name": "MIT License",
      "url": "https://github.com/5e-bits/5e-srd-api/blob/main/LICENSE.md"
    },
    "contact": {
      "name": "5eBits",
      "url": "https://github.com/5e-bits"
    }
  },
  "servers": [
    {
      "url": "https://www.dnd5eapi.co",
      "description": "Production"
    },
    {
      "url": "http://127.0.0.1:3000",
      "description": "Local Development"
    }
  ],
  "security": [
    {}
  ],
  "tags": [
    {
      "name": "Common",
      "description": "General API endpoints and utilities"
    },
    {
      "name": "Character Data",
      "description": "Endpoints related to character creation and management data"
    }
  ],
  "paths": {
    "/api/2024": {
      "get": {
        "summary": "Get all resource URLs.",
        "description": "Making a request to the API's base URL returns an object containing available endpoints.",
        "tags": [
          "Common"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "example": {
                  "ability-scores": "/api/2024/ability-scores",
                  "alignments": "/api/2024/alignments",
                  "backgrounds": "/api/2024/backgrounds",
                  "classes": "/api/2024/classes",
                  "conditions": "/api/2024/conditions",
                  "damage-types": "/api/2024/damage-types",
                  "equipment": "/api/2024/equipment",
                  "equipment-categories": "/api/2024/equipment-categories",
                  "feats": "/api/2024/feats",
                  "features": "/api/2024/features",
                  "languages": "/api/2024/languages",
                  "locales": "/api/2024/locales",
                  "magic-items": "/api/2024/magic-items",
                  "magic-schools": "/api/2024/magic-schools",
                  "poisons": "/api/2024/poisons",
                  "proficiencies": "/api/2024/proficiencies",
                  "skills": "/api/2024/skills",
                  "species": "/api/2024/species",
                  "spells": "/api/2024/spells",
                  "subclasses": "/api/2024/subclasses",
                  "subspecies": "/api/2024/subspecies",
                  "traits": "/api/2024/traits",
                  "weapon-mastery-properties": "/api/2024/weapon-mastery-properties",
                  "weapon-properties": "/api/2024/weapon-properties"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/{endpoint}": {
      "get": {
        "summary": "Get list of all available resources for an endpoint.",
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/base-endpoint-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-ref-list-model-2024"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/ability-scores/{index}": {
      "get": {
        "summary": "Get an ability score by index.",
        "description": "# Ability Score\n\nRepresents one of the six abilities that describes a creature's physical and mental characteristics. The three main rolls of the game - the ability check, the saving throw, and the attack roll - rely on the ability scores.\n",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ability-score-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ability-score-model-2024"
                },
                "example": {
                  "index": "cha",
                  "name": "CHA",
                  "full_name": "Charisma",
                  "description": "Charisma measures your ability to interact effectively with others. It includes\nsuch factors as confidence and eloquence, and it can represent a charming or\ncommanding personality.\n",
                  "skills": [
                    {
                      "index": "deception",
                      "name": "Deception",
                      "url": "/api/2024/skills/deception"
                    },
                    {
                      "index": "intimidation",
                      "name": "Intimidation",
                      "url": "/api/2024/skills/intimidation"
                    },
                    {
                      "index": "performance",
                      "name": "Performance",
                      "url": "/api/2024/skills/performance"
                    },
                    {
                      "index": "persuasion",
                      "name": "Persuasion",
                      "url": "/api/2024/skills/persuasion"
                    }
                  ],
                  "url": "/api/2024/ability-scores/cha"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/alignments/{index}": {
      "get": {
        "summary": "Get an alignment by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/alignment-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alignment-model"
                },
                "example": {
                  "index": "lawful-good",
                  "name": "Lawful Good",
                  "abbreviation": "LG",
                  "description": "A lawful good character typically acts with compassion, and always with honor\nand a sense of duty.\n",
                  "url": "/api/2024/alignments/lawful-good"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/backgrounds/{index}": {
      "get": {
        "summary": "Get a background by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/background-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/background-model-2024"
                },
                "example": {
                  "index": "acolyte",
                  "name": "Acolyte",
                  "ability_scores": [
                    {
                      "index": "int",
                      "name": "INT",
                      "url": "/api/2024/ability-scores/int"
                    },
                    {
                      "index": "wis",
                      "name": "WIS",
                      "url": "/api/2024/ability-scores/wis"
                    },
                    {
                      "index": "cha",
                      "name": "CHA",
                      "url": "/api/2024/ability-scores/cha"
                    }
                  ],
                  "feat": {
                    "index": "magic-initiate-cleric",
                    "name": "Magic Initiate (Cleric)",
                    "url": "/api/2024/feats/magic-initiate-cleric"
                  },
                  "proficiencies": [
                    {
                      "index": "skill-insight",
                      "name": "Skill: Insight",
                      "url": "/api/2024/proficiencies/skill-insight"
                    },
                    {
                      "index": "skill-religion",
                      "name": "Skill: Religion",
                      "url": "/api/2024/proficiencies/skill-religion"
                    }
                  ],
                  "url": "/api/2024/backgrounds/acolyte"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/classes/{index}": {
      "get": {
        "summary": "Get a class by index.",
        "description": "# Class\n\nA character class is a fundamental part of the identity and nature of characters\nin the Dungeons & Dragons role-playing game. A character's capabilities, strengths,\nand weaknesses are largely defined by its class.\n",
        "tags": [
          "Class"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/class-model-2024"
                },
                "example": {
                  "index": "barbarian",
                  "name": "Barbarian",
                  "primary_ability": {
                    "desc": "Strength is your most important ability score.",
                    "ability_scores": [
                      {
                        "index": "str",
                        "name": "STR",
                        "url": "/api/2024/ability-scores/str"
                      }
                    ]
                  },
                  "hit_die": 12,
                  "class_levels": "/api/2024/classes/barbarian/levels",
                  "proficiencies": [
                    {
                      "index": "light-armor",
                      "name": "Light Armor",
                      "url": "/api/2024/proficiencies/light-armor"
                    },
                    {
                      "index": "medium-armor",
                      "name": "Medium Armor",
                      "url": "/api/2024/proficiencies/medium-armor"
                    },
                    {
                      "index": "shields",
                      "name": "Shields",
                      "url": "/api/2024/proficiencies/shields"
                    }
                  ],
                  "saving_throws": [
                    {
                      "index": "str",
                      "name": "STR",
                      "url": "/api/2024/ability-scores/str"
                    },
                    {
                      "index": "con",
                      "name": "CON",
                      "url": "/api/2024/ability-scores/con"
                    }
                  ],
                  "starting_equipment_options": [],
                  "subclasses": [
                    {
                      "index": "berserker",
                      "name": "Berserker",
                      "url": "/api/2024/subclasses/berserker"
                    }
                  ],
                  "url": "/api/2024/classes/barbarian"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/classes/{index}/spells": {
      "get": {
        "summary": "Get spells available for a class.",
        "tags": [
          "Class Resource Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index-2024"
          },
          {
            "$ref": "#/components/parameters/spell-level-filter-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/class-spell-list-model-2024"
                },
                "example": {
                  "count": 2,
                  "results": [
                    {
                      "index": "wish",
                      "name": "Wish",
                      "url": "/api/2024/spells/wish",
                      "level": 9
                    },
                    {
                      "index": "meteor-swarm",
                      "name": "Meteor Swarm",
                      "url": "/api/2024/spells/meteor-swarm",
                      "level": 9
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No class found for this index.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response-model-2024"
                },
                "example": {
                  "error": "Not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/classes/{index}/levels": {
      "get": {
        "summary": "Get all level resources for a class.",
        "description": "Returns full `Level` resources rather than an `APIReferenceList`. Pass the\n`subclass` query parameter to also include that subclass's levels.\n",
        "tags": [
          "Class Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index-2024"
          },
          {
            "$ref": "#/components/parameters/class-levels-subclass-filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/level-model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No levels found for this class.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response-model-2024"
                },
                "example": {
                  "error": "Not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/classes/{index}/levels/{level}": {
      "get": {
        "summary": "Get level resource for a class and level.",
        "tags": [
          "Class Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index-2024"
          },
          {
            "$ref": "#/components/parameters/class-level-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/level-model"
                },
                "example": {
                  "index": "barbarian-1",
                  "name": "Barbarian 1",
                  "level": 1,
                  "prof_bonus": 2,
                  "features": [
                    {
                      "index": "rage",
                      "name": "Rage",
                      "url": "/api/2024/features/rage"
                    },
                    {
                      "index": "barbarian-unarmored-defense",
                      "name": "Unarmored Defense",
                      "url": "/api/2024/features/barbarian-unarmored-defense"
                    }
                  ],
                  "class": {
                    "index": "barbarian",
                    "name": "Barbarian",
                    "url": "/api/2024/classes/barbarian"
                  },
                  "class_specific": {
                    "rage_count": 2,
                    "rage_damage_bonus": 2
                  },
                  "url": "/api/2024/classes/barbarian/levels/1"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/classes/{index}/levels/{level}/features": {
      "get": {
        "summary": "Get features available to a class at the requested level.",
        "tags": [
          "Class Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index-2024"
          },
          {
            "$ref": "#/components/parameters/class-level-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-ref-list-model-2024"
                },
                "example": {
                  "count": 2,
                  "results": [
                    {
                      "index": "barbarian-unarmored-defense",
                      "name": "Unarmored Defense",
                      "url": "/api/2024/features/barbarian-unarmored-defense"
                    },
                    {
                      "index": "rage",
                      "name": "Rage",
                      "url": "/api/2024/features/rage"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/classes/{index}/levels/{level}/spells": {
      "get": {
        "summary": "Get spells of the requested level available to the class.",
        "tags": [
          "Class Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index-2024"
          },
          {
            "$ref": "#/components/parameters/class-level-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-ref-list-model-2024"
                },
                "example": {
                  "count": 2,
                  "results": [
                    {
                      "index": "acid-arrow",
                      "name": "Acid Arrow",
                      "url": "/api/2024/spells/acid-arrow"
                    },
                    {
                      "index": "scorching-ray",
                      "name": "Scorching Ray",
                      "url": "/api/2024/spells/scorching-ray"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/conditions/{index}": {
      "get": {
        "summary": "Get a condition by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/condition-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/condition-model-2024"
                },
                "example": {
                  "index": "blinded",
                  "name": "Blinded",
                  "description": "A blinded creature can't see and automatically fails any ability check that\nrequires sight. Attack rolls against the creature have Advantage, and the\ncreature's Attack Rolls have Disadvantage.\n",
                  "url": "/api/2024/conditions/blinded"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/damage-types/{index}": {
      "get": {
        "summary": "Get a damage type by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/damage-type-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/damage-type-model-2024"
                },
                "example": {
                  "index": "acid",
                  "name": "Acid",
                  "description": "A caustic substance that can melt through flesh, metal, and other materials.\n",
                  "url": "/api/2024/damage-types/acid"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/equipment/{index}": {
      "get": {
        "summary": "Get equipment by index.",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/equipment-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equipment-model-2024"
                },
                "example": {
                  "index": "longsword",
                  "name": "Longsword",
                  "equipment_categories": [
                    {
                      "index": "weapon",
                      "name": "Weapon",
                      "url": "/api/2024/equipment-categories/weapon"
                    },
                    {
                      "index": "martial-weapons",
                      "name": "Martial Weapons",
                      "url": "/api/2024/equipment-categories/martial-weapons"
                    }
                  ],
                  "cost": {
                    "quantity": 15,
                    "unit": "gp"
                  },
                  "damage": {
                    "damage_type": {
                      "index": "slashing",
                      "name": "Slashing",
                      "url": "/api/2024/damage-types/slashing"
                    },
                    "damage_dice": "1d8"
                  },
                  "two_handed_damage": {
                    "damage_type": {
                      "index": "slashing",
                      "name": "Slashing",
                      "url": "/api/2024/damage-types/slashing"
                    },
                    "damage_dice": "1d10"
                  },
                  "properties": [
                    {
                      "index": "versatile",
                      "name": "Versatile",
                      "url": "/api/2024/weapon-properties/versatile"
                    }
                  ],
                  "weight": 3,
                  "url": "/api/2024/equipment/longsword"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/equipment-categories/{index}": {
      "get": {
        "summary": "Get an equipment category by index.",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/equipment-category-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equipment-category-model-2024"
                },
                "example": {
                  "index": "weapon",
                  "name": "Weapon",
                  "equipment": [
                    {
                      "index": "longsword",
                      "name": "Longsword",
                      "url": "/api/2024/equipment/longsword"
                    },
                    {
                      "index": "shortbow",
                      "name": "Shortbow",
                      "url": "/api/2024/equipment/shortbow"
                    }
                  ],
                  "url": "/api/2024/equipment-categories/weapon"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/feats/{index}": {
      "get": {
        "summary": "Get a feat by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feat-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/feat-model"
                },
                "example": {
                  "index": "alert",
                  "name": "Alert",
                  "type": "general",
                  "description": "Always on the lookout for danger, you gain the following benefits.\n",
                  "prerequisites": {
                    "minimum_level": 4
                  },
                  "url": "/api/2024/feats/alert"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/features/{index}": {
      "get": {
        "summary": "Get a feature by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feature-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/feature-model"
                },
                "example": {
                  "index": "rage",
                  "name": "Rage",
                  "description": "In battle, you fight with primal ferocity. On your turn, you can enter a\nrage as a Bonus Action.\n",
                  "level": {
                    "index": "barbarian-1",
                    "name": "Barbarian 1",
                    "url": "/api/2024/classes/barbarian/levels/1"
                  },
                  "class": {
                    "index": "barbarian",
                    "name": "Barbarian",
                    "url": "/api/2024/classes/barbarian"
                  },
                  "url": "/api/2024/features/rage"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/languages/{index}": {
      "get": {
        "summary": "Get a language by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/language-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/language-model"
                },
                "example": {
                  "index": "draconic",
                  "name": "Draconic",
                  "is_rare": false,
                  "note": "Draconic is thought to be one of the oldest languages, often used in\nthe study of magic.\n",
                  "url": "/api/2024/languages/draconic"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/locales": {
      "get": {
        "summary": "Get the list of supported translation locales.",
        "description": "Unlike other resource lists, `locales` results carry a `lang` field instead of\n`index`/`name`, since a locale is identified by its BCP 47 language tag.\n",
        "tags": [
          "Common"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/locale-model"
                      }
                    }
                  }
                },
                "example": {
                  "count": 1,
                  "results": [
                    {
                      "lang": "de",
                      "url": "/api/2024/locales/de"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/locales/{lang}": {
      "get": {
        "summary": "Get a locale by language tag.",
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/locale-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locale-model"
                },
                "example": {
                  "lang": "de",
                  "url": "/api/2024/locales/de"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/magic-items/{index}": {
      "get": {
        "summary": "Get a magic item by index.",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/magic-item-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic-item-model-2024"
                },
                "example": {
                  "index": "bag-of-holding",
                  "name": "Bag of Holding",
                  "desc": "This bag has an interior space considerably larger than its outside\ndimensions, which are roughly 2 feet in diameter at the mouth and 4\nfeet deep.\n",
                  "equipment_category": {
                    "index": "adventuring-gear",
                    "name": "Adventuring Gear",
                    "url": "/api/2024/equipment-categories/adventuring-gear"
                  },
                  "attunement": false,
                  "variant": false,
                  "variants": [],
                  "rarity": {
                    "name": "Uncommon"
                  },
                  "url": "/api/2024/magic-items/bag-of-holding"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/magic-schools/{index}": {
      "get": {
        "summary": "Get a magic school by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/magic-school-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic-school-model-2024"
                },
                "example": {
                  "index": "evocation",
                  "name": "Evocation",
                  "description": "Evocation spells manipulate magical energy to produce a desired effect,\nconjuring pure energy into a particular form.\n",
                  "url": "/api/2024/magic-schools/evocation"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/poisons/{index}": {
      "get": {
        "summary": "Get a poison by index.",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/poison-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/poison-model"
                },
                "example": {
                  "index": "basic-poison",
                  "name": "Basic Poison",
                  "cost": 100,
                  "type": "Ingested",
                  "description": "A creature subjected to this poison must succeed on a DC 10 Constitution\nsaving throw or take 1d4 Poison damage and become Poisoned for 1 hour.\n",
                  "url": "/api/2024/poisons/basic-poison"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/proficiencies/{index}": {
      "get": {
        "summary": "Get a proficiency by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/proficiency-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/proficiency-model"
                },
                "example": {
                  "index": "skill-athletics",
                  "name": "Skill: Athletics",
                  "type": "Skills",
                  "reference": {
                    "index": "athletics",
                    "name": "Athletics",
                    "url": "/api/2024/skills/athletics"
                  },
                  "classes": [],
                  "backgrounds": [
                    {
                      "index": "athlete",
                      "name": "Athlete",
                      "url": "/api/2024/backgrounds/athlete"
                    }
                  ],
                  "url": "/api/2024/proficiencies/skill-athletics"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/skills/{index}": {
      "get": {
        "summary": "Get a skill by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/skill-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skill-model"
                },
                "example": {
                  "index": "athletics",
                  "name": "Athletics",
                  "description": "Your Strength (Athletics) check covers difficult situations you encounter\nwhile climbing, jumping, or swimming.\n",
                  "ability_score": {
                    "index": "str",
                    "name": "STR",
                    "url": "/api/2024/ability-scores/str"
                  },
                  "url": "/api/2024/skills/athletics"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/species/{index}": {
      "get": {
        "summary": "Get a species by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/species-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/species-model"
                },
                "example": {
                  "index": "elf",
                  "name": "Elf",
                  "type": "Humanoid",
                  "size": "Medium",
                  "speed": 30,
                  "traits": [
                    {
                      "index": "darkvision",
                      "name": "Darkvision",
                      "url": "/api/2024/traits/darkvision"
                    },
                    {
                      "index": "fey-ancestry",
                      "name": "Fey Ancestry",
                      "url": "/api/2024/traits/fey-ancestry"
                    },
                    {
                      "index": "keen-senses",
                      "name": "Keen Senses",
                      "url": "/api/2024/traits/keen-senses"
                    },
                    {
                      "index": "trance",
                      "name": "Trance",
                      "url": "/api/2024/traits/trance"
                    }
                  ],
                  "subspecies": [
                    {
                      "index": "high-elf",
                      "name": "High Elf",
                      "url": "/api/2024/subspecies/high-elf"
                    }
                  ],
                  "url": "/api/2024/species/elf"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/species/{index}/subspecies": {
      "get": {
        "summary": "Get subspecies available for a species.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/species-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-ref-list-model-2024"
                },
                "example": {
                  "count": 1,
                  "results": [
                    {
                      "index": "high-elf",
                      "name": "High Elf",
                      "url": "/api/2024/subspecies/high-elf"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/species/{index}/traits": {
      "get": {
        "summary": "Get traits granted by a species.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/species-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-ref-list-model-2024"
                },
                "example": {
                  "count": 4,
                  "results": [
                    {
                      "index": "darkvision",
                      "name": "Darkvision",
                      "url": "/api/2024/traits/darkvision"
                    },
                    {
                      "index": "fey-ancestry",
                      "name": "Fey Ancestry",
                      "url": "/api/2024/traits/fey-ancestry"
                    },
                    {
                      "index": "keen-senses",
                      "name": "Keen Senses",
                      "url": "/api/2024/traits/keen-senses"
                    },
                    {
                      "index": "trance",
                      "name": "Trance",
                      "url": "/api/2024/traits/trance"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/spells": {
      "get": {
        "summary": "Get list of spells with optional filtering.",
        "tags": [
          "Spells"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/spell-level-filter-2024"
          },
          {
            "$ref": "#/components/parameters/spell-school-filter-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-ref-list-model-2024"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/spells/{index}": {
      "get": {
        "summary": "Get a spell by index.",
        "tags": [
          "Spells"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/spell-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/spell-model-2024"
                },
                "example": {
                  "index": "acid-arrow",
                  "name": "Acid Arrow",
                  "level": 2,
                  "school": {
                    "index": "evocation",
                    "name": "Evocation",
                    "url": "/api/2024/magic-schools/evocation"
                  },
                  "classes": [
                    {
                      "index": "wizard",
                      "name": "Wizard",
                      "url": "/api/2024/classes/wizard"
                    }
                  ],
                  "casting_time": "Action",
                  "ritual": false,
                  "range": "90 feet",
                  "components": [
                    "V",
                    "S",
                    "M"
                  ],
                  "material": "powdered rhubarb leaf",
                  "duration": "Instantaneous",
                  "concentration": false,
                  "attack_type": "ranged",
                  "damage": {
                    "damage_type": {
                      "index": "acid",
                      "name": "Acid",
                      "url": "/api/2024/damage-types/acid"
                    },
                    "damage_at_slot_level": {
                      "2": "4d4"
                    }
                  },
                  "description": "A shimmering green arrow streaks toward a target within range and bursts in a\nspray of acid. Make a ranged spell attack against the target. On a hit, the\ntarget takes 4d4 Acid damage and 2d4 Acid damage at the end of its next turn.\nOn a miss, the arrow splashes the target with acid for half as much of the\ninitial damage only.\n",
                  "higher_level": "The damage (both initial and later) increases by 1d4 for each spell slot level above 2.",
                  "url": "/api/2024/spells/acid-arrow"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/subclasses/{index}": {
      "get": {
        "summary": "Get a subclass by index.",
        "tags": [
          "Subclass"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subclass-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subclass-model-2024"
                },
                "example": {
                  "index": "berserker",
                  "name": "Berserker",
                  "class": {
                    "index": "barbarian",
                    "name": "Barbarian",
                    "url": "/api/2024/classes/barbarian"
                  },
                  "summary": "Berserkers commit themselves to a battle rage that borders on madness.",
                  "description": "For some barbarians, rage is a means to an end—that end being violence.\n",
                  "features": [
                    {
                      "name": "Frenzy",
                      "level": 3,
                      "description": "You can go into a frenzy when you rage.\n"
                    }
                  ],
                  "url": "/api/2024/subclasses/berserker"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/subclasses/{index}/levels": {
      "get": {
        "summary": "Get all level resources for a subclass.",
        "description": "Returns full `Level` resources rather than an `APIReferenceList`.\n",
        "tags": [
          "Subclass Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subclass-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/level-model"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No levels found for this subclass.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response-model-2024"
                },
                "example": {
                  "error": "Not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/subclasses/{index}/levels/{level}": {
      "get": {
        "summary": "Get level resource for a subclass and level.",
        "tags": [
          "Subclass Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subclass-index-2024"
          },
          {
            "$ref": "#/components/parameters/subclass-level"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/level-model"
                },
                "example": {
                  "index": "berserker-3",
                  "name": "Berserker 3",
                  "level": 3,
                  "features": [
                    {
                      "index": "berserker-frenzy",
                      "name": "Frenzy",
                      "url": "/api/2024/features/berserker-frenzy"
                    }
                  ],
                  "class": {
                    "index": "barbarian",
                    "name": "Barbarian",
                    "url": "/api/2024/classes/barbarian"
                  },
                  "subclass": {
                    "index": "berserker",
                    "name": "Berserker",
                    "url": "/api/2024/subclasses/berserker"
                  },
                  "url": "/api/2024/subclasses/berserker/levels/3"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/subclasses/{index}/levels/{level}/features": {
      "get": {
        "summary": "Get features available to a subclass at the requested level.",
        "tags": [
          "Subclass Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subclass-index-2024"
          },
          {
            "$ref": "#/components/parameters/subclass-level"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-ref-list-model-2024"
                },
                "example": {
                  "count": 1,
                  "results": [
                    {
                      "index": "berserker-frenzy",
                      "name": "Frenzy",
                      "url": "/api/2024/features/berserker-frenzy"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/subspecies/{index}": {
      "get": {
        "summary": "Get a subspecies by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subspecies-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subspecies-model"
                },
                "example": {
                  "index": "high-elf",
                  "name": "High Elf",
                  "species": {
                    "index": "elf",
                    "name": "Elf",
                    "url": "/api/2024/species/elf"
                  },
                  "traits": [
                    {
                      "index": "elf-weapon-training",
                      "name": "Elf Weapon Training",
                      "url": "/api/2024/traits/elf-weapon-training",
                      "level": 1
                    },
                    {
                      "index": "cantrip-elf",
                      "name": "Cantrip",
                      "url": "/api/2024/traits/cantrip-elf",
                      "level": 1
                    }
                  ],
                  "url": "/api/2024/subspecies/high-elf"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/subspecies/{index}/traits": {
      "get": {
        "summary": "Get traits granted by a subspecies.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subspecies-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-ref-list-model-2024"
                },
                "example": {
                  "count": 2,
                  "results": [
                    {
                      "index": "elf-weapon-training",
                      "name": "Elf Weapon Training",
                      "url": "/api/2024/traits/elf-weapon-training"
                    },
                    {
                      "index": "cantrip-elf",
                      "name": "Cantrip",
                      "url": "/api/2024/traits/cantrip-elf"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/traits/{index}": {
      "get": {
        "summary": "Get a trait by index.",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/trait-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trait-model"
                },
                "example": {
                  "index": "darkvision",
                  "name": "Darkvision",
                  "description": "You can see in dim light within 60 feet of you as if it were bright light,\nand in darkness within that range as if it were dim light.\n",
                  "species": [
                    {
                      "index": "elf",
                      "name": "Elf",
                      "url": "/api/2024/species/elf"
                    }
                  ],
                  "subspecies": [],
                  "url": "/api/2024/traits/darkvision"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/weapon-mastery-properties/{index}": {
      "get": {
        "summary": "Get a weapon mastery property by index.",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/weapon-mastery-property-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/weapon-mastery-property-model"
                },
                "example": {
                  "index": "cleave",
                  "name": "Cleave",
                  "description": "If you hit a creature with a melee attack roll using a weapon that has the\nCleave property, you can make a melee attack roll against a second creature\nwithin 5 feet of the first that is also within your weapon's reach.\n",
                  "url": "/api/2024/weapon-mastery-properties/cleave"
                }
              }
            }
          }
        }
      }
    },
    "/api/2024/weapon-properties/{index}": {
      "get": {
        "summary": "Get a weapon property by index.",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/weapon-property-index-2024"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/weapon-property-model-2024"
                },
                "example": {
                  "index": "versatile",
                  "name": "Versatile",
                  "description": "This weapon can be used with one or two hands. A damage value in parentheses\nappears with the property, which is the damage when the weapon is used with\ntwo hands to make a melee attack.\n",
                  "url": "/api/2024/weapon-properties/versatile"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "common": {
        "name": "endpoint",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "ability-scores",
            "alignments",
            "backgrounds",
            "classes",
            "conditions",
            "damage-types",
            "equipment",
            "equipment-categories",
            "feats",
            "features",
            "languages",
            "magic-items",
            "magic-schools",
            "proficiencies",
            "races",
            "rule-sections",
            "rules",
            "skills",
            "spells",
            "subclasses",
            "subraces",
            "traits",
            "weapon-properties"
          ],
          "example": "ability-scores"
        }
      },
      "ability-scores": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the ability score to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "cha",
            "con",
            "dex",
            "int",
            "str",
            "wis"
          ],
          "example": "cha"
        }
      },
      "alignments": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the alignment to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "chaotic-neutral",
            "chaotic-evil",
            "chaotic-good",
            "lawful-neutral",
            "lawful-evil",
            "lawful-good",
            "neutral",
            "neutral-evil",
            "neutral-good"
          ],
          "example": "chaotic-neutral"
        }
      },
      "backgrounds": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the background to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "acolyte"
          ],
          "example": "acolyte"
        }
      },
      "class-index": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the class to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "barbarian",
            "bard",
            "cleric",
            "druid",
            "fighter",
            "monk",
            "paladin",
            "ranger",
            "rogue",
            "sorcerer",
            "warlock",
            "wizard"
          ],
          "example": "paladin"
        }
      },
      "level-filter": {
        "name": "level",
        "in": "query",
        "required": false,
        "description": "The level or levels to filter on.",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "examples": {
          "single-value": {
            "value": [
              1
            ]
          },
          "multiple-value": {
            "value": [
              1,
              2
            ]
          }
        }
      },
      "levels-subclass-filter": {
        "name": "subclass",
        "in": "query",
        "required": false,
        "description": "Adds subclasses for class to the response",
        "schema": {
          "type": "string"
        },
        "examples": {
          "single-value": {
            "value": "berserker"
          },
          "partial-value": {
            "value": "ber"
          }
        }
      },
      "class-level": {
        "name": "class_level",
        "in": "path",
        "required": true,
        "schema": {
          "type": "number",
          "minimum": 0,
          "maximum": 20,
          "example": 3
        }
      },
      "spell-level": {
        "name": "spell_level",
        "in": "path",
        "required": true,
        "schema": {
          "type": "number",
          "minimum": 1,
          "maximum": 9,
          "example": 4
        }
      },
      "conditions": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the condition to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "blinded",
            "charmed",
            "deafened",
            "exhaustion",
            "frightened",
            "grappled",
            "incapacitated",
            "invisible",
            "paralyzed",
            "petrified",
            "poisoned",
            "prone",
            "restrained",
            "stunned",
            "unconscious"
          ],
          "example": "blinded"
        }
      },
      "damage-types": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the damage type to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "acid",
            "bludgeoning",
            "cold",
            "fire",
            "force",
            "lightning",
            "necrotic",
            "piercing",
            "poison",
            "psychic",
            "radiant",
            "slashing",
            "thunder"
          ],
          "example": "acid"
        }
      },
      "equipment": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the equipment to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `equipment`.\n",
        "schema": {
          "type": "string",
          "example": "club"
        }
      },
      "features": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the feature to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `features`.\n",
        "schema": {
          "type": "string"
        },
        "example": "action-surge-1-use"
      },
      "languages": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the language to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "abyssal",
            "celestial",
            "common",
            "deep-speech",
            "draconic",
            "dwarvish",
            "elvish",
            "giant",
            "gnomish",
            "goblin",
            "halfling",
            "infernal",
            "orc",
            "primordial",
            "sylvan",
            "undercommon"
          ],
          "example": "abyssal"
        }
      },
      "magic-schools": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the magic school to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "abjuration",
            "conjuration",
            "divination",
            "enchantment",
            "evocation",
            "illusion",
            "necromancy",
            "transmutation"
          ],
          "example": "abjuration"
        }
      },
      "challenge-rating-filter": {
        "name": "challenge_rating",
        "in": "query",
        "required": false,
        "description": "The challenge rating or ratings to filter on.",
        "schema": {
          "type": "array",
          "items": {
            "type": "number"
          }
        },
        "examples": {
          "single-value": {
            "value": [
              1
            ]
          },
          "multiple-value": {
            "value": [
              1,
              2
            ]
          },
          "multiple-value-with-float": {
            "value": [
              2,
              0.25
            ]
          }
        }
      },
      "monsters": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the `Monster` to get.\n",
        "schema": {
          "type": "string",
          "example": "aboleth"
        }
      },
      "proficiencies": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the proficiency to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `proficiencies`.\n",
        "schema": {
          "type": "string",
          "example": "medium-armor"
        }
      },
      "races": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the race to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "dragonborn",
            "dwarf",
            "elf",
            "gnome",
            "half-elf",
            "half-orc",
            "halfling",
            "human",
            "tiefling"
          ],
          "example": "elf"
        }
      },
      "rule-sections": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the rule section to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "ability-checks",
            "ability-scores-and-modifiers",
            "actions-in-combat",
            "activating-an-item",
            "advantage-and-disadvantage",
            "attunement",
            "between-adventures",
            "casting-a-spell",
            "cover",
            "damage-and-healing",
            "diseases",
            "fantasy-historical-pantheons",
            "madness",
            "making-an-attack",
            "mounted-combat",
            "movement",
            "movement-and-position",
            "objects",
            "poisons",
            "proficiency-bonus",
            "resting",
            "saving-throws",
            "sentient-magic-items",
            "standard-exchange-rates",
            "the-environment",
            "the-order-of-combat",
            "the-planes-of-existence",
            "time",
            "traps",
            "underwater-combat",
            "using-each-ability",
            "wearing-and-wielding-items",
            "what-is-a-spell"
          ],
          "example": "traps"
        }
      },
      "rules": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the rule to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "adventuring",
            "appendix",
            "combat",
            "equipment",
            "spellcasting",
            "using-ability-scores"
          ],
          "example": "adventuring"
        }
      },
      "skills": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the skill to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "acrobatics",
            "animal-handling",
            "arcana",
            "athletics",
            "deception",
            "history",
            "insight",
            "intimidation",
            "investigation",
            "medicine",
            "nature",
            "perception",
            "performance",
            "persuasion",
            "religion",
            "sleight-of-hand",
            "stealth",
            "survival"
          ],
          "example": "nature"
        }
      },
      "school-filter": {
        "name": "school",
        "in": "query",
        "required": false,
        "description": "The magic school or schools to filter on.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "single-value": {
            "value": [
              "illusion"
            ]
          },
          "multiple-value": {
            "value": [
              "evocation",
              "illusion"
            ]
          },
          "partial-value": {
            "value": [
              "illu"
            ]
          }
        }
      },
      "spells": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the `Spell` to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `spells`.\n",
        "schema": {
          "type": "string",
          "example": "sacred-flame"
        }
      },
      "subclasses": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the subclass to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "berserker",
            "champion",
            "devotion",
            "draconic",
            "evocation",
            "fiend",
            "hunter",
            "land",
            "life",
            "lore",
            "open-hand",
            "thief"
          ],
          "example": "fiend"
        }
      },
      "subraces": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the subrace to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "high-elf",
            "hill-dwarf",
            "lightfoot-halfling",
            "rock-gnome"
          ],
          "example": "hill-dwarf"
        }
      },
      "traits": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the `Trait` to get.",
        "schema": {
          "type": "string",
          "enum": [
            "artificers-lore",
            "brave",
            "breath-weapon",
            "damage-resistance",
            "darkvision",
            "draconic-ancestry",
            "draconic-ancestry-black",
            "draconic-ancestry-blue",
            "draconic-ancestry-brass",
            "draconic-ancestry-bronze",
            "draconic-ancestry-copper",
            "draconic-ancestry-gold",
            "draconic-ancestry-green",
            "draconic-ancestry-red",
            "draconic-ancestry-silver",
            "draconic-ancestry-white",
            "dwarven-combat-training",
            "dwarven-resilience",
            "dwarven-toughness",
            "elf-weapon-training",
            "extra-language",
            "fey-ancestry",
            "gnome-cunning",
            "halfling-nimbleness",
            "hellish-resistance",
            "high-elf-cantrip",
            "infernal-legacy",
            "keen-senses",
            "lucky",
            "menacing",
            "naturally-stealthy",
            "relentless-endurance",
            "savage-attacks",
            "skill-versatility",
            "stonecunning",
            "tinker",
            "tool-proficiency",
            "trance"
          ],
          "example": "trance"
        }
      },
      "weapon-properties": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the weapon property to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "ammunition",
            "finesse",
            "heavy",
            "light",
            "loading",
            "monk",
            "reach",
            "special",
            "thrown",
            "two-handed",
            "versatile"
          ],
          "example": "ammunition"
        }
      },
      "base-endpoint-index-2024": {
        "name": "endpoint",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "ability-scores",
            "alignments",
            "backgrounds",
            "classes",
            "conditions",
            "damage-types",
            "equipment",
            "equipment-categories",
            "feats",
            "features",
            "languages",
            "locales",
            "magic-items",
            "magic-schools",
            "poisons",
            "proficiencies",
            "skills",
            "species",
            "spells",
            "subclasses",
            "subspecies",
            "traits",
            "weapon-mastery-properties",
            "weapon-properties"
          ],
          "example": "ability-scores"
        }
      },
      "ability-score-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the ability score to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "cha",
            "con",
            "dex",
            "int",
            "str",
            "wis"
          ],
          "example": "cha"
        }
      },
      "alignment-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the alignment to get.\n",
        "schema": {
          "type": "string",
          "example": "lawful-good"
        }
      },
      "background-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the background to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `backgrounds`.\n",
        "schema": {
          "type": "string",
          "example": "acolyte"
        }
      },
      "class-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the class to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "barbarian",
            "bard",
            "cleric",
            "druid",
            "fighter",
            "monk",
            "paladin",
            "ranger",
            "rogue",
            "sorcerer",
            "warlock",
            "wizard"
          ],
          "example": "barbarian"
        }
      },
      "spell-level-filter-2024": {
        "name": "level",
        "in": "query",
        "required": false,
        "description": "The level or levels to filter on.",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "examples": {
          "single-value": {
            "value": [
              1
            ]
          },
          "multiple-value": {
            "value": [
              1,
              2
            ]
          }
        }
      },
      "class-levels-subclass-filter": {
        "name": "subclass",
        "in": "query",
        "required": false,
        "description": "Filters the levels list down to a single subclass's levels (in addition to the base class levels).",
        "schema": {
          "type": "string"
        },
        "examples": {
          "single-value": {
            "value": "berserker"
          },
          "partial-value": {
            "value": "ber"
          }
        }
      },
      "class-level-2024": {
        "name": "level",
        "in": "path",
        "required": true,
        "schema": {
          "type": "number",
          "minimum": 1,
          "maximum": 20,
          "example": 3
        }
      },
      "condition-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the condition to get.\n",
        "schema": {
          "type": "string",
          "example": "blinded"
        }
      },
      "damage-type-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the damage type to get.\n",
        "schema": {
          "type": "string",
          "example": "acid"
        }
      },
      "equipment-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the equipment to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `equipment`.\n",
        "schema": {
          "type": "string",
          "example": "longsword"
        }
      },
      "equipment-category-index": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the equipment category to get.\n",
        "schema": {
          "type": "string",
          "example": "weapon"
        }
      },
      "feat-index": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the feat to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `feats`.\n",
        "schema": {
          "type": "string",
          "example": "alert"
        }
      },
      "feature-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the feature to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `features`.\n",
        "schema": {
          "type": "string",
          "example": "rage"
        }
      },
      "language-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the language to get.\n",
        "schema": {
          "type": "string",
          "example": "draconic"
        }
      },
      "locale-index": {
        "name": "lang",
        "in": "path",
        "required": true,
        "description": "The BCP 47 language tag of the locale to get (e.g. `de`, `fr`, `pt-BR`).\n",
        "schema": {
          "type": "string",
          "example": "de"
        }
      },
      "magic-item-index": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the magic item to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `magic-items`.\n",
        "schema": {
          "type": "string",
          "example": "bag-of-holding"
        }
      },
      "magic-school-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the magic school to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "abjuration",
            "conjuration",
            "divination",
            "enchantment",
            "evocation",
            "illusion",
            "necromancy",
            "transmutation"
          ],
          "example": "evocation"
        }
      },
      "monster-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the `Monster` to get.\n",
        "schema": {
          "type": "string",
          "example": "aboleth"
        }
      },
      "poison-index": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the poison to get.\n",
        "schema": {
          "type": "string",
          "example": "basic-poison"
        }
      },
      "proficiency-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the proficiency to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `proficiencies`.\n",
        "schema": {
          "type": "string",
          "example": "skill-athletics"
        }
      },
      "skill-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the skill to get.\n",
        "schema": {
          "type": "string",
          "enum": [
            "acrobatics",
            "animal-handling",
            "arcana",
            "athletics",
            "deception",
            "history",
            "insight",
            "intimidation",
            "investigation",
            "medicine",
            "nature",
            "perception",
            "performance",
            "persuasion",
            "religion",
            "sleight-of-hand",
            "stealth",
            "survival"
          ],
          "example": "athletics"
        }
      },
      "species-index": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the species to get.\n",
        "schema": {
          "type": "string",
          "example": "elf"
        }
      },
      "spell-school-filter-2024": {
        "name": "school",
        "in": "query",
        "required": false,
        "description": "The magic school or schools to filter on.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "single-value": {
            "value": [
              "evocation"
            ]
          },
          "multiple-value": {
            "value": [
              "evocation",
              "illusion"
            ]
          }
        }
      },
      "spell-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the `Spell` to get.\n\nAvailable values can be found in the [`ResourceList`](/api/2024/get-list-of-all-available-resources-for-an-endpoint) for `spells`.\n",
        "schema": {
          "type": "string",
          "example": "acid-arrow"
        }
      },
      "subclass-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the subclass to get.\n",
        "schema": {
          "type": "string",
          "example": "berserker"
        }
      },
      "subclass-level": {
        "name": "level",
        "in": "path",
        "required": true,
        "schema": {
          "type": "number",
          "minimum": 1,
          "maximum": 20,
          "example": 3
        }
      },
      "subspecies-index": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the subspecies to get.\n",
        "schema": {
          "type": "string",
          "example": "high-elf"
        }
      },
      "trait-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the trait to get.\n",
        "schema": {
          "type": "string",
          "example": "darkvision"
        }
      },
      "weapon-mastery-property-index": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the weapon mastery property to get.\n",
        "schema": {
          "type": "string",
          "example": "cleave"
        }
      },
      "weapon-property-index-2024": {
        "name": "index",
        "in": "path",
        "required": true,
        "description": "The `index` of the weapon property to get.\n",
        "schema": {
          "type": "string",
          "example": "versatile"
        }
      },
      "ability-score-index": {
        "$ref": "#/components/parameters/ability-scores"
      },
      "alignment-index": {
        "$ref": "#/components/parameters/alignments"
      },
      "language-index": {
        "$ref": "#/components/parameters/languages"
      },
      "proficiency-index": {
        "$ref": "#/components/parameters/proficiencies"
      },
      "skill-index": {
        "$ref": "#/components/parameters/skills"
      },
      "background-index": {
        "$ref": "#/components/parameters/backgrounds"
      },
      "weapon-property-index": {
        "$ref": "#/components/parameters/weapon-properties"
      },
      "condition-index": {
        "$ref": "#/components/parameters/conditions"
      },
      "damage-type-index": {
        "$ref": "#/components/parameters/damage-types"
      },
      "magic-school-index": {
        "$ref": "#/components/parameters/magic-schools"
      },
      "equipment-index": {
        "$ref": "#/components/parameters/equipment"
      },
      "feature-index": {
        "$ref": "#/components/parameters/features"
      },
      "rule-index": {
        "$ref": "#/components/parameters/rules"
      },
      "rule-section-index": {
        "$ref": "#/components/parameters/rule-sections"
      },
      "race-index": {
        "$ref": "#/components/parameters/races"
      },
      "subclass-index": {
        "$ref": "#/components/parameters/subclasses"
      },
      "subrace-index": {
        "$ref": "#/components/parameters/subraces"
      },
      "trait-index": {
        "$ref": "#/components/parameters/traits"
      },
      "monster-index": {
        "$ref": "#/components/parameters/monsters"
      },
      "spell-index": {
        "$ref": "#/components/parameters/spells"
      },
      "base-endpoint-index": {
        "$ref": "#/components/parameters/common"
      }
    },
    "schemas": {
      "api-ref-model": {
        "description": "`APIReference`\n",
        "type": "object",
        "properties": {
          "index": {
            "description": "Resource index for shorthand searching.",
            "type": "string"
          },
          "name": {
            "description": "Name of the referenced resource.",
            "type": "string"
          },
          "url": {
            "description": "URL of the referenced resource.",
            "type": "string"
          },
          "updated_at": {
            "description": "Date and time the resource was last updated.",
            "type": "string"
          }
        }
      },
      "api-ref-list-model": {
        "description": "`APIReferenceList`\n",
        "type": "object",
        "properties": {
          "count": {
            "description": "Total number of resources available.",
            "type": "number"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api-ref-model"
            }
          }
        }
      },
      "resource-description-model": {
        "type": "object",
        "properties": {
          "desc": {
            "description": "Description of the resource.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ability-score-model": {
        "description": "`AbilityScore`\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/api-ref-model"
          },
          {
            "$ref": "#/components/schemas/resource-description-model"
          },
          {
            "type": "object",
            "properties": {
              "full_name": {
                "description": "Full name of the ability score.",
                "type": "string"
              },
              "skills": {
                "description": "List of skills that use this ability score.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/api-ref-model"
                }
              }
            }
          }
        ]
      },
      "alignments": {
        "description": "`Alignment`\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/api-ref-model"
          },
          {
            "type": "object",
            "properties": {
              "desc": {
                "description": "Brief description of the resource.",
                "type": "string"
              },
              "abbreviation": {
                "description": "Abbreviation/initials/acronym for the alignment.",
                "type": "string"
              }
            }
          }
        ]
      },
      "option-model": {
        "description": "`Option`\n",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "item": {
                "$ref": "#/components/schemas/api-ref-model"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "action_name": {
                "description": "The name of the action.",
                "type": "string"
              },
              "count": {
                "description": "The number of times this action can be repeated if chosen.",
                "type": "number"
              },
              "type": {
                "description": "For attack options that can be melee, ranged, abilities, or thrown.",
                "type": "string",
                "enum": [
                  "melee",
                  "ranged",
                  "ability",
                  "magic"
                ]
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/option-model"
                }
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "choice": {
                "$ref": "#/components/schemas/choice-model"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "string": {
                "description": "The string.",
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "desc": {
                "description": "A description of the ideal.",
                "type": "string"
              },
              "alignments": {
                "description": "A list of alignments of those who might follow the ideal.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/api-ref-model"
                }
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "count": {
                "description": "Count",
                "type": "number"
              },
              "of": {
                "$ref": "#/components/schemas/api-ref-model"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "ability_score": {
                "$ref": "#/components/schemas/api-ref-model"
              },
              "minimum_score": {
                "description": "The minimum score required to satisfy the prerequisite.",
                "type": "number"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "ability_score": {
                "$ref": "#/components/schemas/api-ref-model"
              },
              "bonus": {
                "description": "The bonus being applied to the ability score",
                "type": "number"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "name": {
                "description": "Name of the breath",
                "type": "string"
              },
              "dc": {
                "$ref": "#/components/schemas/dc-model"
              },
              "damage": {
                "description": "Damage dealt by the breath attack, if any.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/damage-model"
                }
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_type": {
                "description": "Type of option; determines other attributes.",
                "type": "string"
              },
              "damage_type": {
                "$ref": "#/components/schemas/api-ref-model"
              },
              "damage_dice": {
                "description": "Damage expressed in dice (e.g. \"13d6\").",
                "type": "string"
              },
              "notes": {
                "description": "Information regarding the damage.",
                "type": "string"
              }
            }
          }
        ]
      },
      "choice-model": {
        "description": "`Choice`\n",
        "type": "object",
        "properties": {
          "desc": {
            "description": "Description of the choice to be made.",
            "type": "string"
          },
          "choose": {
            "description": "Number of items to pick from the list.",
            "type": "number"
          },
          "type": {
            "description": "Type of the resources to choose from.",
            "type": "string"
          },
          "from": {
            "$ref": "#/components/schemas/option-set-model"
          }
        }
      },
      "dc-model": {
        "description": "`DC`\n",
        "type": "object",
        "properties": {
          "dc_type": {
            "$ref": "#/components/schemas/api-ref-model"
          },
          "dc_value": {
            "description": "Value to beat. Optional.",
            "type": "number"
          },
          "success_type": {
            "description": "Result of a successful save. Can be \\\"none\\\", \\\"half\\\", or \\\"other\\\"",
            "type": "string"
          }
        }
      },
      "damage-model": {
        "description": "`Damage`\n",
        "type": "object",
        "properties": {
          "damage_dice": {
            "type": "string"
          },
          "damage_type": {
            "$ref": "#/components/schemas/api-ref-model"
          }
        }
      },
      "option-set-model": {
        "description": "`Option Set`\n",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "option_set_type": {
                "description": "Type of option set; determines other attributes.",
                "type": "string"
              },
              "options_array": {
                "description": "Array of options to choose from.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/option-model"
                }
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_set_type": {
                "description": "Type of option set; determines other attributes.",
                "type": "string"
              },
              "equipment_category": {
                "$ref": "#/components/schemas/api-ref-model"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "option_set_type": {
                "description": "Type of option set; determines other attributes.",
                "type": "string"
              },
              "resource_list_url": {
                "description": "A reference (by URL) to a collection in the database.",
                "type": "string"
              }
            }
          }
        ]
      },
      "background-model": {
        "description": "`Background`\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/api-ref-model"
          },
          {
            "type": "object",
            "properties": {
              "starting_proficiencies": {
                "description": "Starting proficiencies for all new characters of this background.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/api-ref-model"
                }
              },
              "starting_equipment": {
                "description": "Starting equipment for all new characters of this background.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "quantity": {
                      "type": "number"
                    },
                    "equipment": {
                      "$ref": "#/components/schemas/api-ref-model"
                    }
                  }
                }
              },
              "starting_equipment_options": {
                "description": "List of choices of starting equipment.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/choice-model"
                }
              },
              "language_options": {
                "$ref": "#/components/schemas/choice-model"
              },
              "feature": {
                "description": "Special feature granted to new characters of this background.",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "desc": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "personality_traits": {
                "$ref": "#/components/schemas/choice-model"
              },
              "ideals": {
                "$ref": "#/components/schemas/choice-model"
              },
              "bonds": {
                "$ref": "#/components/schemas/choice-model"
              },
              "flaws": {
                "$ref": "#/components/schemas/choice-model"
              }
            }
          }
        ]
      },
      "prerequisite-model": {
        "description": "`Prerequisite`\n",
        "type": "object",
        "properties": {
          "ability_score": {
            "allOf": [
              {
                "$ref": "#/components/schemas/api-ref-model"
              }
            ]
          },
          "minimum_score": {
            "description": "Minimum score to meet the prerequisite.",
            "type": "number"
          }
        }
      },
      "multiclassing": {
        "description": "`Multiclassing`\n",
        "type": "object",
        "properties": {
          "prerequisites": {
            "description": "List of prerequisites that must be met.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/prerequisite-model"
            }
          },
          "prerequisite_options": {
            "description": "List of choices of prerequisites to meet for.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/choice-model"
            }
          },
          "proficiencies": {
            "description": "List of proficiencies available when multiclassing.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api-ref-model"
            }
          },
          "proficiency_choices": {
            "description": "List of choices of proficiencies that are given when multiclassing.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/choice-model"
            }
          }
        }
      },
      "spellcasting": {
        "type": "object",
        "description": "`Spellcasting`\n",
        "properties": {
          "level": {
            "description": "Level at which the class can start using its spellcasting abilities.",
            "type": "number"
          },
          "info": {
            "description": "Descriptions of the class' ability to cast spells.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "Feature name.",
                  "type": "string"
[...]
