{
  "openapi": "3.0.1",
  "info": {
    "title": "D&D 5e API",
    "description": "",
    "version": "0.1",
    "license": {
      "name": "MIT License",
      "url": "https://github.com/5e-bits/5e-srd-api/blob/main/LICENSE.md"
    },
    "contact": {
      "name": "5eBits",
      "url": "https://github.com/5e-bits"
    }
  },
  "servers": [
    {
      "url": "https://www.dnd5eapi.co",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local Development"
    }
  ],
  "tags": [
    {
      "name": "Common"
    },
    {
      "name": "Character Data"
    }
  ],
  "paths": {
    "/api/2014": {
      "get": {
        "summary": "Get all resource URLs.",
        "description": "Making a request to the API's base URL returns an object containing available endpoints.",
        "tags": [
          "Common"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "example": {
                  "ability-scores": "/api/2014/ability-scores",
                  "alignments": "/api/2014/alignments",
                  "backgrounds": "/api/2014/backgrounds",
                  "classes": "/api/2014/classes",
                  "conditions": "/api/2014/conditions",
                  "damage-types": "/api/2014/damage-types",
                  "equipment-categories": "/api/2014/equipment-categories",
                  "equipment": "/api/2014/equipment",
                  "feats": "/api/2014/feats",
                  "features": "/api/2014/features",
                  "languages": "/api/2014/languages",
                  "magic-items": "/api/2014/magic-items",
                  "magic-schools": "/api/2014/magic-schools",
                  "monsters": "/api/2014/monsters",
                  "proficiencies": "/api/2014/proficiencies",
                  "races": "/api/2014/races",
                  "rules": "/api/2014/rules",
                  "rule-sections": "/api/2014/rule-sections",
                  "skills": "/api/2014/skills",
                  "spells": "/api/2014/spells",
                  "subclasses": "/api/2014/subclasses",
                  "subraces": "/api/2014/subraces",
                  "traits": "/api/2014/traits",
                  "weapon-properties": "/api/2014/weapon-properties"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/{endpoint}": {
      "get": {
        "summary": "Get list of all available resources for an endpoint.",
        "description": "Currently only the [`/spells`](#get-/api/2014/spells) and [`/monsters`](#get-/api/2014/monsters) endpoints support filtering with query parameters. Use of these query parameters is documented under the respective [Spells](#tag--Spells) and [Monsters](#tag--Monsters) sections.\n",
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/base-endpoint-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/ability-scores/{index}": {
      "get": {
        "summary": "Get an ability score by index.",
        "description": "# Ability Score\n\nRepresents one of the six abilities that describes a creature's physical and mental characteristics. The three main rolls of the game - the ability check, the saving throw, and the attack roll - rely on the ability scores. [[SRD p76](https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf#page=76)]\n",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ability-score-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbilityScore"
                },
                "example": {
                  "index": "cha",
                  "name": "CHA",
                  "url": "/api/2014/ability-scores/cha",
                  "desc": [
                    "Charisma measures your ability to interact effectively with others. It includes such factors as confidence and eloquence, and it can represent a charming or commanding personality.",
                    "A Charisma check might arise when you try to influence or entertain others, when you try to make an impression or tell a convincing lie, or when you are navigating a tricky social situation. The Deception, Intimidation, Performance, and Persuasion skills reflect aptitude in certain kinds of Charisma checks."
                  ],
                  "full_name": "Charisma",
                  "skills": [
                    {
                      "index": "deception",
                      "name": "Deception",
                      "url": "/api/2014/skills/deception"
                    },
                    {
                      "index": "intimidation",
                      "name": "Intimidation",
                      "url": "/api/2014/skills/intimidation"
                    },
                    {
                      "index": "performance",
                      "name": "Performance",
                      "url": "/api/2014/skills/performance"
                    },
                    {
                      "index": "persuasion",
                      "name": "Persuasion",
                      "url": "/api/2014/skills/persuasion"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/alignments/{index}": {
      "get": {
        "summary": "Get an alignment by index.",
        "description": "# Alignment\n\nA typical creature in the game world has an alignment, which broadly describes its moral and personal attitudes. Alignment is a combination of two factors: one identifies morality (good, evil, or neutral), and the other describes attitudes toward society and order (lawful, chaotic, or neutral). Thus, nine distinct alignments define the possible combinations.[[SRD p58](https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf#page=58)]\n",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/alignment-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alignment"
                },
                "example": {
                  "index": "chaotic-neutral",
                  "name": "Chaotic Neutral",
                  "url": "/api/2014/alignments/chaotic-neutral",
                  "desc": "Chaotic neutral (CN) creatures follow their whims, holding their personal freedom above all else. Many barbarians and rogues, and some bards, are chaotic neutral.",
                  "abbreviation": "CN"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/backgrounds/{index}": {
      "get": {
        "summary": "Get a background by index.",
        "description": "# Background\n\nEvery story has a beginning. Your character's background reveals where you came from, how you became an adventurer, and your place in the world. Choosing a background provides you with important story cues about your character's identity. [[SRD p60](https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf#page=60)]\n\n_Note:_ acolyte is the only background included in the SRD.\n",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/background-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Background"
                },
                "example": {
                  "index": "acolyte",
                  "name": "Acolyte",
                  "starting_proficiencies": [
                    {
                      "index": "skill-insight",
                      "name": "Skill: Insight",
                      "url": "/api/2014/proficiencies/skill-insight"
                    },
                    {
                      "index": "skill-religion",
                      "name": "Skill: Religion",
                      "url": "/api/2014/proficiencies/skill-religion"
                    }
                  ],
                  "language_options": {
                    "choose": 2,
                    "type": "languages",
                    "from": {
                      "option_set_type": "resource_list",
                      "resource_list_url": "/api/2014/languages"
                    }
                  },
                  "starting_equipment": [
                    {
                      "equipment": {
                        "index": "clothes-common",
                        "name": "Clothes, common",
                        "url": "/api/2014/equipment/clothes-common"
                      },
                      "quantity": 1
                    },
                    {
                      "equipment": {
                        "index": "pouch",
                        "name": "Pouch",
                        "url": "/api/2014/equipment/pouch"
                      },
                      "quantity": 1
                    }
                  ],
                  "starting_equipment_options": [
                    {
                      "choose": 1,
                      "type": "equipment",
                      "from": {
                        "option_set_type": "equipment_category",
                        "equipment_category": {
                          "index": "holy-symbols",
                          "name": "Holy Symbols",
                          "url": "/api/2014/equipment-categories/holy-symbols"
                        }
                      }
                    }
                  ],
                  "feature": {
                    "name": "Shelter of the Faithful",
                    "desc": [
                      "As an acolyte, you command the respect of those who share your faith, and you can perform the religious ceremonies of your deity. You and your adventuring companions can expect to receive free healing and care at a temple, shrine, or other established presence of your faith, though you must provide any material components needed for spells. Those who share your religion will support you (but only you) at a modest lifestyle.",
                      "You might also have ties to a specific temple dedicated to your chosen deity or pantheon, and you have a residence there. This could be the temple where you used to serve, if you remain on good terms with it, or a temple where you have found a new home. While near your temple, you can call upon the priests for assistance, provided the assistance you ask for is not hazardous and you remain in good standing with your temple."
                    ]
                  },
                  "personality_traits": {
                    "choose": 2,
                    "type": "personality_traits",
                    "from": {
                      "option_set_type": "options_array",
                      "options": [
                        {
                          "option_type": "string",
                          "string": "I idolize a particular hero of my faith, and constantly refer to that person's deeds and example."
                        },
                        {
                          "option_type": "string",
                          "string": "I can find common ground between the fiercest enemies, empathizing with them and always working toward peace."
                        },
                        {
                          "option_type": "string",
                          "string": "I see omens in every event and action. The gods try to speak to us, we just need to listen."
                        },
                        {
                          "option_type": "string",
                          "string": "Nothing can shake my optimistic attitude."
                        },
                        {
                          "option_type": "string",
                          "string": "I quote (or misquote) sacred texts and proverbs in almost every situation."
                        },
                        {
                          "option_type": "string",
                          "string": "I am tolerant (or intolerant) of other faiths and respect (or condemn) the worship of other gods."
                        },
                        {
                          "option_type": "string",
                          "string": "I've enjoyed fine food, drink, and high society among my temple's elite. Rough living grates on me."
                        },
                        {
                          "option_type": "string",
                          "string": "I've spent so long in the temple that I have little practical experience dealing with people in the outside world."
                        }
                      ]
                    }
                  },
                  "ideals": {
                    "choose": 1,
                    "type": "ideals",
                    "from": {
                      "option_set_type": "options_array",
                      "options": [
                        {
                          "option_type": "ideal",
                          "desc": "Tradition. The ancient traditions of worship and sacrifice must be preserved and upheld.",
                          "alignments": [
                            {
                              "index": "lawful-good",
                              "name": "Lawful Good",
                              "url": "/api/2014/alignments/lawful-good"
                            },
                            {
                              "index": "lawful-neutral",
                              "name": "Lawful Neutral",
                              "url": "/api/2014/alignments/lawful-neutral"
                            },
                            {
                              "index": "lawful-evil",
                              "name": "Lawful Evil",
                              "url": "/api/2014/alignments/lawful-evil"
                            }
                          ]
                        },
                        {
                          "option_type": "ideal",
                          "desc": "Charity. I always try to help those in need, no matter what the personal cost.",
                          "alignments": [
                            {
                              "index": "lawful-good",
                              "name": "Lawful Good",
                              "url": "/api/2014/alignments/lawful-good"
                            },
                            {
                              "index": "neutral-good",
                              "name": "Neutral Good",
                              "url": "/api/2014/alignments/neutral-good"
                            },
                            {
                              "index": "chaotic-good",
                              "name": "Chaotic Good",
                              "url": "/api/2014/alignments/chaotic-good"
                            }
                          ]
                        },
                        {
                          "option_type": "ideal",
                          "desc": "Change. We must help bring about the changes the gods are constantly working in the world.",
                          "alignments": [
                            {
                              "index": "chaotic-good",
                              "name": "Chaotic Good",
                              "url": "/api/2014/alignments/chaotic-good"
                            },
                            {
                              "index": "chaotic-neutral",
                              "name": "Chaotic Neutral",
                              "url": "/api/2014/alignments/chaotic-neutral"
                            },
                            {
                              "index": "chaotic-evil",
                              "name": "Chaotic Evil",
                              "url": "/api/2014/alignments/chaotic-evil"
                            }
                          ]
                        },
                        {
                          "option_type": "ideal",
                          "desc": "Power. I hope to one day rise to the top of my faith's religious hierarchy.",
                          "alignments": [
                            {
                              "index": "lawful-good",
                              "name": "Lawful Good",
                              "url": "/api/2014/alignments/lawful-good"
                            },
                            {
                              "index": "lawful-neutral",
                              "name": "Lawful Neutral",
                              "url": "/api/2014/alignments/lawful-neutral"
                            },
                            {
                              "index": "lawful-evil",
                              "name": "Lawful Evil",
                              "url": "/api/2014/alignments/lawful-evil"
                            }
                          ]
                        },
                        {
                          "option_type": "ideal",
                          "desc": "Faith. I trust that my deity will guide my actions. I have faith that if I work hard, things will go well.",
                          "alignments": [
                            {
                              "index": "lawful-good",
                              "name": "Lawful Good",
                              "url": "/api/2014/alignments/lawful-good"
                            },
                            {
                              "index": "lawful-neutral",
                              "name": "Lawful Neutral",
                              "url": "/api/2014/alignments/lawful-neutral"
                            },
                            {
                              "index": "lawful-evil",
                              "name": "Lawful Evil",
                              "url": "/api/2014/alignments/lawful-evil"
                            }
                          ]
                        },
                        {
                          "option_type": "ideal",
                          "desc": "Aspiration. I seek to prove myself worthy of my god's favor by matching my actions against his or her teachings.",
                          "alignments": [
                            {
                              "index": "lawful-good",
                              "name": "Lawful Good",
                              "url": "/api/2014/alignments/lawful-good"
                            },
                            {
                              "index": "neutral-good",
                              "name": "Neutral Good",
                              "url": "/api/2014/alignments/neutral-good"
                            },
                            {
                              "index": "chaotic-good",
                              "name": "Chaotic Good",
                              "url": "/api/2014/alignments/chaotic-good"
                            },
                            {
                              "index": "lawful-neutral",
                              "name": "Lawful Neutral",
                              "url": "/api/2014/alignments/lawful-neutral"
                            },
                            {
                              "index": "neutral",
                              "name": "Neutral",
                              "url": "/api/2014/alignments/neutral"
                            },
                            {
                              "index": "chaotic-neutral",
                              "name": "Chaotic Neutral",
                              "url": "/api/2014/alignments/chaotic-neutral"
                            },
                            {
                              "index": "lawful-evil",
                              "name": "Lawful Evil",
                              "url": "/api/2014/alignments/lawful-evil"
                            },
                            {
                              "index": "neutral-evil",
                              "name": "Neutral Evil",
                              "url": "/api/2014/alignments/neutral-evil"
                            },
                            {
                              "index": "chaotic-evil",
                              "name": "Chaotic Evil",
                              "url": "/api/2014/alignments/chaotic-evil"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "bonds": {
                    "choose": 1,
                    "type": "bonds",
                    "from": {
                      "option_set_type": "options_array",
                      "options": [
                        {
                          "option_type": "string",
                          "string": "I would die to recover an ancient relic of my faith that was lost long ago."
                        },
                        {
                          "option_type": "string",
                          "string": "I will someday get revenge on the corrupt temple hierarchy who branded me a heretic."
                        },
                        {
                          "option_type": "string",
                          "string": "I owe my life to the priest who took me in when my parents died."
                        },
                        {
                          "option_type": "string",
                          "string": "Everything I do is for the common people."
                        },
                        {
                          "option_type": "string",
                          "string": "I will do anything to protect the temple where I served."
                        },
                        {
                          "option_type": "string",
                          "string": "I seek to preserve a sacred text that my enemies consider heretical and seek to destroy."
                        }
                      ]
                    }
                  },
                  "flaws": {
                    "choose": 1,
                    "type": "flaws",
                    "from": {
                      "option_set_type": "options_array",
                      "options": [
                        {
                          "option_type": "string",
                          "string": "I judge others harshly, and myself even more severely."
                        },
                        {
                          "option_type": "string",
                          "string": "I put too much trust in those who wield power within my temple's hierarchy."
                        },
                        {
                          "option_type": "string",
                          "string": "My piety sometimes leads me to blindly trust those that profess faith in my god."
                        },
                        {
                          "option_type": "string",
                          "string": "I am inflexible in my thinking."
                        },
                        {
                          "option_type": "string",
                          "string": "I am suspicious of strangers and expect the worst of them."
                        },
                        {
                          "option_type": "string",
                          "string": "Once I pick a goal, I become obsessed with it to the detriment of everything else in my life."
                        }
                      ]
                    }
                  },
                  "url": "/api/2014/backgrounds/acolyte"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}": {
      "get": {
        "summary": "Get a class by index.",
        "description": "# Class\n\nA character class is a fundamental part of the identity and nature of\ncharacters in the Dungeons & Dragons role-playing game. A character's\ncapabilities, strengths, and weaknesses are largely defined by its class.\nA character's class affects a character's available skills and abilities. [[SRD p8-55](https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf#page=8)]\n",
        "tags": [
          "Class"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                },
                "example": {
                  "class_levels": "/api/2014/classes/barbarian/levels",
                  "hit_die": 12,
                  "index": "barbarian",
                  "multi_classing": {
                    "prerequisites": [
                      {
                        "ability_score": {
                          "index": "str",
                          "name": "STR",
                          "url": "/api/2014/ability-scores/str"
                        },
                        "minimum_score": 13
                      }
                    ],
                    "proficiencies": [
                      {
                        "index": "shields",
                        "name": "Shields",
                        "url": "/api/2014/proficiencies/shields"
                      },
                      {
                        "index": "simple-weapons",
                        "name": "Simple Weapons",
                        "url": "/api/2014/proficiencies/simple-weapons"
                      },
                      {
                        "index": "martial-weapons",
                        "name": "Martial Weapons",
                        "url": "/api/2014/proficiencies/martial-weapons"
                      }
                    ],
                    "proficiency_choices": []
                  },
                  "name": "Barbarian",
                  "proficiencies": [
                    {
                      "index": "light-armor",
                      "name": "Light Armor",
                      "url": "/api/2014/proficiencies/light-armor"
                    },
                    {
                      "index": "medium-armor",
                      "name": "Medium Armor",
                      "url": "/api/2014/proficiencies/medium-armor"
                    },
                    {
                      "index": "shields",
                      "name": "Shields",
                      "url": "/api/2014/proficiencies/shields"
                    },
                    {
                      "index": "simple-weapons",
                      "name": "Simple Weapons",
                      "url": "/api/2014/proficiencies/simple-weapons"
                    },
                    {
                      "index": "martial-weapons",
                      "name": "Martial Weapons",
                      "url": "/api/2014/proficiencies/martial-weapons"
                    }
                  ],
                  "proficiency_choices": [
                    {
                      "desc": "Choose two from Animal Handling, Athletics, Intimidation, Nature, Perception, and Survival",
                      "choose": 2,
                      "type": "proficiencies",
                      "from": {
                        "option_set_type": "options_array",
                        "options": [
                          {
                            "option_type": "reference",
                            "item": {
                              "index": "skill-animal-handling",
                              "name": "Skill: Animal Handling",
                              "url": "/api/2014/proficiencies/skill-animal-handling"
                            }
                          },
                          {
                            "option_type": "reference",
                            "item": {
                              "index": "skill-athletics",
                              "name": "Skill: Athletics",
                              "url": "/api/2014/proficiencies/skill-athletics"
                            }
                          },
                          {
                            "option_type": "reference",
                            "item": {
                              "index": "skill-intimidation",
                              "name": "Skill: Intimidation",
                              "url": "/api/2014/proficiencies/skill-intimidation"
                            }
                          },
                          {
                            "option_type": "reference",
                            "item": {
                              "index": "skill-nature",
                              "name": "Skill: Nature",
                              "url": "/api/2014/proficiencies/skill-nature"
                            }
                          },
                          {
                            "option_type": "reference",
                            "item": {
                              "index": "skill-perception",
                              "name": "Skill: Perception",
                              "url": "/api/2014/proficiencies/skill-perception"
                            }
                          },
                          {
                            "option_type": "reference",
                            "item": {
                              "index": "skill-survival",
                              "name": "Skill: Survival",
                              "url": "/api/2014/proficiencies/skill-survival"
                            }
                          }
                        ]
                      }
                    }
                  ],
                  "saving_throws": [
                    {
                      "index": "str",
                      "name": "STR",
                      "url": "/api/2014/ability-scores/str"
                    },
                    {
                      "index": "con",
                      "name": "CON",
                      "url": "/api/2014/ability-scores/con"
                    }
                  ],
                  "starting_equipment": [
                    {
                      "equipment": {
                        "index": "explorers-pack",
                        "name": "Explorer's Pack",
                        "url": "/api/2014/equipment/explorers-pack"
                      },
                      "quantity": 1
                    },
                    {
                      "equipment": {
                        "index": "javelin",
                        "name": "Javelin",
                        "url": "/api/2014/equipment/javelin"
                      },
                      "quantity": 4
                    }
                  ],
                  "starting_equipment_options": [
                    {
                      "desc": "(a) a greataxe or (b) any martial melee weapon",
                      "choose": 1,
                      "type": "equipment",
                      "from": {
                        "option_set_type": "options_array",
                        "options": [
                          {
                            "option_type": "counted_reference",
                            "count": 1,
                            "of": {
                              "index": "greataxe",
                              "name": "Greataxe",
                              "url": "/api/2014/equipment/greataxe"
                            }
                          },
                          {
                            "option_type": "choice",
                            "choice": {
                              "desc": "any martial melee weapon",
                              "choose": 1,
                              "type": "equipment",
                              "from": {
                                "option_set_type": "equipment_category",
                                "equipment_category": {
                                  "index": "martial-melee-weapons",
                                  "name": "Martial Melee Weapons",
                                  "url": "/api/2014/equipment-categories/martial-melee-weapons"
                                }
                              }
                            }
                          }
                        ]
                      }
                    },
                    {
                      "desc": "(a) two handaxes or (b) any simple weapon",
                      "choose": 1,
                      "type": "equipment",
                      "from": {
                        "option_set_type": "options_array",
                        "options": [
                          {
                            "option_type": "counted_reference",
                            "count": 2,
                            "of": {
                              "index": "handaxe",
                              "name": "Handaxe",
                              "url": "/api/2014/equipment/handaxe"
                            }
                          },
                          {
                            "option_type": "choice",
                            "choice": {
                              "desc": "any simple weapon",
                              "choose": 1,
                              "type": "equipment",
                              "from": {
                                "option_set_type": "equipment_category",
                                "equipment_category": {
                                  "index": "simple-weapons",
                                  "name": "Simple Weapons",
                                  "url": "/api/2014/equipment-categories/simple-weapons"
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  ],
                  "subclasses": [
                    {
                      "index": "berserker",
                      "name": "Berserker",
                      "url": "/api/2014/subclasses/berserker"
                    }
                  ],
                  "url": "/api/2014/classes/barbarian"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/subclasses": {
      "get": {
        "summary": "Get subclasses available for a class.",
        "tags": [
          "Class Resource Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                },
                "example": {
                  "count": 1,
                  "results": [
                    {
                      "index": "berserker",
                      "name": "Berserker",
                      "url": "/api/2014/subclasses/berserker"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/spells": {
      "get": {
        "summary": "Get spells available for a class.",
        "tags": [
          "Class Resource Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassSpellList"
                },
                "example": {
                  "count": 2,
                  "results": [
                    {
                      "index": "power-word-kill",
                      "name": "Power Word Kill",
                      "url": "/api/2014/spells/power-word-kill",
                      "level": 9
                    },
                    {
                      "index": "true-polymorph",
                      "name": "True Polymorph",
                      "url": "/api/2014/spells/true-polymorph",
                      "level": 9
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/spellcasting": {
      "get": {
        "summary": "Get spellcasting info for a class.",
        "tags": [
          "Class"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spellcasting"
                },
                "example": {
                  "level": 1,
                  "spellcasting_ability": {
                    "index": "cha",
                    "name": "CHA",
                    "url": "/api/2014/ability-scores/cha"
                  },
                  "info": [
                    {
                      "name": "Cantrips",
                      "desc": [
                        "You know two cantrips of your choice from the bard spell list. You learn additional bard cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Bard table."
                      ]
                    },
                    {
                      "name": "Spell Slots",
                      "desc": [
                        "The Bard table shows how many spell slots you have to cast your spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.",
                        "For example, if you know the 1st-level spell cure wounds and have a 1st-level and a 2nd-level spell slot available, you can cast cure wounds using either slot."
                      ]
                    },
                    {
                      "name": "Spells Known of 1st Level and Higher",
                      "desc": [
                        "You know four 1st-level spells of your choice from the bard spell list.",
                        "The Spells Known column of the Bard table shows when you learn more bard spells of your choice.",
                        "Each of these spells must be of a level for which you have spell slots, as shown on the table. For instance, when you reach 3rd level in this class, you can learn one new spell of 1st or 2nd level.",
                        "Additionally, when you gain a level in this class, you can choose one of the bard spells you know and replace it with another spell from the bard spell list, which also must be of a level for which you have spell slots."
                      ]
                    },
                    {
                      "name": "Spellcasting Ability",
                      "desc": [
                        "Charisma is your spellcasting ability for your bard spells. Your magic comes from the heart and soul you pour into the performance of your music or oration. You use your Charisma whenever a spell refers to your spellcasting ability. In addition, you use your Charisma modifier when setting the saving throw DC for a bard spell you cast and when making an attack roll with one.",
                        "Spell save DC = 8 + your proficiency bonus + your Charisma modifier.",
                        "Spell attack modifier = your proficiency bonus + your Charisma modifier."
                      ]
                    },
                    {
                      "name": "Ritual Casting",
                      "desc": [
                        "You can cast any bard spell you know as a ritual if that spell has the ritual tag."
                      ]
                    },
                    {
                      "name": "Spellcasting Focus",
                      "desc": [
                        "You can use a musical instrument (see Equipment) as a spellcasting focus for your bard spells."
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                },
                "example": {
                  "error": "Not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/features": {
      "get": {
        "summary": "Get features available for a class.",
        "tags": [
          "Class Resource Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          }
        ],
        "responses": {
          "200": {
            "description": "List of features for the class.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/proficiencies": {
      "get": {
        "summary": "Get proficiencies available for a class.",
        "tags": [
          "Class Resource Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          }
        ],
        "responses": {
          "200": {
            "description": "List of proficiencies for the class.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/multi-classing": {
      "get": {
        "summary": "Get multiclassing resource for a class.",
        "tags": [
          "Class"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Multiclassing"
                },
                "example": {
                  "prerequisites": [
                    {
                      "ability_score": {
                        "index": "str",
                        "name": "STR",
                        "url": "/api/2014/ability-scores/str"
                      },
                      "minimum_score": 13
                    }
                  ],
                  "proficiencies": [
                    {
                      "index": "shields",
                      "name": "Shields",
                      "url": "/api/2014/proficiencies/shields"
                    },
                    {
                      "index": "simple-weapons",
                      "name": "Simple Weapons",
                      "url": "/api/2014/proficiencies/simple-weapons"
                    },
                    {
                      "index": "martial-weapons",
                      "name": "Martial Weapons",
                      "url": "/api/2014/proficiencies/martial-weapons"
                    }
                  ],
                  "proficiency_choices": []
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/levels": {
      "get": {
        "summary": "Get all level resources for a class.",
        "tags": [
          "Class Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          },
          {
            "$ref": "#/components/parameters/levels-subclass-filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassLevel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/levels/{class_level}": {
      "get": {
        "summary": "Get level resource for a class and level.",
        "tags": [
          "Class Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          },
          {
            "$ref": "#/components/parameters/class-level"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassLevel"
                },
                "example": {
                  "level": 1,
                  "ability_score_bonuses": 0,
                  "prof_bonus": 2,
                  "features": [
                    {
                      "index": "rage",
                      "name": "Rage",
                      "url": "/api/2014/features/rage"
                    },
                    {
                      "index": "barbarian-unarmored-defense",
                      "name": "Unarmored Defense",
                      "url": "/api/2014/features/barbarian-unarmored-defense"
                    }
                  ],
                  "class_specific": {
                    "rage_count": 2,
                    "rage_damage_bonus": 2,
                    "brutal_critical_dice": 0
                  },
                  "index": "barbarian-1",
                  "class": {
                    "index": "barbarian",
                    "name": "Barbarian",
                    "url": "/api/2014/classes/barbarian"
                  },
                  "url": "/api/2014/classes/barbarian/levels/1"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/levels/{class_level}/features": {
      "get": {
        "summary": "Get features available to a class at the requested level.",
        "tags": [
          "Class Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          },
          {
            "$ref": "#/components/parameters/class-level"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                },
                "example": {
                  "count": 2,
                  "results": [
                    {
                      "index": "barbarian-unarmored-defense",
                      "name": "Unarmored Defense",
                      "url": "/api/2014/features/barbarian-unarmored-defense"
                    },
                    {
                      "index": "rage",
                      "name": "Rage",
                      "url": "/api/2014/features/rage"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/classes/{index}/levels/{spell_level}/spells": {
      "get": {
        "summary": "Get spells of the requested level available to the class.",
        "tags": [
          "Class Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/class-index"
          },
          {
            "$ref": "#/components/parameters/spell-level"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                },
                "example": {
                  "count": 5,
                  "results": [
                    {
                      "index": "dominate-monster",
                      "name": "Dominate Monster",
                      "url": "/api/2014/spells/dominate-monster"
                    },
                    {
                      "index": "earthquake",
                      "name": "Earthquake",
                      "url": "/api/2014/spells/earthquake"
                    },
                    {
                      "index": "incendiary-cloud",
                      "name": "Incendiary Cloud",
                      "url": "/api/2014/spells/incendiary-cloud"
                    },
                    {
                      "index": "power-word-stun",
                      "name": "Power Word Stun",
                      "url": "/api/2014/spells/power-word-stun"
                    },
                    {
                      "index": "sunburst",
                      "name": "Sunburst",
                      "url": "/api/2014/spells/sunburst"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/conditions/{index}": {
      "get": {
        "summary": "Get a condition by index.",
        "description": "# Condition\n\nA condition alters a creature’s capabilities in a variety of ways and can\narise as a result of a spell, a class feature, a monster’s attack, or other\neffect. Most conditions, such as blinded, are impairments, but a few, such\nas invisible, can be advantageous.\n",
        "tags": [
          "Game Mechanics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/condition-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                },
                "example": {
                  "index": "blinded",
                  "name": "Blinded",
                  "url": "/api/2014/conditions/blinded",
                  "desc": [
                    "- A blinded creature can't see and automatically fails any ability check that requires sight.",
                    "- Attack rolls against the creature have advantage, and the creature's attack rolls have disadvantage."
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/damage-types/{index}": {
      "get": {
        "summary": "Get a damage type by index.",
        "description": "# Damage type\n\nDifferent attacks, damaging spells, and other harmful effects deal different\ntypes of damage. Damage types have no rules of their own, but other rules,\nsuch as damage resistance, rely on the types.\n",
        "tags": [
          "Game Mechanics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/damage-type-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamageType"
                },
                "example": {
                  "index": "acid",
                  "name": "Acid",
                  "url": "/api/2014/damage-types/acid",
                  "desc": [
                    "The corrosive spray of a black dragon's breath and the dissolving enzymes secreted by a black pudding deal acid damage."
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/equipment/{index}": {
      "get": {
        "summary": "Get an equipment item by index.",
        "description": "# Equipment\n\nOpportunities abound to find treasure, equipment, weapons, armor, and more\nin the dungeons you explore. Normally, you can sell your treasures and\ntrinkets when you return to a town or other settlement, provided that you\ncan find buyers and merchants interested in your loot.\n",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/equipment-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Equipment"
                },
                "example": {
                  "category_range": "Simple Melee",
                  "contents": [],
                  "cost": {
                    "quantity": 1,
                    "unit": "sp"
                  },
                  "damage": {
                    "damage_dice": "1d4",
                    "damage_type": {
                      "index": "bludgeoning",
                      "name": "Bludgeoning",
                      "url": "/api/2014/damage-types/bludgeoning"
                    }
                  },
                  "desc": [],
                  "equipment_category": {
                    "index": "weapon",
                    "name": "Weapon",
                    "url": "/api/2014/equipment-categories/weapon"
                  },
                  "index": "club",
                  "name": "Club",
                  "properties": [
                    {
                      "index": "light",
                      "name": "Light",
                      "url": "/api/2014/weapon-properties/light"
                    },
                    {
                      "index": "monk",
                      "name": "Monk",
                      "url": "/api/2014/weapon-properties/monk"
                    }
                  ],
                  "range": {
                    "long": null,
                    "normal": 5
                  },
                  "special": [],
                  "url": "/api/2014/equipment/club",
                  "weapon_category": "Simple",
                  "weapon_range": "Melee",
                  "weight": 2
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/equipment-categories/{index}": {
      "get": {
        "summary": "Get an equipment category by index.",
        "description": "These are the categories that various equipment fall under.",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "description": "The `index` of the equipment category score to get.\n\nAvailable values can be found in the resource list for this endpoint.\n",
            "schema": {
              "type": "string"
            },
            "example": "waterborne-vehicles"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentCategory"
                },
                "example": {
                  "index": "waterborne-vehicles",
                  "name": "Waterborne Vehicles",
                  "url": "/api/2014/equipment-categories/waterborne-vehicles",
                  "equipment": [
                    {
                      "index": "galley",
                      "name": "Galley",
                      "url": "/api/2014/equipment/galley"
                    },
                    {
                      "index": "keelboat",
                      "name": "Keelboat",
                      "url": "/api/2014/equipment/keelboat"
                    },
                    {
                      "index": "longship",
                      "name": "Longship",
                      "url": "/api/2014/equipment/longship"
                    },
                    {
                      "index": "rowboat",
                      "name": "Rowboat",
                      "url": "/api/2014/equipment/rowboat"
                    },
                    {
                      "index": "sailing-ship",
                      "name": "Sailing ship",
                      "url": "/api/2014/equipment/sailing-ship"
                    },
                    {
                      "index": "warship",
                      "name": "Warship",
                      "url": "/api/2014/equipment/warship"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/feats/{index}": {
      "get": {
        "summary": "Get a feat by index.",
        "description": "# Feat\n\nA feat is a boon a character can receive at level up instead of an ability score increase.\n",
        "tags": [
          "Feats"
        ],
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "description": "The `index` of the feat to get.\n",
            "schema": {
              "type": "string",
              "enum": [
                "grappler"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feat"
                },
                "example": {
                  "index": "grappler",
                  "name": "Grappler",
                  "url": "/api/2014/feats/grappler",
                  "desc": [
                    "You’ve developed the Skills necessary to hold your own in close--quarters Grappling. You gain the following benefits:",
                    "- You have advantage on Attack Rolls against a creature you are Grappling.",
                    "- You can use your action to try to pin a creature Grappled by you. To do so, make another grapple check. If you succeed, you and the creature are both Restrained until the grapple ends."
                  ],
                  "prerequisites": [
                    {
                      "ability_score": {
                        "index": "str",
                        "name": "STR",
                        "url": "/api/2014/ability-scores/str"
                      },
                      "minimum_score": 13
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/features/{index}": {
      "get": {
        "summary": "Get a feature by index.",
        "description": "# Feature\n\nWhen you gain a new level in a class, you get its features for that level.\nYou don’t, however, receive the class’s starting Equipment, and a few\nfeatures have additional rules when you’re multiclassing: Channel Divinity,\nExtra Attack, Unarmored Defense, and Spellcasting.\n",
        "tags": [
          "Features"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feature-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                },
                "example": {
                  "index": "action-surge-1-use",
                  "name": "Action Surge (1 use)",
                  "url": "/api/2014/features/action-surge-1-use",
                  "class": {
                    "index": "fighter",
                    "name": "Fighter",
                    "url": "/api/2014/classes/fighter"
                  },
                  "desc": [
                    "Starting at 2nd level, you can push yourself beyond your normal limits for a moment. On your turn, you can take one additional action on top of your regular action and a possible bonus action.",
                    "Once you use this feature, you must finish a short or long rest before you can use it again. Starting at 17th level, you can use it twice before a rest, but only once on the same turn."
                  ],
                  "level": 2,
                  "prerequisites": []
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/languages/{index}": {
      "get": {
        "summary": "Get a language by index.",
        "description": "# Language\n\nYour race indicates the languages your character can speak by default, and your background might give you access to one or more additional languages of your choice. [[SRD p59](https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf#page=59)]\n",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/language-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                },
                "example": {
                  "index": "elvish",
                  "name": "Elvish",
                  "url": "/api/2014/languages/elvish",
                  "desc": "Elvish is fluid, with subtle intonations and intricate grammar. Elven literature is rich and varied, and their songs and poems are famous among other races. Many bards learn their language so they can add Elvish ballads to their repertoires.",
                  "type": "Standard",
                  "script": "Elvish",
                  "typical_speakers": [
                    "Elves"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/magic-items/{index}": {
      "get": {
        "summary": "Get a magic item by index.",
        "description": "These are the various magic items you can find in the game.",
        "tags": [
          "Equipment"
        ],
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "description": "The `index` of the magic item to get.\n\nAvailable values can be found in the resource list for this endpoint.\n",
            "schema": {
              "type": "string"
            },
            "example": "adamantine-armor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MagicItem"
                },
                "example": {
                  "index": "adamantine-armor",
                  "name": "Adamantine Armor",
                  "url": "/api/2014/magic-items/adamantine-armor",
                  "desc": [
                    "Armor (medium or heavy, but not hide), uncommon",
                    "This suit of armor is reinforced with adamantine, one of the hardest substances in existence. While you're wearing it, any critical hit against you becomes a normal hit."
                  ],
                  "equipment_category": {
                    "index": "armor",
                    "name": "Armor",
                    "url": "/api/2014/equipment-categories/armor"
                  },
                  "rarity": {
                    "name": "Uncommon"
                  },
                  "variants": [],
                  "variant": false
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/magic-schools/{index}": {
      "get": {
        "summary": "Get a magic school by index.",
        "description": "# Magic School\n\nAcademies of magic group spells into eight categories called schools of\nmagic. Scholars, particularly wizards, apply these categories to all spells,\nbelieving that all magic functions in essentially the same way, whether it\nderives from rigorous study or is bestowed by a deity.\n",
        "tags": [
          "Game Mechanics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/magic-school-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MagicSchool"
                },
                "example": {
                  "index": "conjuration",
                  "name": "Conjuration",
                  "url": "/api/2014/magic-schools/conjuration",
                  "desc": "Conjuration spells involve the transportation of objects and creatures from one location to another. Some spells summon creatures or objects to the caster's side, whereas others allow the caster to teleport to another location. Some conjurations create objects or effects out of nothing."
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/monsters": {
      "get": {
        "summary": "Get list of monsters with optional filtering",
        "tags": [
          "Monsters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/challenge-rating-filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/monsters/{index}": {
      "get": {
        "summary": "Get monster by index.",
        "tags": [
          "Monsters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/monster-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monster"
                },
                "example": {
                  "index": "aboleth",
                  "name": "Aboleth",
                  "url": "/api/2014/monsters/aboleth",
                  "actions": [
                    {
                      "attacks": [],
                      "damage": [],
                      "desc": "The aboleth makes three tentacle attacks.",
                      "name": "Multiattack",
                      "multiattack_type": "actions",
                      "actions": [
                        {
                          "action_name": "Tentacle",
                          "count": 3,
                          "type": "melee"
                        }
                      ]
                    },
                    {
                      "attack_bonus": 9,
                      "attacks": [],
                      "damage": [
                        {
                          "damage_dice": "2d6+5",
                          "damage_type": {
                            "index": "bludgeoning",
                            "name": "Bludgeoning",
                            "url": "/api/2014/damage-types/bludgeoning"
                          }
                        },
                        {
                          "damage_dice": "1d12",
                          "damage_type": {
                            "index": "acid",
                            "name": "Acid",
                            "url": "/api/2014/damage-types/acid"
                          }
                        }
                      ],
                      "dc": {
                        "dc_type": {
                          "index": "con",
                          "name": "CON",
                          "url": "/api/2014/ability-scores/con"
                        },
                        "dc_value": 14,
                        "success_type": "none"
                      },
                      "desc": "Melee Weapon Attack: +9 to hit, reach 10 ft., one target. Hit: 12 (2d6 + 5) bludgeoning damage. If the target is a creature, it must succeed on a DC 14 Constitution saving throw or become diseased. The disease has no effect for 1 minute and can be removed by any magic that cures disease. After 1 minute, the diseased creature's skin becomes translucent and slimy, the creature can't regain hit points unless it is underwater, and the disease can be removed only by heal or another disease-curing spell of 6th level or higher. When the creature is outside a body of water, it takes 6 (1d12) acid damage every 10 minutes unless moisture is applied to the skin before 10 minutes have passed.",
                      "name": "Tentacle"
                    },
                    {
                      "attack_bonus": 9,
                      "attacks": [],
                      "damage": [
                        {
                          "damage_dice": "3d6+5",
                          "damage_type": {
                            "index": "bludgeoning",
                            "name": "Bludgeoning",
                            "url": "/api/2014/damage-types/bludgeoning"
                          }
                        }
                      ],
                      "desc": "Melee Weapon Attack: +9 to hit, reach 10 ft. one target. Hit: 15 (3d6 + 5) bludgeoning damage.",
                      "name": "Tail"
                    },
                    {
                      "attacks": [],
                      "damage": [],
                      "dc": {
                        "dc_type": {
                          "index": "wis",
                          "name": "WIS",
                          "url": "/api/2014/ability-scores/wis"
                        },
                        "dc_value": 14,
                        "success_type": "none"
                      },
                      "desc": "The aboleth targets one creature it can see within 30 ft. of it. The target must succeed on a DC 14 Wisdom saving throw or be magically charmed by the aboleth until the aboleth dies or until it is on a different plane of existence from the target. The charmed target is under the aboleth's control and can't take reactions, and the aboleth and the target can communicate telepathically with each other over any distance.\nWhenever the charmed target takes damage, the target can repeat the saving throw. On a success, the effect ends. No more than once every 24 hours, the target can also repeat the saving throw when it is at least 1 mile away from the aboleth.",
                      "name": "Enslave",
                      "usage": {
                        "times": 3,
                        "type": "per day"
                      }
                    }
                  ],
                  "alignment": "lawful evil",
                  "armor_class": [
                    {
                      "type": "natural",
                      "value": 17
                    }
                  ],
                  "challenge_rating": 10,
                  "proficiency_bonus": 4,
                  "charisma": 18,
                  "condition_immunities": [],
                  "constitution": 15,
                  "damage_immunities": [],
                  "damage_resistances": [],
                  "damage_vulnerabilities": [],
                  "dexterity": 9,
                  "forms": [],
                  "hit_dice": "18d10",
                  "hit_points": 135,
                  "hit_points_roll": "18d10+36",
                  "intelligence": 18,
                  "languages": "Deep Speech, telepathy 120 ft.",
                  "legendary_actions": [
                    {
                      "damage": [],
                      "desc": "The aboleth makes a Wisdom (Perception) check.",
                      "name": "Detect"
                    },
                    {
                      "damage": [],
                      "desc": "The aboleth makes one tail attack.",
                      "name": "Tail Swipe"
                    },
                    {
                      "attack_bonus": 0,
                      "damage": [
                        {
                          "damage_dice": "3d6",
                          "damage_type": {
                            "index": "psychic",
                            "name": "Psychic",
                            "url": "/api/2014/damage-types/psychic"
                          }
                        }
                      ],
                      "desc": "One creature charmed by the aboleth takes 10 (3d6) psychic damage, and the aboleth regains hit points equal to the damage the creature takes.",
                      "name": "Psychic Drain (Costs 2 Actions)"
                    }
                  ],
                  "proficiencies": [
                    {
                      "proficiency": {
                        "index": "saving-throw-con",
                        "name": "Saving Throw: CON",
                        "url": "/api/2014/proficiencies/saving-throw-con"
                      },
                      "value": 6
                    },
                    {
                      "proficiency": {
                        "index": "saving-throw-int",
                        "name": "Saving Throw: INT",
                        "url": "/api/2014/proficiencies/saving-throw-int"
                      },
                      "value": 8
                    },
                    {
                      "proficiency": {
                        "index": "saving-throw-wis",
                        "name": "Saving Throw: WIS",
                        "url": "/api/2014/proficiencies/saving-throw-wis"
                      },
                      "value": 6
                    },
                    {
                      "proficiency": {
                        "index": "skill-history",
                        "name": "Skill: History",
                        "url": "/api/2014/proficiencies/skill-history"
                      },
                      "value": 12
                    },
                    {
                      "proficiency": {
                        "index": "skill-perception",
                        "name": "Skill: Perception",
                        "url": "/api/2014/proficiencies/skill-perception"
                      },
                      "value": 10
                    }
                  ],
                  "reactions": [],
                  "senses": {
                    "darkvision": "120 ft.",
                    "passive_perception": 20
                  },
                  "size": "Large",
                  "special_abilities": [
                    {
                      "damage": [],
                      "desc": "The aboleth can breathe air and water.",
                      "name": "Amphibious"
                    },
                    {
                      "damage": [],
                      "dc": {
                        "dc_type": {
                          "index": "con",
                          "name": "CON",
                          "url": "/api/2014/ability-scores/con"
                        },
                        "dc_value": 14,
                        "success_type": "none"
                      },
                      "desc": "While underwater, the aboleth is surrounded by transformative mucus. A creature that touches the aboleth or that hits it with a melee attack while within 5 ft. of it must make a DC 14 Constitution saving throw. On a failure, the creature is diseased for 1d4 hours. The diseased creature can breathe only underwater.",
                      "name": "Mucous Cloud"
                    },
                    {
                      "damage": [],
                      "desc": "If a creature communicates telepathically with the aboleth, the aboleth learns the creature's greatest desires if the aboleth can see the creature.",
                      "name": "Probing Telepathy"
                    }
                  ],
                  "speed": {
                    "swim": "40 ft.",
                    "walk": "10 ft."
                  },
                  "strength": 21,
                  "subtype": null,
                  "type": "aberration",
                  "wisdom": 15,
                  "xp": 5900
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/proficiencies/{index}": {
      "get": {
        "summary": "Get a proficiency by index.",
        "description": "# Proficiency\n\nBy virtue of race, class, and background a character is proficient at using certain skills, weapons, and equipment. Characters can also gain additional proficiencies at higher levels or by multiclassing. A characters starting proficiencies are determined during character creation.\n",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/proficiency-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proficiency"
                },
                "example": {
                  "index": "medium-armor",
                  "name": "Medium Armor",
                  "url": "/api/2014/proficiencies/medium-armor",
                  "type": "Armor",
                  "classes": [
                    {
                      "index": "barbarian",
                      "name": "Barbarian",
                      "url": "/api/2014/classes/barbarian"
                    },
                    {
                      "index": "cleric",
                      "name": "Cleric",
                      "url": "/api/2014/classes/cleric"
                    },
                    {
                      "index": "druid",
                      "name": "Druid",
                      "url": "/api/2014/classes/druid"
                    },
                    {
                      "index": "ranger",
                      "name": "Ranger",
                      "url": "/api/2014/classes/ranger"
                    }
                  ],
                  "races": [],
                  "reference": {
                    "index": "medium-armor",
                    "name": "Medium Armor",
                    "url": "/api/2014/equipment-categories/medium-armor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/races/{index}": {
      "get": {
        "summary": "Get a race by index.",
        "description": "Each race grants your character ability and skill bonuses as well as racial traits.",
        "tags": [
          "Races"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/race-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Race"
                },
                "example": {
                  "index": "elf",
                  "name": "Elf",
                  "url": "/api/2014/races/elf",
                  "ability_bonuses": [
                    {
                      "ability_score": {
                        "index": "dex",
                        "name": "DEX",
                        "url": "/api/2014/ability-scores/dex"
                      },
                      "bonus": 2
                    }
                  ],
                  "age": "Although elves reach physical maturity at about the same age as humans, the elven understanding of adulthood goes beyond physical growth to encompass worldly experience. An elf typically claims adulthood and an adult name around the age of 100 and can live to be 750 years old.",
                  "alignment": "Elves love freedom, variety, and self-expression, so they lean strongly toward the gentler aspects of chaos. They value and protect others' freedom as well as their own, and they are more often good than not. The drow are an exception; their exile has made them vicious and dangerous. Drow are more often evil than not.",
                  "language_desc": "You can speak, read, and write Common and Elvish. Elvish is fluid, with subtle intonations and intricate grammar. Elven literature is rich and varied, and their songs and poems are famous among other races. Many bards learn their language so they can add Elvish ballads to their repertoires.",
                  "languages": [
                    {
                      "index": "common",
                      "name": "Common",
                      "url": "/api/2014/languages/common"
                    },
                    {
                      "index": "elvish",
                      "name": "Elvish",
                      "url": "/api/2014/languages/elvish"
                    }
                  ],
                  "size": "Medium",
                  "size_description": "Elves range from under 5 to over 6 feet tall and have slender builds. Your size is Medium.",
                  "speed": 30,
                  "starting_proficiencies": [
                    {
                      "index": "skill-perception",
                      "name": "Skill: Perception",
                      "url": "/api/2014/proficiencies/skill-perception"
                    }
                  ],
                  "subraces": [
                    {
                      "index": "high-elf",
                      "name": "High Elf",
                      "url": "/api/2014/subraces/high-elf"
                    }
                  ],
                  "traits": [
                    {
                      "index": "darkvision",
                      "name": "Darkvision",
                      "url": "/api/2014/traits/darkvision"
                    },
                    {
                      "index": "fey-ancestry",
                      "name": "Fey Ancestry",
                      "url": "/api/2014/traits/fey-ancestry"
                    },
                    {
                      "index": "trance",
                      "name": "Trance",
                      "url": "/api/2014/traits/trance"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/races/{index}/subraces": {
      "get": {
        "summary": "Get subraces available for a race.",
        "tags": [
          "Races"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/race-index"
          }
        ],
        "responses": {
          "200": {
            "description": "List of subraces for the race.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/races/{index}/proficiencies": {
      "get": {
        "summary": "Get proficiencies available for a race.",
        "tags": [
          "Races"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/race-index"
          }
        ],
        "responses": {
          "200": {
            "description": "List of proficiencies for the race.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/races/{index}/traits": {
      "get": {
        "summary": "Get traits available for a race.",
        "tags": [
          "Races"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/race-index"
          }
        ],
        "responses": {
          "200": {
            "description": "List of traits for the race.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/rule-sections/{index}": {
      "get": {
        "summary": "Get a rule section by index.",
        "description": "Rule sections represent a sub-heading and text that can be found underneath a rule heading in the SRD.",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/rule-section-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleSection"
                },
                "example": {
                  "index": "time",
                  "name": "Time",
                  "url": "/api/2014/rule-sections/time",
                  "desc": "## Time\n\nIn situations where keeping track of the passage of time is important, the GM determines the time a task requires. The GM might use a different time scale depending on the context of the situation at hand. In a dungeon environment, the adventurers' movement happens on a scale of **minutes**. It takes them about a minute to creep down a long hallway, another minute to check for traps on the door at the end of the hall, and a good ten minutes to search the chamber beyond for anything interesting or valuable.\n\nIn a city or wilderness, a scale of **hours** is often more appropriate. Adventurers eager to reach the lonely tower at the heart of the forest hurry across those fifteen miles in just under four hours' time.\n\nFor long journeys, a scale of **days** works best.\n\nFollowing the road from Baldur's Gate to Waterdeep, the adventurers spend four uneventful days before a goblin ambush interrupts their journey.\n\nIn combat and other fast-paced situations, the game relies on **rounds**, a 6-second span of time.\n"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/rules/{index}": {
      "get": {
        "summary": "Get a rule by index.",
        "description": "# Rule\n\nRules are pages in the SRD that document the mechanics of Dungeons and Dragons.\nRules have descriptions which is the text directly underneath the rule heading\nin the SRD. Rules also have subsections for each heading underneath the rule in the SRD.\n",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/rule-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rule"
                },
                "example": {
                  "index": "using-ability-scores",
                  "name": "Using Ability Scores",
                  "url": "/api/2014/rules/using-ability-scores",
                  "desc": "# Using Ability Scores\n\nSix abilities provide a quick description of every creature's physical and mental characteristics:\n- **Strength**, measuring physical power\n- **Dexterity**, measuring agility\n- **Constitution**, measuring endurance\n- **Intelligence**, measuring reasoning and memory\n- **Wisdom**, measuring perception and insight\n- **Charisma**, measuring force of personality\n\nIs a character muscle-bound and insightful? Brilliant and charming? Nimble and hardy? Ability scores define these qualities-a creature's assets as well as weaknesses.\n\nThe three main rolls of the game-the ability check, the saving throw, and the attack roll-rely on the six ability scores. The book's introduction describes the basic rule behind these rolls: roll a d20, add an ability modifier derived from one of the six ability scores, and compare the total to a target number.\n\n**Ability Scores and Modifiers** Each of a creature's abilities has a score, a number that defines the magnitude of that ability. An ability score is not just a measure of innate capabilities, but also encompasses a creature's training and competence in activities related to that ability.\n\nA score of 10 or 11 is the normal human average, but adventurers and many monsters are a cut above average in most abilities. A score of 18 is the highest that a person usually reaches. Adventurers can have scores as high as 20, and monsters and divine beings can have scores as high as 30.\n\nEach ability also has a modifier, derived from the score and ranging from -5 (for an ability score of 1) to +10 (for a score of 30). The Ability Scores and Modifiers table notes the ability modifiers for the range of possible ability scores, from 1 to 30.\n",
                  "subsections": [
                    {
                      "index": "ability-scores-and-modifiers",
                      "name": "Ability Scores and Modifiers",
                      "url": "/api/2014/rule-sections/ability-scores-and-modifiers"
                    },
                    {
                      "index": "advantage-and-disadvantage",
                      "name": "Advantage and Disadvantage",
                      "url": "/api/2014/rule-sections/advantage-and-disadvantage"
                    },
                    {
                      "index": "proficiency-bonus",
                      "name": "Proficiency Bonus",
                      "url": "/api/2014/rule-sections/proficiency-bonus"
                    },
                    {
                      "index": "ability-checks",
                      "name": "Ability Checks",
                      "url": "/api/2014/rule-sections/ability-checks"
                    },
                    {
                      "index": "using-each-ability",
                      "name": "Using Each Ability",
                      "url": "/api/2014/rule-sections/using-each-ability"
                    },
                    {
                      "index": "saving-throws",
                      "name": "Saving Throws",
                      "url": "/api/2014/rule-sections/saving-throws"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/skills/{index}": {
      "get": {
        "summary": "Get a skill by index.",
        "description": "# Skill\n\nEach ability covers a broad range of capabilities, including skills that a character or a monster can be proficient in. A skill represents a specific aspect of an ability score, and an individual's proficiency in a skill demonstrates a focus on that aspect. [[SRD p77](https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf#page=77)]\n",
        "tags": [
          "Character Data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/skill-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                },
                "example": {
                  "index": "acrobatics",
                  "name": "Acrobatics",
                  "url": "/api/2014/skills/acrobatics",
                  "ability_score": {
                    "index": "dex",
                    "name": "DEX",
                    "url": "/api/2014/ability-scores/dex"
                  },
                  "desc": [
                    "Your Dexterity (Acrobatics) check covers your attempt to stay on your feet in a tricky situation, such as when you're trying to run across a sheet of ice, balance on a tightrope, or stay upright on a rocking ship's deck. The GM might also call for a Dexterity (Acrobatics) check to see if you can perform acrobatic stunts, including dives, rolls, somersaults, and flips."
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/spells": {
      "get": {
        "summary": "Get list of spells with optional filtering.",
        "tags": [
          "Spells"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/level-filter"
          },
          {
            "$ref": "#/components/parameters/school-filter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIReferenceList"
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/spells/{index}": {
      "get": {
        "summary": "Get a spell by index.",
        "tags": [
          "Spells"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/spell-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spell"
                },
                "example": {
                  "index": "sacred-flame",
                  "name": "Sacred Flame",
                  "url": "/api/2014/spells/sacred-flame",
                  "attack_type": "ranged",
                  "casting_time": "1 action",
                  "classes": [
                    {
                      "index": "cleric",
                      "name": "Cleric",
                      "url": "/api/2014/classes/cleric"
                    }
                  ],
                  "components": [
                    "V",
                    "S"
                  ],
                  "concentration": false,
                  "damage": {
                    "damage_at_character_level": {
                      "1": "1d8",
                      "5": "2d8",
                      "11": "3d8",
                      "17": "4d8"
                    },
                    "damage_type": {
                      "index": "radiant",
                      "name": "Radiant",
                      "url": "/api/2014/damage-types/radiant"
                    }
                  },
                  "dc": {
                    "dc_success": "none",
                    "dc_type": {
                      "index": "dex",
                      "name": "DEX",
                      "url": "/api/2014/ability-scores/dex"
                    }
                  },
                  "desc": [
                    "Flame-like radiance descends on a creature that you can see within range. The target must succeed on a dexterity saving throw or take 1d8 radiant damage. The target gains no benefit from cover for this saving throw.",
                    "The spell's damage increases by 1d8 when you reach 5th level (2d8), 11th level (3d8), and 17th level (4d8)."
                  ],
                  "duration": "Instantaneous",
                  "higher_level": [],
                  "level": 0,
                  "range": "60 feet",
                  "ritual": false,
                  "school": {
                    "index": "evocation",
                    "name": "Evocation",
                    "url": "/api/2014/magic-schools/evocation"
                  },
                  "subclasses": [
                    {
                      "index": "lore",
                      "name": "Lore",
                      "url": "/api/2014/subclasses/lore"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/2014/subclasses/{index}": {
      "get": {
        "summary": "Get a subclass by index.",
        "description": "Subclasses reflect the different paths a class may take as levels are gained.",
        "tags": [
          "Subclasses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subclass-index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subclass"
                },
                "example": {
                  "index": "fiend",
                  "name": "Fiend",
                  "url": "/api/2014/subclasses/fiend",
                  "class": {
                    "index": "warlock",
                    "name": "Warlock",
                    "url": "/api/2014/classes/warlock"
                  },
                  "desc": [
                    "You have made a pact with a fiend from the lower planes of existence, a being whose aims are evil, even if you strive against those aims. Such beings desire the corruption or destruction of all things, ultimately including you. Fiends powerful enough to forge a pact include demon lords such as Demogorgon, Orcus, Fraz'Urb-luu, and Baphomet; archdevils such as Asmodeus, Dispater, Mephistopheles, and Belial; pit fiends and balors that are especially mighty; and ultroloths and other lords of the yugoloths."
                  ],
                  "spells": [
                    {
[...]
