openapi: 3.0.1
info:
  title: D&D 5e API
  description: |
    # Introduction

    Welcome to the dnd5eapi, the Dungeons & Dragons 5th Edition API! 
    This documentation should help you familiarize yourself with the resources 
    available and how to consume them with HTTP requests. Read through the getting 
    started section before you dive in. Most of your problems should be solved 
    just by reading through it.

    ## Getting Started

    Let's make our first API request to the D&D 5th Edition API!

    Open up a terminal and use [curl](http://curl.haxx.se/) or [httpie](http://httpie.org/) 
    to make an API request for a resource. You can also scroll through the
    definitions below and send requests directly from the endpoint documentation!

    For example, if you paste and run this `curl` command:
    ```bash
    curl -X GET "https://www.dnd5eapi.co/api/ability-scores/cha" -H "Accept: application/json"
    ```

    We should see a result containing details about the Charisma ability score:
    ```bash
    {
      "index": "cha",
      "name": "CHA",
      "full_name": "Charisma",
      "desc": [
        "Charisma measures your ability to interact effectively with others. It 
          includes such factors as confidence and eloquence, and it can represent 
          a charming or commanding personality.",
        "A Charisma check might arise when you try to influence or entertain 
          others, when you try to make an impression or tell a convincing lie, 
          or when you are navigating a tricky social situation. The Deception, 
          Intimidation, Performance, and Persuasion skills reflect aptitude in 
          certain kinds of Charisma checks."
      ],
      "skills": [
        {
          "name": "Deception",
          "index": "deception",
          "url": "/api/skills/deception"
        },
        {
          "name": "Intimidation",
          "index": "intimidation",
          "url": "/api/skills/intimidation"
        },
        {
          "name": "Performance",
          "index": "performance",
          "url": "/api/skills/performance"
        },
        {
          "name": "Persuasion",
          "index": "persuasion",
          "url": "/api/skills/persuasion"
        }
      ],
      "url": "/api/ability-scores/cha"
    }
    ```

    ## Authentication 

    The dnd5eapi is a completely open API. No authentication is required to query 
    and get data. This also means that we've limited what you can do to just 
    `GET`-ing the data. If you find a mistake in the data, feel free to 
    [message us](https://discord.gg/TQuYTv7).

    ## GraphQL

    This API supports [GraphQL](https://graphql.org/). The GraphQL URL for this API
    is `https://www.dnd5eapi.co/graphql`. GraphQL functionality is not covered in 
    this documentation.

    # Status Page

    The status page for the API can be found here: https://5e-bits.github.io/dnd-uptime/

    # Chat 

    Come hang out with us [on Discord](https://discord.gg/TQuYTv7)!

    # Contribute

    This API is built from two repositories.
      - The repo containing the data lives here: https://github.com/bagelbits/5e-database
      - The repo with the API implementation lives here: https://github.com/bagelbits/5e-srd-api 

    This is a evolving API and having fresh ideas are always welcome! You can 
    open an issue in either repo, open a PR for changes, or just discuss with 
    other users in this discord.

    # Notes

    These docs are still a work in progress, legacy documentation can
    be found on the [old documentation page](https://www.dnd5eapi.co/docs/).
  version: "0.1"
  license:
    name: MIT License
    url: "https://github.com/5e-bits/5e-srd-api/blob/main/LICENSE.md"
  contact:
    name: 5eBits
    url: https://github.com/5e-bits
servers:
  - url: https://www.dnd5eapi.co
    description: Production
  - url: http://localhost:3000
    description: Local Development
paths:
  /api:
    $ref: "./paths/combined.yml#/base"
  /api/{endpoint}:
    $ref: "./paths/combined.yml#/list"
  /api/ability-scores/{index}:
    $ref: "./paths/combined.yml#/ability-scores"
  /api/alignments/{index}:
    $ref: "./paths/combined.yml#/alignments"
  /api/backgrounds/{index}:
    $ref: "./paths/combined.yml#/backgrounds"
  /api/classes/{index}:
    $ref: "./paths/combined.yml#/classes"
  /api/classes/{index}/subclasses:
    $ref: "./paths/combined.yml#/class-subclass"
  /api/classes/{index}/spells:
    $ref: "./paths/combined.yml#/class-spells"
  /api/classes/{index}/spellcasting:
    $ref: "./paths/combined.yml#/class-spellcasting"
  /api/classes/{index}/features:
    $ref: "./paths/combined.yml#/class-features"
  /api/classes/{index}/proficiencies:
    $ref: "./paths/combined.yml#/class-proficiencies"
  /api/classes/{index}/multi-classing:
    $ref: "./paths/combined.yml#/class-multi-classing"
  /api/classes/{index}/levels:
    $ref: "./paths/combined.yml#/class-levels"
  /api/classes/{index}/levels/{class_level}:
    $ref: "./paths/combined.yml#/class-level"
  /api/classes/{index}/levels/{class_level}/features:
    $ref: "./paths/combined.yml#/class-level-features"
  /api/classes/{index}/levels/{spell_level}/spells:
    $ref: "./paths/combined.yml#/class-spell-level-spells"
  /api/conditions/{index}:
    $ref: "./paths/combined.yml#/conditions"
  /api/damage-types/{index}:
    $ref: "./paths/combined.yml#/damage-types"
  /api/equipment/{index}:
    $ref: "./paths/combined.yml#/equipment"
  /api/equipment-categories/{index}:
    $ref: "./paths/combined.yml#/equipment-categories"
  /api/feats/{index}:
    $ref: "./paths/combined.yml#/feats"
  /api/features/{index}:
    $ref: "./paths/combined.yml#/features"
  /api/languages/{index}:
    $ref: "./paths/combined.yml#/languages"
  /api/magic-items/{index}:
    $ref: "./paths/combined.yml#/magic-items"
  /api/magic-schools/{index}:
    $ref: "./paths/combined.yml#/magic-schools"
  /api/monsters/{index}:
    $ref: "./paths/combined.yml#/monsters"
  /api/proficiencies/{index}:
    $ref: "./paths/combined.yml#/proficiencies"
  /api/races/{index}:
    $ref: "./paths/combined.yml#/races"
  /api/races/{index}/subraces:
    $ref: "./paths/combined.yml#/race-subraces"
  /api/races/{index}/proficiencies:
    $ref: "./paths/combined.yml#/race-proficiencies"
  /api/races/{index}/traits:
    $ref: "./paths/combined.yml#/race-traits"
  /api/rule-sections/{index}:
    $ref: "./paths/combined.yml#/rule-sections"
  /api/rules/{index}:
    $ref: "./paths/combined.yml#/rules"
  /api/skills/{index}:
    $ref: "./paths/combined.yml#/skills"
  /api/spells/{index}:
    $ref: "./paths/combined.yml#/spells"
  /api/subclasses/{index}:
    $ref: "./paths/combined.yml#/subclasses"
  /api/subclasses/{index}/features:
    $ref: "./paths/combined.yml#/subclass-features"
  /api/subclasses/{index}/levels:
    $ref: "./paths/combined.yml#/subclass-levels"
  /api/subclasses/{index}/levels/{subclass_level}:
    $ref: "./paths/combined.yml#/subclass-level"
  /api/subclasses/{index}/levels/{subclass_level}/features:
    $ref: "./paths/combined.yml#/subclass-level-features"
  /api/subraces/{index}:
    $ref: "./paths/combined.yml#/subraces"
  /api/subraces/{index}/proficiencies:
    $ref: "./paths/combined.yml#/subrace-proficiencies"
  /api/subraces/{index}/traits:
    $ref: "./paths/combined.yml#/subrace-traits"
  /api/traits/{index}:
    $ref: "./paths/combined.yml#/traits"
  /api/weapon-properties/{index}:
    $ref: "./paths/combined.yml#/weapon-properties"

components:
  parameters:
    $ref: "./parameters/combined.yml"

  schemas:
    $ref: "./schemas/combined.yml"

externalDocs:
  description: Legacy api documentation.
  url: "https://www.dnd5eapi.co/docs/"
