<!-- views/pages/docs.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>

    <section id="docs">
      <div class="header">
        <h1>D&D 5th Edition API Documentation</h1>
      </div>
      <div class="container">
        <div class="row pad_top">
          <% include ../partials/doc-left-col %> <% include ../partials/doc-content %>
        </div>
      </div>
    </section>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
