<h2 id="conditions">Conditions</h2>
<p>
  Conditions alter a creature’s capabilities in a variety of ways and can arise as a result of a
  spell, a class feature, a monster’s attack, or other effect. Most conditions, such as blinded, are
  impairments, but a few, such as invisible, can be advantageous.
</p>

<h3>GET api/conditions/{index}</h3>

<pre><code>{
  "index": "blinded",
  "name": "Blinded",
  "desc": [
    "- A blinded creature can't see and automatically fails any ability check that requires sight.",
    "- Attack rolls against the creature have advantage, and the creature's attack rolls have disadvantage."
  ],
  "url": "/api/conditions/blinded"
}</code></pre>

<h4>Condition</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">_id</td>
      <td align="left">The string _id used by the database for this condition resource</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">index</td>
      <td align="left">The condition index for shorthand searching</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this condition resource</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">A brief description of the condition</td>
      <td align="left">list string</td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
