<h2 id="monsters">Monsters</h2>
<p>These are the monsters of D&D.</p>

<h3>GET api/monsters/{index}</h3>

<pre><code>{
  "index": "aboleth",
  "name": "Aboleth",
  "size": "Large",
  "type": "aberration",
  "subtype": null,
  "alignment": "lawful evil",
  "armor_class": 17,
  "hit_points": 135,
  "hit_dice": "18d10",
  "speed": {
    "walk": "10 ft.",
    "swim": "40 ft."
  },
  "strength": 21,
  "dexterity": 9,
  "constitution": 15,
  "intelligence": 18,
  "wisdom": 15,
  "charisma": 18,
  "proficiencies": [
    {
      "value": 6
      "proficiency" : {
        "index": "saving-throw-con"
        "name": "Saving Throw: CON",
        "url": "/api/proficiencies/saving-throw-con",
      }
    },
    {
      "value": 8
      "proficiency" : {
        "index": "saving-throw-int"
        "name": "Saving Throw: INT",
        "url": "/api/proficiencies/saving-throw-int",
      }
    },
    {
      "value": 6
      "proficiency" : {
        "index": "saving-throw-wis"
        "name": "Saving Throw: WIS",
        "url": "/api/proficiencies/saving-throw-wis",
      }
    },
    {
      "value": 12
      "proficiency" : {
        "index": "skill-history"
        "name": "Skill: History",
        "url": "/api/proficiencies/skill-history",
      }
    },
    {
      "value": 10
      "proficiency" : {
        "index": "skill-perception"
        "name": "Skill: Perception",
        "url": "/api/proficiencies/skill-perception",
      }
    }
  ],
  "damage_vulnerabilities": [],
  "damage_resistances": [],
  "damage_immunities": [],
  "condition_immunities": [],
  "senses": {
    "darkvision": "120 ft.",
    "passive_perception": 20,
  },
  "languages": "Deep Speech, telepathy 120 ft.",
  "challenge_rating": 10,
  "special_abilities": [
    {
      "name": "Amphibious",
      "desc": "The aboleth can breathe air and water."
    },
    {
      "name": "Mucous Cloud",
      "desc": "While underwater, the aboleth is surrounded by transformative mucus. A creature that touches the aboleth or that hits it with a melee attack while within 5 ft. of it must make a DC 14 Constitution saving throw. On a failure, the creature is diseased for 1d4 hours. The diseased creature can breathe only underwater.",
      "dc": {
        "dc_type": {
          "name": "CON",
          "url": "/api/ability-scores/con"
        },
        "dc_value": 14,
        "success_type": "none"
      }
    },
    {
      "name": "Probing Telepathy",
      "desc": "If a creature communicates telepathically with the aboleth, the aboleth learns the creature's greatest desires if the aboleth can see the creature."
    }
  ],
  "actions": [
    {
      "name": "Multiattack",
      "desc": "The aboleth makes three tentacle attacks."
    },
    {
      "name": "Tentacle",
      "desc": "Melee Weapon Attack: +9 to hit, reach 10 ft., one target. Hit: 12 (2d6 + 5) bludgeoning damage. If the target is a creature, it must succeed on a DC 14 Constitution saving throw or become diseased. The disease has no effect for 1 minute and can be removed by any magic that cures disease. After 1 minute, the diseased creature's skin becomes translucent and slimy, the creature can't regain hit points unless it is underwater, and the disease can be removed only by heal or another disease-curing spell of 6th level or higher. When the creature is outside a body of water, it takes 6 (1d12) acid damage every 10 minutes unless moisture is applied to the skin before 10 minutes have passed.",
      "attack_bonus": 9,
      "dc": {
        "dc_type": {
          "name": "CON",
          "url": "/api/ability-scores/con"
        },
        "dc_value": 14,
        "success_type": "none"
      },
      "damage": [
        {
          "damage_type": {
            "name": "Acid",
            "url": "/api/damage-types/acid"
          },
          "damage_dice": "2d6",
          "damage_bonus": 5
        }
      ]
    },
    {
      "name": "Tail",
      "desc": "Melee Weapon Attack: +9 to hit, reach 10 ft. one target. Hit: 15 (3d6 + 5) bludgeoning damage.",
      "attack_bonus": 9,
      "damage": [
        {
          "damage_type": {
            "name": "Bludgeoning",
            "url": "/api/damage-types/bludgeoning"
          },
          "damage_dice": "3d6",
          "damage_bonus": 5
        }
      ]
    },
    {
      "name": "Enslave",
      "desc": "The aboleth targets one creature it can see within 30 ft. of it. The target must succeed on a DC 14 Wisdom saving throw or be magically charmed by the aboleth until the aboleth dies or until it is on a different plane of existence from the target. The charmed target is under the aboleth's control and can't take reactions, and the aboleth and the target can communicate telepathically with each other over any distance.\nWhenever the charmed target takes damage, the target can repeat the saving throw. On a success, the effect ends. No more than once every 24 hours, the target can also repeat the saving throw when it is at least 1 mile away from the aboleth.",
      "usage": {
        "type": "per day",
        "times": 3
      },
      "dc": {
        "dc_type": {
          "name": "WIS",
          "url": "/api/ability-scores/wis"
        },
        "dc_value": 14,
        "success_type": "none"
      }
    }
  ],
  "legendary_actions": [
    {
      "name": "Detect",
      "desc": "The aboleth makes a Wisdom (Perception) check."
    },
    {
      "name": "Tail Swipe",
      "desc": "The aboleth makes one tail attack."
    },
    {
      "name": "Psychic Drain (Costs 2 Actions)",
      "desc": "One creature charmed by the aboleth takes 10 (3d6) psychic damage, and the aboleth regains hit points equal to the damage the creature takes.",
      "attack_bonus": 0,
      "damage": [
        {
          "damage_type": {
            "name": "Psychic",
            "url": "/api/damage-types/psychic"
          },
          "damage_dice": "3d6",
          "damage_bonus": 0
        }
      ]
    }
  ],
  "url": "/api/monsters/aboleth"
}</code></pre>

<h4>GET params</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Examples</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">challenge_rating</td>
      <td align="left">Lets you filter monsters for specific challenge ratings. It returns a list with all the monsters which have this rating or an empty list if none can be found. Multiple ratings and fractions are also supported.</td>
      <td align="left">
          <code>/monsters?challenge_rating=2</code>
          <code>/monsters?challenge_rating=0.25</code>
          <code>/monsters?challenge_rating=2,0.25,4</code>
      </td>
    </tr>
  </tbody>
</table>

<h4>Monster</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The monster index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name of the monster.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">size</td>
      <td align="left">The size of the monster ranging from Tiny to Gargantuan.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">type</td>
      <td align="left">The type of monster.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">subtype</td>
      <td align="left">The sub-category of a monster used for classification of monsters.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">alignment</td>
      <td align="left">
        A creature's general moral and personal attitudes.
      </td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">armor_class</td>
      <td align="left">The difficulty for a player to successfully deal damage to a monster.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">hit_points</td>
      <td align="left">
        The hit points of a monster determine how much damage it is able to take before it can be
        defeated
      </td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">hit_dice</td>
      <td align="left">
        The hit die of a monster can be used to make a version of the same monster whose hit points
        are determined by the roll of the die. For example: A monster with 2d6 would have its hit
        points determine by rolling a 6 sided die twice.
      </td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">speed</td>
      <td align="left">Speed for a monster determines how fast it can move per turn.</td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">strength</td>
      <td align="left">The strength of a monster. How hard a monster can hit a player.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">dexterity</td>
      <td align="left">
        The dexterity of a monster. The monster's ability for swift movement or stealth
      </td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">constitution</td>
      <td align="left">The constitution of a monster. How sturdy a monster is.</td>

      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">intelligence</td>
      <td align="left">
        The intelligence of a monster. The monster's ability to outsmart a player
      </td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">wisdom</td>
      <td align="left">
        The wisdom of a monster. A monster's ability to ascertain the player's plan
      </td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">charisma</td>
      <td align="left">
        The charisma of a monster. A monster's ability to charm or intimidate a player
      </td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">proficiencies</td>
      <td align="left">A list of proficiencies of a monster.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">damage_vulnerabilities</td>
      <td align="left">A list of damage types that a monster will take double damage from.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">damage_resistances</td>
      <td align="left">A list of damage types that a monster will take half damage from.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">damage_immunities</td>
      <td align="left">A list of damage types that a monster will take zero damage from.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">condition_immunities</td>
      <td align="left">A list of conditions that a monster is immune to.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">senses</td>
      <td align="left">
        Monsters typically have a passive perception but they might also have other senses to detect
        players
      </td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">languages</td>
      <td align="left">The languages a monster is able to speak.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">challenge_rating</td>
      <td align="left">
        A monster's challenge rating is a guideline number that says when a monster becomes an
        appropriate challenge against the party's average level. For example. A group of 4 players
        with an average level of 4 would have an appropriate combat challenge against a monster with
        a challenge rating of 4 but a monster with a challenge rating of 8 against the same group of
        players would pose a significant threat.
      </td>
      <td align="left">Number</td>
    </tr>
    <tr>
      <td align="left">special_abilities</td>
      <td align="left">A list of the monster's special abilities.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">actions</td>
      <td align="left">A list of actions that is available to the monster to take during combat.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">legendary_actions</td>
      <td align="left">
        Certain monsters have a list of actions that can be used outside of the monster's initiative.
      </td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
