<h2 id="features">Features</h2>
<p>
  When you gain a new level in a class, you get its features for that level. You don’t, however,
  receive the class’s starting Equipment, and a few features have additional rules when you’re
  multiclassing: Channel Divinity, Extra Attack, Unarmored Defense, and Spellcasting.
</p>

<h3>GET api/features/{index}</h3>

<pre><code>{
  "index": "action-surge-1-use",
  "class": {
    "name": "Fighter",
    "index": "fighter",
    "url": "/api/classes/fighter"
  },
  "name": "Action Surge (1 use)",
  "level": 2,
  "desc": [
    "Starting at 2nd level, you can push yourself beyond your normal limits for a moment. On your turn, you can take one additional action on top of your regular action and a possible bonus action.",
    "Once you use this feature, you must finish a short or long rest before you can use it again. Starting at 17th level, you can use it twice before a rest, but only once on the same turn."
  ],
  "url": "/api/features/action-surge-1-use"
}</code></pre>

<h4>Feature</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The feature index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this feature resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">level</td>
      <td align="left">The level this feature is gained.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">class</td>
      <td align="left">The class that gains this feature.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#classes">Class</a>)
      </td>
    </tr>
    <tr>
      <td align="left">subclass</td>
      <td align="left">The subclass that gains feature resource.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#subclasses">Subclass</a>)
      </td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">A brief description of the feature.</td>
      <td align="left">list string</td>
    </tr>
    <tr>
      <td align="left">feature_specific</td>
      <td align="left">Information specific to this feature.</td>
      <td align="left"><a href="feature_specific">Feature Specific</a></td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h4 id="feature_specific">Feature Specific</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
      <th align="left">Features Used By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">subfeature_options</td>
      <td align="left">Subfeature options for a parent feature</td>
      <td align="left"><a href="#choice">Choice</a> (<a href="features">Features</a>)</td>
      <td align="left">[1]</td>
    </tr>
    <tr>
      <td align="left">expertise_options</td>
      <td align="left">Expertise options for features that grant expertise</td>
      <td align="left"><a href="#choice">Choice</a> (<a href="proficiencies">Proficiencies</a>)</td>
      <td align="left">Bard Expertise, Rogue Expertise</td>
    </tr>
  </tbody>
</table>

<p>[1] - subfeature_options is included in all Features that offer a choice between more than one sub-feature.</p>