<h2 id="monsters">Weapon Properties</h2>
<p>
  Properties for weapons of D&D.
</p>

<h3>GET api/weapon-properties/{index}</h3>

<pre><code>{
  "_id": "5e4ca33b0b1bb138c5896b1a",
  "index": "ammunition",
  "name": "Ammunition",
  "desc": [
    "You can use a weapon that has the ammunition property to make a ranged attack only if you have ammunition to fire from the weapon. Each time you attack with the weapon, you expend one piece of ammunition. Drawing the ammunition from a quiver, case, or other container is part of the attack (you need a free hand to load a one-handed weapon).",
    "At the end of the battle, you can recover half your expended ammunition by taking a minute to search the battlefield. If you use a weapon that has the ammunition property to make a melee attack, you treat the weapon as an improvised weapon (see \"Improvised Weapons\" later in the section). A sling must be loaded to deal any damage when used in this way."
  ],
  "url": "/api/weapon-properties/ammunition"
}</code></pre>

<h4>Weapon Property</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
