<h2 id="rules">Rules</h2>
<p>
    Rules are pages in the SRD that document the mechanics of Dungeons and Dragons. Rules have descriptions which is the
    text directly underneath the rule heading in the SRD. Rules also have subsections for each heading underneath the
    rule in the SRD.
</p>

<h3>GET api/rules/{index}</h3>

<pre><code>{
    "name": "Using Ability Scores",
    "index": "using-ability-scores",
    "desc": "# Using Ability Scores\n\nSix abilities provide a quick description of every creature's physical and mental characteristics:\n- **Strength**, measuring physical power\n- **Dexterity**, measuring agility\n- **Constitution**, measuring endurance\n- **Intelligence**, measuring reasoning and memory\n- **Wisdom**, measuring perception and insight\n- **Charisma**, measuring force of personality\n\nIs a character muscle-bound and insightful? Brilliant and charming? Nimble and hardy? Ability scores define these qualities-a creature's assets as well as weaknesses.\n\nThe three main rolls of the game-the ability check, the saving throw, and the attack roll-rely on the six ability scores. The book's introduction describes the basic rule behind these rolls: roll a d20, add an ability modifier derived from one of the six ability scores, and compare the total to a target number.\n\n**Ability Scores and Modifiers** Each of a creature's abilities has a score, a number that defines the magnitude of that ability. An ability score is not just a measure of innate capabilities, but also encompasses a creature's training and competence in activities related to that ability.\n\nA score of 10 or 11 is the normal human average, but adventurers and many monsters are a cut above average in most abilities. A score of 18 is the highest that a person usually reaches. Adventurers can have scores as high as 20, and monsters and divine beings can have scores as high as 30.\n\nEach ability also has a modifier, derived from the score and ranging from -5 (for an ability score of 1) to +10 (for a score of 30). The Ability Scores and Modifiers table notes the ability modifiers for the range of possible ability scores, from 1 to 30.\n",
    "subsections": [
      {
        "name": "Ability Scores and Modifiers",
        "index": "ability-scores-and-modifiers",
        "url": "/api/rule-sections/ability-scores-and-modifiers"
      },
      {
        "name": "Advantage and Disadvantage",
        "index": "advantage-and-disadvantage",
        "url": "/api/rule-sections/advantage-and-disadvantage"
      },
      {
        "name": "Proficiency Bonus",
        "index": "proficiency-bonus",
        "url": "/api/rule-sections/proficiency-bonus"
      },
      {
        "name": "Ability Checks",
        "index": "ability-checks",
        "url": "/api/rule-sections/ability-checks"
      },
      {
        "name": "Using Each Ability",
        "index": "using-each-ability",
        "url": "/api/rule-sections/using-each-ability"
      },
      {
        "name": "Saving Throws",
        "index": "saving-throws",
        "url": "/api/rule-sections/saving-throws"
      }
    ],
    "url": "/api/rules/using-ability-scores"
  }</code></pre>

<h4>Rule</h4>

<table>
    <thead>
    <tr>
        <th align="left">Name</th>
        <th align="left">Description</th>
        <th align="left">Data Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="left">index</td>
        <td align="left">The rule index for shorthand searching</td>
        <td align="left">string</td>
    </tr>
    <tr>
        <td align="left">name</td>
        <td align="left">The heading of this rule</td>
        <td align="left">string</td>
    </tr>
    <tr>
        <td align="left">desc</td>
        <td align="left">Markdown for the text directly underneath the rule heading in the SRD</td>
        <td align="left">string</td>
    </tr>
    <tr>
        <td align="left">subsections</td>
        <td align="left">Sections for each subheading underneath the rule in the SRD</td>
        <td align="left">
            list <a href="#apireference">APIReference</a> (<a href="#rule-sections"
            >Rule Section</a
            >)
        </td>
    </tr>
    <tr>
        <td align="left">url</td>
        <td align="left">The URL of the referenced resource</td>
        <td align="left">string</td>
    </tr>
    </tbody>
</table>
