<h2 id="monsters">Traits</h2>
<p>Traits for races in D&D.</p>

<h3>GET api/traits/{index}</h3>

<pre><code>{
  "index": "brave",
  "races": [
    {
      "name": "Halfling",
      "index": "halfling",
      "url": "/api/races/halfling"
    }
  ],
  "subraces": [],
  "name": "Brave",
  "desc": [
    "You have advantage on saving throw against being frightened."
  ],
  "proficiencies": [],
  "proficiency_choices": {},
  "url": "/api/traits/brave"
}</code></pre>

<h4>Trait</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The trait index for shorthand searching.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">races</td>
      <td align="left">Races that have access to the trait.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiences">Proficiencies</a>)
      </td>
    </tr>
    <tr>
      <td align="left">subraces</td>
      <td align="left">Subraces that have access to the trait.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiences">Proficiencies</a>)
      </td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name of the trait.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">The description of the trait.</td>
      <td align="left">list string</td>
    </tr>
    <tr>
      <td align="left">proficiencies</td>
      <td align="left">Proficiencies this trait grants.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiencies">Proficiencies</a>)
      </td>
    </tr>
    <tr>
      <td align="left">proficiency_choices</td>
      <td align="left">A choice of proficiencies this trait grants.</td>
      <td align="left"><a href="#choice">Choice</a> (<a href="#proficiencies">Proficiencies</a>)</td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
