<h2 id="magic-items">Magic Items</h2>
<p>
  These are the various magic items you can find in the game.
</p>

<h3>GET api/magic-items/{index}</h3>

<pre><code>{
  "index": "adamantine-armor",
  "name": "Adamantine Armor",
  "equipment_category": {
    "name": "Armor",
    "url": "/api/equipment-categories/armor"
  },
  "desc": [
    "Armor (medium or heavy, but not hide), uncommon",
    "This suit of armor is reinforced with adamantine, one of the hardest substances in existence. While you’re wearing it, any critical hit against you becomes a normal hit."
  ],
  "url": "/api/magic-items/adamantine-armor"
}</code></pre>

<h4>Magic Item</h4>

<table>
  <thead>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Data Type</th>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The magic item index for shorthand searching</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">name</td>
      <td align="left">The name of the magic item</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">equipment_category</td>
      <td align="left">The associated Equipment Category for this magic item.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#equipment-categories">Equipment Categories</a>)
      </td>
    </tr>

    <tr>
      <td align="left">desc</td>
      <td align="left">A description of the magic item</td>
      <td align="left">list string</td>
    </tr>
  </tbody>
</table>
