<h2 id="monsters">Traits</h2>
<p>
  Traits for races in D&D.
</p>

<h3>GET api/traits/{index}</h3>

<pre><code>{
  "index": "brave",
  "races": [
    {
      "name": "Halfling",
      "url": "/api/races/halfling"
    }
  ],
  "subraces": [
    {
      "name": "Lightfoot Halfling",
      "url": "/api/subraces/lightfoot-halfling"
    }
  ],
  "name": "Brave",
  "desc": [
    "You have advantage on saving throw against being frightened."
  ],
  "url": "/api/traits/brave"
}</code></pre>

<h4>Trait</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
