<h2 id="proficiencies">Proficiencies</h2>
<p>By virtue of your race, your character can speak, read, and write certain Proficiencies.</p>

<h3>GET api/proficiencies/{index}</h3>

<pre><code>{
  "index": "medium-armor",
  "type": "Armor",
  "name": "Medium armor",
  "classes": [
    {
      "url": "/api/classes/barbarian",
      "name": "Barbarian"
    },
    {
      "url": "/api/classes/cleric",
      "name": "Cleric"
    },
    {
      "url": "/api/classes/druid",
      "name": "Druid"
    },
    {
      "url": "/api/classes/ranger",
      "name": "Ranger"
    }
  ],
  "races": [],
  "url": "/api/proficiencies/medium-armor"
}</code></pre>

<h4>Proficiency</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The proficiency index for shorthand searching</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">type</td>
      <td align="left">The general category of the proficiency</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name of this proficiency resource</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">classes</td>
      <td align="left">Classes that start with this proficiency.</td>
      <td align="left">
        list <a href="#namedapiresource">NamedAPIResource</a> (<a href="#classes">Class</a>)
      </td>
    </tr>
    <tr>
      <td align="left">races</td>
      <td align="left">Races that start with this proficiency.</td>
      <td align="left">
        list <a href="#namedapiresource">NamedAPIResource</a> (<a href="#races">Race</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
