<h2 id="subclasses">Subclasses</h2>
<p>Subclasses reflect the different paths a class may take as levels are gained.</p>

<h3>GET api/subclasses/{index}</h3>

<pre><code>{
  "index": "devotion",
  "class": {
    "index": "paladin",
    "name": "Paladin",
    "url": "/api/classes/paladin"
  },
  "name": "Devotion",
  "subclass_flavor": "Sacred Oath",
  "desc": [
    "The Oath of Devotion binds a paladin to the loftiest ideals of justice, virtue, and order. Sometimes called cavaliers, white knights, or holy warriors, these paladins meet the ideal of the knight in shining armor, acting with honor in pursuit of justice and the greater good. They hold themselves to the highest standards of conduct, and some, for better or worse, hold the rest of the world to the same standards. Many who swear this oath are devoted to gods of law and good and use their gods' tenets as the measure of their devotion. They hold angels--the perfect servants of good--as their ideals, and incorporate images of angelic wings into their helmets or coats of arms."
  ],
  "spells": [
    {
      "prerequisites": [
        {
          "index": "paladin-3",
          "type": "level",
          "name": "Paladin 3",
          "url": "/api/classes/paladin/levels/3"
        }
      ],
      "spell": {
        "index": "protection-from-evil-and-good",
        "name": "Protection from Evil and Good",
        "url": "/api/spells/protection-from-evil-and-good"
      }
    },
    {
      "prerequisites": [
        {
          "index": "paladin-3",
          "type": "level",
          "name": "Paladin 3",
          "url": "/api/classes/paladin/levels/3"
        }
      ],
      "spell": {
        "index": "sanctuary",
        "name": "Sanctuary",
        "url": "/api/spells/sanctuary"
      }
    },
    {
      "prerequisites": [
        {
          "index": "paladin-5",
          "type": "level",
          "name": "Paladin 5",
          "url": "/api/classes/paladin/levels/5"
        }
      ],
      "spell": {
        "index": "lesser-restoration",
        "name": "Lesser Restoration",
        "url": "/api/spells/lesser-restoration"
      }
    },
    {
      "prerequisites": [
        {
          "index": "paladin-5",
          "type": "level",
          "name": "Paladin 5",
          "url": "/api/classes/paladin/levels/5"
        }
      ],
      "spell": {
        "index": "zone-of-truth",
        "name": "Zone of Truth",
        "url": "/api/spells/zone-of-truth"
      }
    },
    {
      "prerequisites": [
        {
          "index": "paladin-9",
          "type": "level",
          "name": "Paladin 9",
          "url": "/api/classes/paladin/levels/9"
        }
      ],
      "spell": {
        "index": "beacon-of-hope",
        "name": "Beacon of Hope",
        "url": "/api/spells/beacon-of-hope"
      }
    },
    {
      "prerequisites": [
        {
          "index": "paladin-9",
          "type": "level",
          "name": "Paladin 9",
          "url": "/api/classes/paladin/levels/9"
        }
      ],
      "spell": {
        "index": "dispel-magic",
        "name": "Dispel Magic",
        "url": "/api/spells/dispel-magic"
      }
    },
    {
      "prerequisites": [
        {
          "index": "paladin-13",
          "type": "level",
          "name": "Paladin 13",
          "url": "/api/classes/paladin/levels/13"
        }
      ],
      "spell": {
        "index": "freedom-of-movement",
        "name": "Freedom of Movement",
        "url": "/api/spells/freedom-of-movement"
      }
    },
    {
      "prerequisites": [
        {
          "index": "paladin-17",
          "type": "level",
          "name": "Paladin 17",
          "url": "/api/classes/paladin/levels/17"
        }
      ],
      "spell": {
        "index": "commune",
        "name": "Commune",
        "url": "/api/spells/commune"
      }
    },
    {
      "prerequisites": [
        {
          "index": "paladin-17",
          "type": "level",
          "name": "Paladin 17",
          "url": "/api/classes/paladin/levels/17"
        }
      ],
      "spell": {
        "index": "flame-strike",
        "name": "Flame Strike",
        "url": "/api/spells/flame-strike"
      }
    }
  ],
  "subclass_levels": "/api/subclasses/devotion/levels",
  "url": "/api/subclasses/devotion"
}</code></pre>

<h4>Subclass</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The subclass index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">class</td>
      <td align="left">The parent class for this subclass.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#classes">Class</a>)
      </td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this subclass resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">subclass_flavor</td>
      <td align="left">The lore-friendly flavor text for a classes respective subclass.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">Description of the subclass resource.</td>
      <td align="left">list string</td>
    </tr>
    <tr>
      <td align="left">spells</td>
      <td align="left">A list of spells that class can obtain at certain level thresholds.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">subclass_levels</td>
      <td align="left">A resource url that shows the subclass level progression .</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h3>GET api/subclasses/{index}/features/</h3>

<pre><code>{
  "count": 4,
  "results": [
    {
      "index": "frenzy",
      "name": "Frenzy",
      "url": "/api/features/frenzy"
    },
    ...
    {
      "index": "retaliation",
      "name": "Retaliation",
      "url": "/api/features/retaliation"
    }
  ]
}</code></pre>

<h4>Features for Subclass</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">count</td>
      <td align="left">the number of features available to a subclass.</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">results</td>
      <td align="left">A list of the available features for a subclass.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#features">Features</a>)
      </td>
    </tr>
  </tbody>
</table>

<h3>GET api/subclasses/{index}/levels/</h3>

<pre><code>[
  {
    "level": 3,
    "feature_choices": [],
    "features": [
      {
        "name": "Primal Path",
        "index": "primal-path",
        "url": "/api/features/primal-path"
      },
      {
        "name": "Frenzy",
        "index": "frenzy",
        "url": "/api/features/frenzy"
      }
    ],
    "class": {
      "name": "Barbarian",
      "index": "barbarian",
      "url": "/api/classes/barbarian"
    },
    "subclass": {
      "name": "Berserker",
      "index": "berserker",
      "url": "/api/subclasses/berserker"
    },
    "url": "/api/subclasses/berserker/levels/3",
    "index": "berserker-3"
  },
  ...
  {
    "level": 14,
    "feature_choices": [],
    "features": [
      {
        "name": "Retaliation",
        "index": "retaliation",
        "url": "/api/features/retaliation"
      }
    ],
    "class": {
      "name": "Barbarian",
      "index": "barbarian",
      "url": "/api/classes/barbarian"
    },
    "subclass": {
      "name": "Berserker",
      "index": "berserker",
      "url": "/api/subclasses/berserker"
    },
    "url": "/api/subclasses/berserker/levels/14",
    "index": "berserker-14"
  }
]</code></pre>

<h4>Levels for Subclass</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">level</td>
      <td align="left">The level that the subclass gets access to this feature.</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">feature_choices</td>
      <td align="left">A list of the available feature choices for a subclass.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#features">Features</a>)
      </td>
    </tr>

    <tr>
      <td align="left">features</td>
      <td align="left">The feature available for a subclass.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#features">Features</a>)
      </td>
    </tr>

    <tr>
      <td align="left">class</td>
      <td align="left">The class that has access to subclass feature.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#classes">Classes</a>)
      </td>
    </tr>

    <tr>
      <td align="left">subclass</td>
      <td align="left">The subclass name.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#subclasses">Subclasses</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">index</td>
      <td align="left">The index of the subclass feature for shorthand use.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h3>GET api/subclasses/{index}/levels/{integer 1-20}</h3>

<pre><code>{
  "level": 3,
  "feature_choices": [],
  "features": [
    {
      "name": "Primal Path",
      "index": "primal-path",
      "url": "/api/features/primal-path"
    },
    {
      "name": "Frenzy",
      "index": "frenzy",
      "url": "/api/features/frenzy"
    }
  ],
  "class": {
    "name": "Barbarian",
    "index": "barbarian",
    "url": "/api/classes/barbarian"
  },
  "subclass": {
    "name": "Berserker",
    "index": "berserker",
    "url": "/api/subclasses/berserker"
  },
  "url": "/api/subclasses/berserker/levels/3",
  "index": "berserker-14"
}</code></pre>

<h4>Level for Subclass</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">level</td>
      <td align="left">The level that the subclass gets access to this feature.</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">feature_choices</td>
      <td align="left">A list of the available feature choices for a subclass.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#features">Features</a>)
      </td>
    </tr>

    <tr>
      <td align="left">features</td>
      <td align="left">The feature available for a subclass.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#features">Features</a>)
      </td>
    </tr>

    <tr>
      <td align="left">classe</td>
      <td align="left">The class that has access to subclass feature.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#classes">Classes</a>)
      </td>
    </tr>

    <tr>
      <td align="left">subclass</td>
      <td align="left">The subclass name.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#subclasses">Subclasses</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">index</td>
      <td align="left">The index of the subclass feature for shorthand use.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h3>GET api/subclasses/{index}/levels/{integer 1-20}/features</h3>

<pre><code>{
  "count": 1,
  "results": [
    {
      "index": "frenzy",
      "name": "Frenzy",
      "url": "/api/features/frenzy"
    }
  ]
}</code></pre>

<h4>Features for Subclass and Level</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody><tr>
    <td align="left">count</td>
    <td align="left">The number of features available at the requested level.</td>
    <td align="left">integer</td>
  </tr>

  <tr>
    <td align="left">results</td>
    <td align="left">A list of the available feature choices for a subclass at the requested level.</td>
    <td align="left">
      list <a href="#apireference">APIReference</a> (<a href="#features">Features</a>)
    </td>
  </tr>
</tbody>
</table>
