<h2 id="monsters">Starting Equipment</h2>
<p>Starting equipment for classes.</p>

<h3>GET api/starting-equipment/{index}</h3>

<pre><code>
  "index": "barbarian",
  "class": {
    "url": "/api/classes/barbarian",
    "name": "Barbarian"
  },
  "starting_equipment": [
    {
      "equipment": {
        "url": "/api/equipment/explorers-pack",
        "name": "Explorer's Pack",
      },
      "quantity": 1,
    },
    {
      "equipment": {
          "url": "/api/equipment/javelin",
          "name": "Javelin",
        },
      "quantity": 4,
    },
  ],
  "starting_equipment_options": [
    {
      "choose": 1,
      "type": "equipment",
      "from": [
        {
          equipment: {
            name: "Greataxe",
            url: "/api/equipment/greataxe",
          },
          quantity: 1,
        },
        {
          equipment_option: {
            choose: 1,
            type: "equipment",
            from: {
              equipment_category: {
                name: "Martial Melee Weapons",
                url: "/api/equipment-categories/martial-melee-weapons",
              }
            },
          }
        },
      ],
    },
    {
      choose: 1,
      type: "equipment",
      from: [
        {
          equipment: {
            name: "Handaxe",
            url: "/api/equipment/handaxe",
          },
          quantity: 2,
        },
      {
        equipment_option: {
          choose: 1,
          type: "equipment",
          from: {
            equipment_category: {
                name: "Simple Weapons",
                url: "/api/equipment-categories/simple-weapons",
              }
            },
          }
        },
      ],
    },
  ],
  "url": "/api/starting-equipment/barbarian"
}</code></pre>

<h4>Starting Equipment</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The class index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">class</td>
      <td align="left">The class name and url reference object.</td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">starting_equipment</td>
      <td align="left">The starting equipment that the class automatically starts with.</td>
      <td align="left">list</td>
    </tr>
    <tr>
      <td align="left">starting_equipment_options</td>
      <td align="left">A list of choices that the character makes in addition to the starting equipment.</td>
      <td align="left">
        list <a href="#choices">Choice</a> (<a href="#proficiencies">Proficiencies</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
