<h2 id="monsters">Spells</h2>
<p>
  These are the spells of D&D.
</p>

<h3>GET api/spells/{index}</h3>

<pre><code>{
  "index": "acid-arrow",
  "name": "Acid Arrow",
  "desc": [
    "A shimmering green arrow streaks toward a target within range and bursts in a spray of acid. Make a ranged spell attack against the target. On a hit, the target takes 4d4 acid damage immediately and 2d4 acid damage at the end of its next turn. On a miss, the arrow splashes the target with acid for half as much of the initial damage and no damage at the end of its next turn."
  ],
  "higher_level": [
    "When you cast this spell using a spell slot of 3rd level or higher, the damage (both initial and later) increases by 1d4 for each slot level above 2nd."
  ],
  "range": "90 feet",
  "components": [
    "V",
    "S",
    "M"
  ],
  "material": "Powdered rhubarb leaf and an adder's stomach.",
  "ritual": false,
  "duration": "Instantaneous",
  "concentration": false,
  "casting_time": "1 action",
  "level": 2,
  "attack_type": "ranged",

  "damage": {
    "damage_type": {
      "name": "Acid",
      "index": "acid",
      "url": "/api/damage-types/acid"
    },
    "damage_at_slot_level": {
      "2": "4d4",
      "3": "5d4",
      "4": "6d4",
      "5": "7d4",
      "6": "8d4",
      "7": "9d4",
      "8": "10d4",
      "9": "11d4",
    },
  },

  "school": {
    "name": "Evocation",
    "index": "evocation",
    "url": "/api/magic-schools/evocation"
  },
  "classes": [
    {
      "name": "Wizard",
      "index": "wizard",
      "url": "/api/classes/wizard"
    }
  ],
  "subclasses": [
    {
      "name": "Lore",
      "index": "lore",
      "url": "/api/subclasses/lore"
    },
    {
      "name": "Land",
      "index": "land",
      "url": "/api/subclasses/land"
    }
  ],
  "url": "/api/spells/acid-arrow"
}</code></pre>

<h4>Spell</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The spell index for shorthand searching</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">A description of the spell</td>
      <td align="left">list</td>
    </tr>

    <tr>
      <td align="left">higher_level</td>
      <td align="left">description for casting the spell at a higher level</td>
      <td align="left">list</td>
    </tr>

    <tr>
      <td align="left">range</td>
      <td align="left">The range of the spell</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">components</td>
      <td align="left">The required components for a spell are shorthanded to V,S, and M which stand for verbal, somatic, and material</td>
      <td align="left">list</td>
    </tr>

    <tr>
      <td align="left">material</td>
      <td align="left">The material component for the spell to be cast</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">ritual</td>
      <td align="left">Determines if a spell can be cast in a 10-min(in-game) ritual</td>
      <td align="left">boolean</td>
    </tr>

    <tr>
      <td align="left">duration</td>
      <td align="left">How long the spell effect lasts</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">concentration</td>
      <td align="left">Determines if a spell needs concentration to persist</td>
      <td align="left">boolean</td>
    </tr>

    <tr>
      <td align="left">casting_time</td>
      <td align="left">How long it takes for the spell to activate</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">level</td>
      <td align="left">The level of the spell</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">attack_type</td>
      <td align="left">The attack type of the spell</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">damage</td>
      <td align="left">The damage type and the damage dice for the spell at each spell slot level</td>
      <td align="left">object</td>
    </tr>

    <tr>
      <td align="left">school</td>
      <td align="left">The magic school this spell belongs to</td>
      <td align="left"><a href="#apireference">APIReference</a> (<a href="#magic-schools">Magic Schools</a>)</td>
    </tr>

    <tr>
      <td align="left">classes</td>
      <td align="left">The classes that are able to learn this spell</td>
      <td align="left"><a href="#apireference">APIReference</a> (<a href="#classes">Classes</a>)</td>
    </tr>

    <tr>
      <td align="left">subclasses</td>
      <td align="left">A list of subclasses that have access to this spell</td>
      <td align="left">list<a href="#apireference">APIReference</a> (<a href="#classes">Classes</a>)</td>
    </tr>

    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
