<h2 id="ability-scores">Ability Scores</h2>
<p>
  Each of a creature’s abilities has a score, a number that defines the magnitude of that ability.
  An ability score is not just a measure of innate capabilities, but also encompasses a creature’s
  training and competence in activities related to that ability.
</p>

<h3>GET api/ability-scores/{index}</h3>

<pre><code>{
  "_id": "5e10e4750b1bb138c5b3af71",
  "index": "str",
  "name": "STR",
  "full_name": "Strength",
  "desc": [
    "Strength measures bodily power, athletic training, and the extent to which you can exert raw physical force.",
    "A Strength check can model any attempt to lift, push, pull, or break something, to force your body through a space, or to otherwise apply brute force to a situation. The Athletics skill reflects aptitude in certain kinds of Strength checks."
  ],
  "skills": [
    {
      "url": "/api/skills/athletics",
      "name": "Athletics"
    }
  ],
  "url": "/api/ability-scores/str"
}</code></pre>

<h4>Ability Score</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">_id</td>
      <td align="left">The string _id used by the database for this ability score resource</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">index</td>
      <td align="left">The ability score index for shorthand searching</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The abbreviated name for this ability score</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">full_name</td>
      <td align="left">The full name for this ability scores</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">A brief description on this ability score and its uses/td></td>
      <td align="left">list string</td>
    </tr>
    <tr>
      <td align="left">skills</td>
      <td align="left">A list of skills that uses this ability score</td>
      <td align="left">
        list <a href="#namedapiresource">NamedAPIResource</a> (<a href="#skills">Skills</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
