<h2 id="subraces">Subraces</h2>
<p>Subraces reflect the different varieties of a certain parent race</p>

<h3>GET api/subraces/{index}</h3>

<pre><code>{
  "index": "hill-dwarf",
  "name": "Hill Dwarf",
  "race": {
    "name": "Dwarf",
    "index": "dwarf",
    "url": "/api/races/dwarf",
  },
  "desc": "As a hill dwarf, you have keen senses, deep intuition, and remarkable resilience.",
  "ability_bonuses": [
    {
      "ability_score": {
        "index": "wis",
        "name": "WIS",
        "url": "/api/ability-scores/wis"
      },
      "bonus": 1
    }
  ],
  "starting_proficiencies": [],
  "languages": [],
  "racial_traits": [
    {
      "name": "Dwarven Toughness",
      "index": "dwarven-toughness",
      "url": "/api/traits/stonecunning"
    }
  ],
  "url": "/api/subraces/hill-dwarf"
}</code></pre>

<h4>subrace</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The subrace index for shorthand searching.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this subrace resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">race</td>
      <td align="left">The parent race for this subrace.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#races">Race</a>)
      </td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">Flavor description of this subrace.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">ability_bonuses</td>
      <td align="left">Additional ability bonuses granted by this sub race.</td>
      <td align="left">list (<a href="#ability-bonus">AbilityBonus</a>)</td>
    </tr>
    <tr>
      <td align="left">starting_proficiencies</td>
      <td align="left">Starting proficiencies for all new characters of this subrace.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiencies"
          >Proficiencies</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">languages</td>
      <td align="left">Starting languages for all new characters of this subrace.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#languages">Proficiencies</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">language_options</td>
      <td align="left">The starting languages to choose from for this subrace.</td>
      <td align="left"><a href="#choice">Choice</a> (<a href="#languages">Languages</a>)</td>
    </tr>
    <tr>
      <td align="left">racial_traits</td>
      <td align="left">Racial traits that provide benefits to its members.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#traits">Trait</a>)
      </td>
    </tr>
    <tr>
      <td align="left">racial_trait_options</td>
      <td align="left">The racial traits to choose from for this subrace.</td>
      <td align="left">
        list <a href="#choice">Choice</a> (<a href="#traits">Trait</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h3>GET api/subraces/{index}/traits/</h3>

<pre><code>{
  "count": 5,
  "results": [
    {
      "index": "dwarven-resilience",
      "name": "Dwarven Resilience",
      "url": "/api/traits/dwarven-resilience"
    },
    ...
    {
      "index": "stonecunning",
      "name": "Stonecunning",
      "url": "/api/traits/stonecunning"
    }
  ]
}</code></pre>

<h4>Traits for Subrace</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">count</td>
      <td align="left">The number of traits that apply to a subrace.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">results</td>
      <td align="left">Subracial traits that provide benefits to its members.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#traits">Traits</a>)
      </td>
    </tr>
  </tbody>
</table>

<h3>GET api/subraces/{index}/proficiencies/</h3>

<pre><code>{
  "count": 4,
  "results": [
    {
      "index": "longbows",
      "name": "Longbows",
      "url": "/api/proficiencies/longbows"
    },
    ...
    {
      "index": "shortswords",
      "name": "Shortswords",
      "url": "/api/proficiencies/shortswords"
    }
  ]
}</code></pre>

<h4>Proficiencies for Subrace</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody><tr>
    <td align="left">count</td>
    <td align="left">The number of proficiences that apply to a subrace.</td>
    <td align="left">integer</td>
  </tr>
  <tr>
    <td align="left">results</td>
    <td align="left">Subracial proficiences that provide benefits to its members.</td>
    <td align="left">
      list <a href="#apireference">APIReference</a> (<a href="#proficiences">Proficiencies</a>)
    </td>
  </tr></tbody>
</table>
