<div class="col-sm-3 side-nav">
  <div class="nav-group" style="width: 158px;">
    <div class="doc-select hidden-xs">
      <ul>
        <li><a href="#intro">Introduction</a></li>
        <li><a href="#start">Getting started</a></li>
        <li><a href="#base">Base URL</a></li>
        <li><a href="#auth">Authentication</a></li>
        <li><a href="#graphql">GraphQL</a></li>

        <hr />
        <li><a href="#resource-lists">Resource Lists</a></li>
        <hr />

        <li class="parent">
          <a href="#character-data-section">Character Data</a>
          <ul>
            <li><a href="#ability-scores">Ability Scores</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#proficiencies">Proficiencies</a></li>
            <li><a href="#languages">Languages</a></li>
            <li><a href="#alignments">Alignments</a></li>
          </ul>
        </li>
        <li class="parent">
          <a href="#backgrounds-section">Backgrounds</a>
          <ul>
            <li><a href="#backgrounds">Backgrounds</a></li>
          </ul>
        </li>
        <li class="parent">
          <a href="#classes-section">Classes</a>
          <ul>
            <li><a href="#classes">Classes</a></li>
            <li><a href="#subclasses">Subclasses</a></li>
            <li><a href="#features">Features</a></li>
          </ul>
        </li>
        <li class="parent">
          <a href="#races-section">Races</a>
          <ul>
            <li><a href="#races">Races</a></li>
            <li><a href="#subraces">Subraces</a></li>
            <li><a href="#traits">Traits</a></li>
          </ul>
        </li>

        <li class="parent">
          <a href="#equipment-section">Equipment</a>
          <ul>
            <li><a href="#equipment-categories">Equipment Categories</a></li>
            <li><a href="#equipment-weapons">Weapons</a></li>
            <li><a href="#equipment-armor">Armor</a></li>
            <li><a href="#equipment-gear">Adventuring Gear</a></li>
            <li><a href="#equipment-packs">Equipment Packs</a></li>
            <li><a href="#magic-items">Magic Items</a></li>
            <li><a href="#weapon-properties">Weapon Properties</a></li>
          </ul>
        </li>

        <li class="parent">
          <a href="#spell-section">Spells</a>
          <ul>
            <li><a href="#spells">Spells</a></li>
          </ul>
        </li>

        <li class="parent">
          <a href="#feats-section">Feats</a>
          <ul>
            <li><a href="#feats">Feats</a></li>
          </ul>
        </li>

        <li class="parent">
          <a href="#monster-section">Monsters</a>
          <ul>
            <li><a href="#monsters">Monsters</a></li>
          </ul>
        </li>

        <li class="parent">
          <a href="#game-mechanics-section">Game Mechanics</a>
          <ul>
            <li><a href="#conditions">Conditions</a></li>
            <li><a href="#damage-types">Damage Types</a></li>
            <li><a href="#magic-schools">Magic Schools</a></li>
          </ul>
        </li>

        <li class="parent">
          <a href="#rules-section">Rules</a>
          <ul>
            <li><a href="#rules">Rules</a></li>
            <li><a href="#rule-sections">Rule Sections</a></li>
          </ul>
        </li>

        <hr />
        <li class="parent">
          <a href="#common-models-section">Common Models</a>
          <ul>
            <li><a href="#apireference">APIReference</a></li>
            <li><a href="#choice">Choices</a></li>
            <li><a href="#cost">Cost</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      var sticky = $('.nav-group');
      var docSelect = $('.doc-select');
      var offset = sticky.offset();
      var sideNav = $('.side-nav');
      var navParents = $('.doc-select')
        .children('ul')
        .children('li');
      var doc = $(document);
      var win = $(window);

      $(document).ready(() => {
        // alert('hi');
      });

      function navOps() {
        //check sticky
        if (doc.scrollTop() >= offset.top - 65) {
          console.log(window.innerHeight - offset.top);

          sticky.addClass('stick');
          sticky.css({
            width: sideNav.width() + 'px',
          });
        } else {
          sticky.removeClass('stick');
          sticky.css({ width: '' });
        }

        navParents.removeClass('active');
        var parent;
        var target;
        var activeParent = $(navParents[0]);
        var scrollTop = win.scrollTop();

        for (var i = 0; i < navParents.length; i++) {
          parent = $(navParents[i]);

          console.log('LOOK AT ME!');
          console.log(parent);
          target = $(parent.find('a').attr('href'));

          console.log(target);
          console.log(target.offset());
          if (scrollTop >= target.offset().top) {
            activeParent = parent;
          } else {
            break;
          }
        }

        activeParent.addClass('active');

        var children = activeParent.find('li');
        var child;
        var activeChild;

        children.removeClass('active');

        for (i = 0; i < children.length; i++) {
          child = $(children[i]);
          target = $(child.find('a').attr('href'));

          if (scrollTop >= target.offset().top) {
            activeChild = child;
          } else {
            break;
          }
        }

        if (activeChild) {
          activeChild.addClass('active');
        }
      }

      doc.scroll(function() {
        navOps();
      });

      win.resize(function() {
        navOps();
      });

      navOps();
    </script>
  </div>
</div>
