<h2 id="equipment-categories">Equipment Categories</h2>
<p>
  These are the categories that various equipment fall under.
</p>

<h3>GET api/equipment-categories/{index}</h3>

<pre><code>{
  "_id": "5e4ca3360b1bb138c589634c",
  "index": "armor",
  "name": "Armor",
  "equipment": [
    {
      "name": "Padded",
      "url": "/api/equipment/padded"
    },
    ...
    {
      "name": "Shield",
      "url": "/api/equipment/shield"
    }
  ],
  "url": "/api/equipment-categories/armor"
}</code></pre>

<h4>Equipment Category</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
