<h2 id="equipment">Equipment</h2>
<p>
  Opportunities abound to find treasure, equipment, weapons, armor, and more in the dungeons you
  explore. Normally, you can sell your treasures and trinkets when you return to a town or other
  settlement, provided that you can find buyers and merchants interested in your loot.
</p>

<h3 id="equipment-weapons">GET api/equipment/{index}</h3>

<h4>The following is a response example for a weapon</h4>

<pre><code>{
  "index": "club",
  "name": "Club",
  "equipment_category": {
    "name": "Weapon",
    "url": "/api/equipment-categories/weapon",
  },
  "weapon_category": "Simple",
  "weapon_range": "Melee",
  "category_range": "Simple Melee",
  "cost": {
    "quantity": 1,
    "unit": "sp"
  },
  "damage": {
    "damage_dice": "1d4",
    "damage_type": {
      "name": "Bludgeoning",
      "index": "bludgeoning",
      "url": "/api/damage-types/bludgeoning"
    }
  },
  "range": {
    "normal": 5,
    "long": null
  },
  "weight": 2,
  "properties": [
    {
      "name": "Light",
      "index": "light",
      "url": "/api/weapon-properties/light"
    },
    {
      "name": "Monk",
      "index": "light",
      "url": "/api/weapon-properties/monk"
    }
  ],
  "url": "/api/equipment/club"
}</code></pre>

<h4>Weapon</h4>
<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The damage type index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this equipment resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">equipment_category</td>
      <td align="left">The category of equipment this falls into.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#equipment-categories"
          >Equipment Categories</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">weapon_category</td>
      <td align="left">The category of weapon this falls into.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">weapon_range</td>
      <td align="left">Whether this is a Melee or Ranged weapon.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">category_range</td>
      <td align="left">A combination of weapon_category and weapon_range.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">cost</td>
      <td align="left">The cost of the equipment.</td>
      <td align="left"><a href="#cost">Cost</a></td>
    </tr>
    <tr>
      <td align="left">damage</td>
      <td align="left">Includes data on dice, bonus, and damage type.</td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">two_handed_damage</td>
      <td align="left">Damage when weilded with two hands. It includes data on dice, bonus, and damage type.</td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">range</td>
      <td align="left">
        Includes the normal and long range for a weapon, only pertains to Ranged weapons
      </td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">weight</td>
      <td align="left">How much the equipment weighs.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">properties</td>
      <td align="left">A list of the properties this weapon has.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#weapon-properties"
          >Weapon Properties</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h3 id="equipment-armor">GET api/equipment/{index}</h3>
<h4>The following is a response example for a piece of armor</h4>

<pre><code>{
  "index": "padded",
  "name": "Padded",
  "equipment_category": {
    "name": "Armor",
    "index": "armor",
    "url": "/api/equipment-categories/armor"
    },
  "armor_category": "Light",
  "armor_class": {
    "base": 11,
    "dex_bonus": true,
    "max_bonus": null
  },
  "str_minimum": 0,
  "stealth_disadvantage": true,
  "weight": 8,
  "cost": {
    "quantity": 5,
    "unit": "gp"
  },
  "url": "/api/equipment/padded"
}</code></pre>

<h4>Armor</h4>
<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The damage type index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this equipment resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">equipment_category</td>
      <td align="left">The category of equipment this falls into.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#equipment-categories"
          >Equipment Categories</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">armor_category</td>
      <td align="left">The category of armor this falls into.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">armor_class</td>
      <td align="left">Details on how to calculate armor class.</td>
      <td align="left">object</td>
    </tr>
    <tr>
      <td align="left">str_minimum</td>
      <td align="left">Minimum STR required to use this armor.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">stealth_disadvantage</td>
      <td align="left">Whether the armor gives disadvantage for Stealth.</td>
      <td align="left">boolean</td>
    </tr>
    <tr>
      <td align="left">weight</td>
      <td align="left">How much the equipment weighs.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">cost</td>
      <td align="left">The cost of the equipment.</td>
      <td align="left"><a href="#cost">Cost</a></td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h3 id="equipment-gear">GET api/equipment/{index}</h3>
<h4>The following is a response example for a piece of adventuring gear</h4>

<pre><code>{
  "index": "abacus",
  "name": "Abacus",
  "equipment_category": {
    "index": "adventuring-gear",
    "name": "Adventuring Gear",
    "url": "/api/equipment-categories/adventuring-gear"
  },
  "gear_category": {
    "index": "standard-gear",
    "name": "Standard Gear",
    "url": "/api/equipment-categories/standard-gear"
  },
  "cost": {
    "quantity": 2,
    "unit": "gp"
  },
  "weight": 2,
  "url": "/api/equipment/abacus"
}</code></pre>

<h4>Gear</h4>
<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The damage type index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this equipment resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">equipment_category</td>
      <td align="left">The category of equipment this falls into.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#equipment-categories"
          >Equipment Categories</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">gear_category</td>
      <td align="left">The category of adventuring gear this falls into.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#equipment-categories"
          >Equipment Categories</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">cost</td>
      <td align="left">The cost of the equipment.</td>
      <td align="left"><a href="#cost">Cost</a></td>
    </tr>
    <tr>
      <td align="left">weight</td>
      <td align="left">How much the equipment weighs.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h3 id="equipment-packs">GET api/equipment/{index}</h3>
<h4>The following is a response example for an equipment pack</h4>

<pre><code>{
  "index": "burglars-pack",
  "name": "Burglar's Pack",
  "equipment_category": {
    "index": "adventuring-gear",
    "name": "Adventuring Gear",
    "url": "/api/equipment-categories/adventuring-gear"
  },
  "gear_category": {
    "index": "equipment-packs",
    "name": "Equipment Packs",
    "url": "/api/equipment-categories/equipment-packs"
  },
  "cost": {
    "quantity": 16,
    "unit": "gp"
  },
  "contents": [
    {
      "item": {
        "index": "backpack",
        "name": "Backpack",
        "url": "/api/equipment/backpack"
      },
      "quantity": 1
    },
    {
      "item": {
        "index": "ball-bearings-bag-of-1000",
        "name": "Ball bearings (bag of 1,000)",
        "url": "/api/equipment/ball-bearings-bag-of-1000"
      },
      "quantity": 1
    },
    {
      "item": {
        "index": "candle",
        "name": "Candle",
        "url": "/api/equipment/candle"
      },
      "quantity": 5
    },
    {
      "item": {
        "index": "crowbar",
        "name": "Crowbar",
        "url": "/api/equipment/crowbar"
      },
      "quantity": 1
    },
    {
      "item": {
        "index": "hammer",
        "name": "Hammer",
        "url": "/api/equipment/hammer"
      },
      "quantity": 1
    },
    {
      "item": {
        "index": "piton",
        "name": "Piton",
        "url": "/api/equipment/piton"
      },
      "quantity": 10
    },
    {
      "item": {
        "index": "lantern-hooded",
        "name": "Lantern, hooded",
        "url": "/api/equipment/lantern-hooded"
      },
      "quantity": 1
    },
    {
      "item": {
        "index": "oil-flask",
        "name": "Oil (flask)",
        "url": "/api/equipment/oil-flask"
      },
      "quantity": 2
    },
    {
      "item": {
        "index": "rations-1-day",
        "name": "Rations (1 day)",
        "url": "/api/equipment/rations-1-day"
      },
      "quantity": 5
    },
    {
      "item": {
        "index": "tinderbox",
        "name": "Tinderbox",
        "url": "/api/equipment/tinderbox"
      },
      "quantity": 1
    },
    {
      "item": {
        "index": "waterskin",
        "name": "Waterskin",
        "url": "/api/equipment/waterskin"
      },
      "quantity": 1
    },
    {
      "item": {
        "index": "rope-hempen-50-feet",
        "name": "Rope, hempen (50 feet)",
        "url": "/api/equipment/rope-hempen-50-feet"
      },
      "quantity": 1
    }
  ],
  "url": "/api/equipment/burglars-pack"
}</code></pre>

<h4>Equipment pack</h4>
<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The damage type index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this equipment resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">equipment_category</td>
      <td align="left">The category of equipment this falls into.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#equipment-categories"
          >Equipment Categories</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">gear_category</td>
      <td align="left">The category of adventuring gear this falls into.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#equipment-categories"
          >Equipment Categories</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">cost</td>
      <td align="left">The cost of the equipment.</td>
      <td align="left"><a href="#cost">Cost</a></td>
    </tr>
    <tr>
      <td align="left">contents</td>
      <td align="left">The list of adventuring gear in the pack.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#equipment-gear">Equipment</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
