<h2 id="starting-equipment">Starting Equipment</h2>
<p>Starting equipment for classes.</p>

<h3>GET api/starting-equipment/{index}</h3>
<h3>GET api/classes/{index}/starting-equipment/</h3>

<pre><code>{
  "index": "bard",
  "class": {
    "index": "bard",
    "name": "Bard",
    "url": "/api/classes/bard"
  },
  "starting_equipment": [
    {
      "equipment": {
        "index": "leather",
        "name": "Leather",
        "url": "/api/equipment/leather"
      },
      "quantity": 1
    },
    {
      "equipment": {
        "index": "dagger",
        "name": "Dagger",
        "url": "/api/equipment/dagger"
      },
      "quantity": 1
    }
  ],
  "starting_equipment_options": [
    {
      "choose": 1,
      "type": "equipment",
      "from": [
        {
          "equipment": {
            "index": "rapier",
            "name": "Rapier",
            "url": "/api/equipment/rapier"
          },
          "quantity": 1
        },
        {
          "equipment": {
            "index": "longsword",
            "name": "Longsword",
            "url": "/api/equipment/longsword"
          },
          "quantity": 1
        },
        {
          "equipment_option": {
            "choose": 1,
            "type": "equipment",
            "from": {
              "equipment_category": {
                "index": "simple-weapons",
                "name": "Simple Weapons",
                "url": "/api/equipment-categories/simple-weapons"
              }
            }
          }
        }
      ]
    },
    {
      "choose": 1,
      "type": "equipment",
      "from": [
        {
          "equipment": {
            "index": "diplomats-pack",
            "name": "Diplomat's Pack",
            "url": "/api/equipment/diplomats-pack"
          },
          "quantity": 1
        },
        {
          "equipment": {
            "index": "entertainers-pack",
            "name": "Entertainer's Pack",
            "url": "/api/equipment/entertainers-pack"
          },
          "quantity": 1
        }
      ]
    },
    {
      "choose": 1,
      "type": "equipment",
      "from": [
        {
          "equipment": {
            "index": "lute",
            "name": "Lute",
            "url": "/api/equipment/lute"
          }
        },
        {
          "equipment_option": {
            "choose": 1,
            "type": "equipment",
            "from": {
              "equipment_category": {
                "index": "musical-instruments",
                "name": "Musical Instruments",
                "url": "/api/equipment-categories/musical-instruments"
              }
            }
          }
        }
      ]
    }
  ],
  "url": "/api/starting-equipment/bard"
}</code></pre>

<h4>Starting Equipment for Class</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The class index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">class</td>
      <td align="left">The class which this level refers to.</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#class">Class</a>) Updated
        ability scores, classes, and conditions
      </td>
    </tr>

    <tr>
      <td align="left">starting_equipment</td>
      <td align="left">The starting equipment a character automatically gets.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#equipment">Equipment</a>)
      </td>
    </tr>

    <tr>
      <td align="left">starting_equipment_options</td>
      <td align="left">
        Starting equipment where the player must choose a certain number from the given list of
        equipment.
      </td>
      <td align="left">list <a href="#choice">Choice</a> (<a href="#equipment">Equipment</a>)</td>
    </tr>

    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
