<h2 id="races">Races</h2>
<p>Each race grants your character ability and skill bonuses as well as racial traits.</p>

<h3>GET api/races/{index}</h3>

<pre><code>{
  "index": "dwarf",
  "name": "Dwarf",
  "speed": 25,
  "ability_bonuses": [
    {
      "bonus": 2,
      "ability_score": {
        "name": "CON",
        "index": "con",
        "url": "/api/ability-scores/con"
      }
    }
  ],
  "alignment": "Most dwarves are lawful, believing firmly in the benefits of a well-ordered society. They tend toward good as well, with a strong sense of fair play and a belief that everyone deserves to share in the benefits of a just order.",
  "age": "Dwarves mature at the same rate as humans, but they're considered young until they reach the age of 50. On average, they live about 350 years.",
  "size": "Medium",
  "size_description": "Dwarves stand between 4 and 5 feet tall and average about 150 pounds. Your size is Medium.",
  "starting_proficiencies": [
    {
      "name": "Battleaxes",
      "index": "battleaxes",
      "url": "/api/proficiencies/battleaxes"
    },
    {
      "name": "Handaxes",
      "index": "handaxes",
      "url": "/api/proficiencies/handaxes"
    },
    {
      "name": "Light hammers",
      "index": "light-hammers",
      "url": "/api/proficiencies/light-hammers"
    },
    {
      "name": "Warhammers",
      "index": "warhammers",
      "url": "/api/proficiencies/warhammers"
    }
  ],
  "starting_proficiency_options": {
    "choose": 1,
    "type": "proficiencies",
    "from": [
      {
        "name": "Smith's tools",
        "index": "smiths-tools",
        "url": "/api/proficiencies/smiths-tools"
      },
      {
        "name": "Brewer's supplies",
        "index": "brewers-supplies",
        "url": "/api/proficiencies/brewers-supplies",
      },
      {
        "name": "Mason's tools",
        "index": "masons-tools",
        "url": "/api/proficiencies/masons-tools"
      }
    ]
  },
  "languages": [
    {
      "name": "Common",
      "index": "common",
      "url": "/api/languages/common"
    },
    {
      "name": "Dwarvish",
      "index": "dwarvish",
      "url": "/api/languages/dwarvish"
    }
  ],
  "language_desc": "You can speak, read, and write Common and Dwarvish. Dwarvish is full of hard consonants and guttural sounds, and those characteristics spill over into whatever other language a dwarf might speak.",
  "traits": [
    {
      "name": "Darkvision",
      "index": "darkvision",
      "url": "/api/traits/darkvision"
    },
    {
      "name": "Dwarven Resilience",
      "index": "dwarven-resilience",
      "url": "/api/traits/dwarven-resilience"
    },
    {
      "name": "Stonecunning",
      "index": "stonecunning",
      "url": "/api/traits/stonecunning"
    }
    {
      "name": "Dwarven Combat Training",
      "index": "dwarven-combat-training",
      "url": "/api/traits/dwarven-combat-training"
    }
  ],
  "subraces": [
    {
      "url": "/api/subraces/hill-dwarf",
      "index": "hill-dwarf",
      "name": "Hill Dwarf"
    }
  ],
  "url": "/api/races/dwarf"
}</code></pre>

<h4>Races</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The race index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this race resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">speed</td>
      <td align="left">Base move speed for this race (in feet per round).</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">ability_bonuses</td>
      <td align="left">Racial bonuses to ability scores.</td>
      <td align="left">list (<a href="#ability-bonus">AbilityBonus</a>)
      </td>
    </tr>
    <tr>
      <td align="left">alignment</td>
      <td align="left">Flavor description of likely alignments this race takes.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">age</td>
      <td align="left">Flavor description of possible ages for this race.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">size</td>
      <td align="left">Size class of this race.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">size_description</td>
      <td align="left">Flavor description of height and weight for this race.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">starting_proficiencies</td>
      <td align="left">Starting proficiencies for all new characters of this race.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiencies"
          >Proficiencies</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">starting_proficiency_options</td>
      <td align="left">Starting proficiency options for all new characters of this race.</td>
      <td align="left"><a href="#choice">Choice</a> (<a href="#proficiencies">Proficiencies</a>)</td>
    </tr>
    <tr>
      <td align="left">languages</td>
      <td align="left">Starting languages for all new characters of this race.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#languages">Proficiencies</a
        >)
      </td>
    </tr>
    <tr>
      <td align="left">language_desc</td>
      <td align="left">Flavor description of the languages this race knows.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">traits</td>
      <td align="left">Racial traits that provide benefits to its members.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#traits">Trait</a>)
      </td>
    </tr>
    <tr>
      <td align="left">subraces</td>
      <td align="left">All possible subraces that this race includes</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#subraces">Subrace</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h3>GET api/races/{index}/subraces/</h3>

<pre><code>{
  "count": 1,
  "results": [
    {
      "index": "high-elf",
      "name": "High Elf",
      "url": "/api/subraces/high-elf"
    }
  ]
}</code></pre>

<h4>Subraces for Race</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">count</td>
      <td align="left">the number of available subraces.</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">results</td>
      <td align="left">A list of the subrace and its reference url.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#subraces">Subrace</a>)
      </td>
    </tr>
  </tbody>
</table>

<h3>GET api/races/{index}/proficiencies/</h3>

<pre><code>{
  "count": 1,
  "results": [
    {
      "index": "skill-perception",
      "name": "Skill: Perception",
      "url": "/api/proficiencies/skill-perception"
    }
  ]
}</code></pre>

<h4>Proficiencies for Race</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">count</td>
      <td align="left">the number of proficiencies available to a race.</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">results</td>
      <td align="left">A list of the available proficiencies for a race.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiencies">Proficiencies</a>)
      </td>
    </tr>
  </tbody>
</table>

<h3>GET api/races/{index}/traits/</h3>

<pre><code>{
  "count": 5,
  "results": [
    {
      "index": "darkvision",
      "name": "Darkvision",
      "url": "/api/traits/darkvision"
    },
    ...
    {
      "index": "trance",
      "name": "Trance",
      "url": "/api/traits/trance"
    }
  ]
}</code></pre>

<h4>Traits for Race</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">count</td>
      <td align="left">the number of traits available to a race.</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">results</td>
      <td align="left">A list of the available traits for a race.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#traits">Traits</a>)
      </td>
    </tr>
  </tbody>
</table>
