<h2 id="magic-schools">Magic Schools</h2>
<p>
  Academies of magic group spells into eight categories called schools of magic. Scholars,
  particularly wizards, apply these categories to all spells, believing that all magic functions in
  essentially the same way, whether it derives from rigorous study or is bestowed by a deity.
</p>

<h3>GET api/magic-schools/{index}</h3>

<pre><code>{

  "index": "abjuration",
  "name": "Abjuration",
  "desc": "Abjuration spells are protective in nature, though some of them have aggressive uses. They create magical barriers, negate harmful effects, harm trespassers, or banish creatures to other planes of existence.",
  "url": "/api/magic-schools/abjuration"
}</code></pre>

<h4>Magic School</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The magic school index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name for this magic school resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">A brief description of the magic school.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
