<h2 id="traits">Traits</h2>
<p>Traits for races in D&D.</p>

<h3>GET api/traits/{index}</h3>

<pre><code>{
  "index": "brave",
  "races": [
    {
      "name": "Halfling",
      "index": "halfling",
      "url": "/api/races/halfling"
    }
  ],
  "subraces": [],
  "name": "Brave",
  "desc": [
    "You have advantage on saving throw against being frightened."
  ],
  "proficiencies": [],
  "proficiency_choices": {},
  "url": "/api/traits/brave"
}</code></pre>

<h4>Trait</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The trait index for shorthand searching.</td>
      <td align="left">integer</td>
    </tr>
    <tr>
      <td align="left">races</td>
      <td align="left">Races that have access to the trait.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiences">Proficiencies</a>)
      </td>
    </tr>
    <tr>
      <td align="left">subraces</td>
      <td align="left">Subraces that have access to the trait.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiences">Proficiencies</a>)
      </td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name of the trait.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">desc</td>
      <td align="left">The description of the trait.</td>
      <td align="left">list string</td>
    </tr>
    <tr>
      <td align="left">proficiencies</td>
      <td align="left">Proficiencies this trait grants.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#proficiencies">Proficiencies</a>)
      </td>
    </tr>
    <tr>
      <td align="left">proficiency_choices</td>
      <td align="left">A choice of proficiencies this trait grants.</td>
      <td align="left"><a href="#choice">Choice</a> (<a href="#proficiencies">Proficiencies</a>)</td>
    </tr>
    <tr>
      <td align="left">trait_specific</td>
      <td align="left">Information specific to this trait</td>
      <td align="left"><a href="trait_specific">Trait Specific</a></td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL reference of this resource.</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>

<h4 id="trait_specific">Trait Specific</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
      <th align="left">Features Used By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">subtrait_options</td>
      <td align="left">Sub-trait options for a parent trait</td>
      <td align="left"><a href="#choice">Choice</a> (<a href="#traits">Traits</a>)</td>
      <td align="left">[1]</td>
    </tr>
    <tr>
      <td align="left">spell_options</td>
      <td align="left">Spell options for traits that grant spells</td>
      <td align="left"><a href="#choice">Choice</a> (<a href="#spell-section">Spells</a>)</td>
      <td align="left">High Elf Cantrip</td>
    </tr>
    <tr>
      <td align="left">damage_type</td>
      <td align="left">A damage type associated with this trait.</td>
      <td align="left"><a href="#apireference">APIReference</a> (<a href="#damage-types">Damage Type</a>)</td>
      <td align="left">Draconic Ancestry (any color)</td>
    </tr>
    <tr>
      <td align="left">breath_weapon</td>
      <td align="left">The breath weapon action associated with a draconic ancestry</td>
      <td align="left">object</td>
      <td align="left">Draconic Ancestry (any color)</td>
    </tr>
  </tbody>
</table>

<p>[1] - subtrait_options is included in all Traits that offer a choice between more than one sub-trait.</p>