<h2 id="monsters">Spellcasting</h2>
<p>
  Spellcasting info for classes.
</p>

<h3>GET api/spellcasting/{index}</h3>

<pre><code>{
  "index": "bard",
  "class": {
    "url": "/api/classes/bard"
    name: "Bard",
  },
  "level": 1,
  "spellcasting_ability": {
    "url": "/api/ability-scores/cha",
    "name": "CHA",
  },
  "info": [
    {
      "name": "Cantrips",
      "desc": [
        "You know two cantrips of your choice from the bard spell list. You learn additional bard cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Bard table."
      ],
    },
    {
      "name": "Spell Slots",
      "desc": [
          "The Bard table shows how many spell slots you have to cast your spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.",
          "For example, if you know the 1st-level spell cure wounds and have a 1st-level and a 2nd-level spell slot available, you can cast cure wounds using either slot.",
        ],
      },
    {
      "name": "Spells Known of 1st Level and Higher",
      "desc": [
        "You know four 1st-level spells of your choice from the bard spell list.",
        "The Spells Known column of the Bard table shows when you learn more bard spells of your choice.",
        "Each of these spells must be of a level for which you have spell slots, as shown on the table. For instance, when you reach 3rd level in this class, you can learn one new spell of 1st or 2nd level.",
        "Additionally, when you gain a level in this class, you can choose one of the bard spells you know and replace it with another spell from the bard spell list, which also must be of a level for which you have spell slots.",
      ],
    },
    {
      "name": "Spellcasting Ability",
      "desc": [
        "Charisma is your spellcasting ability for your bard spells. Your magic comes from the heart and soul you pour into the performance of your music or oration. You use your Charisma whenever a spell refers to your spellcasting ability. In addition, you use your Charisma modifier when setting the saving throw DC for a bard spell you cast and when making an attack roll with one.",
        "Spell save DC = 8 + your proficiency bonus + your Charisma modifier.",
        "Spell attack modifier = your proficiency bonus + your Charisma modifier.",
      ],
    },
    {
      "name": "Ritual Casting",
      "desc": [
        "You can cast any bard spell you know as a ritual if that spell has the ritual tag."
      ],
    },
    {
      "name": "Spellcasting Focus",
      "desc": [
        "You can use a musical instrument (see Equipment) as a spellcasting focus for your bard spells."
      ],
    },
  ],
  "url": "/api/spellcasting/bard",
}</code></pre>

<h4>Spellcasting</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The class index for shorthand searching</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">class</td>
      <td align="left">The class object for reference</td>
      <td align="left">object</td>
    </tr>

    <tr>
      <td align="left">level</td>
      <td align="left">The level that the class gains spellcasting</td>
      <td align="left">integer</td>
    </tr>

    <tr>
      <td align="left">spellcasting_ability</td>
      <td align="left">The relavent attribute that the class uses to cast spells</td>
      <td align="left">object</td>
    </tr>

    <tr>
      <td align="left">info</td>
      <td align="left">A list of spellcasting abilities and their descriptions</td>
      <td align="left">list</td>
    </tr>

    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource</td>
      <td align="left">string</td>
    </tr>
  </tbody>
</table>
