<h2 id="equipment-categories">Equipment Categories</h2>
<p>
  These are the categories that various equipment fall under.
</p>

<h3>GET api/equipment-categories/{index}</h3>

<pre><code>{
  "index": "armor",
  "name": "Armor",
  "equipment": [
    {
      "index": "padded",
      "name": "Padded",
      "url": "/api/equipment/padded"
    },
    ...
    {
      "index": "shield",
      "name": "Shield",
      "url": "/api/equipment/shield"
    }
  ],
  "url": "/api/equipment-categories/armor"
}</code></pre>

<h4>Equipment Category</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The equipment category index for shorthand searching</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">name</td>
      <td align="left">The name of the equipment category</td>
      <td align="left">string</td>
    </tr>

    <tr>
      <td align="left">equipment</td>
      <td align="left">A list of the equipment that falls into this category</td>
      <td align="left">list
        <a href="#namedapiresource">NamedAPIResource</a> (<a href="#equipment-categories"
          >Equipment Categories</a
        >)
      </td>
    </tr>

  </tbody>
</table>
