<h2 id="proficiencies">Proficiencies</h2>
<p>By virtue of your race, your character can speak, read, and write certain Proficiencies.</p>

<h3>GET api/proficiencies/{index}</h3>

<pre><code>{
  "index": "medium-armor",
  "type": "Armor",
  "name": "Medium armor",
  "classes": [
    {
      "name": "Barbarian",
      "index": "barbarian",
      "url": "/api/classes/barbarian"
    },
    {
      "name": "Cleric",
      "index": "cleric",
      "url": "/api/classes/cleric"
    },
    {
      "name": "Druid",
      "index": "druid",
      "url": "/api/classes/druid"
    },
    {
      "name": "Ranger",
      "index": "ranger",
      "url": "/api/classes/ranger",
    }
  ],
  "races": [],
  "url": "/api/proficiencies/medium-armor",
  "references": [
    {
      "name": "Medium armor",
      "index": "medium-armor",
      "type": "equipment-categories",
      "url": "/api/equipment-categories/medium-armor"
    }
  ],
}</code></pre>

<h4>Proficiency</h4>

<table>
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Data Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">index</td>
      <td align="left">The proficiency index for shorthand searching.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">type</td>
      <td align="left">The general category of the proficiency.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">name</td>
      <td align="left">The name of this proficiency resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">classes</td>
      <td align="left">Classes that start with this proficiency.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#classes">Class</a>)
      </td>
    </tr>
    <tr>
      <td align="left">races</td>
      <td align="left">Races that start with this proficiency.</td>
      <td align="left">
        list <a href="#apireference">APIReference</a> (<a href="#races">Race</a>)
      </td>
    </tr>
    <tr>
      <td align="left">url</td>
      <td align="left">The URL of the referenced resource.</td>
      <td align="left">string</td>
    </tr>
    <tr>
      <td align="left">reference</td>
      <td align="left">Reference to the related resource</td>
      <td align="left">
        <a href="#apireference">APIReference</a> (<a href="#equipment-categories"
          >Equipment Categories</a
        >, <a href="#equipment">Equipment</a>, <a href="#skills">Skills</a>, or
        <a href="#ability-scores">Ability Scores</a> )
      </td>
    </tr>
  </tbody>
</table>
