<div class="header">
  <h1>D&D 5e API</h1>
  <h2>The 5th Edition Dungeons and Dragons API</h2>
</div>

<div class="cta">
  <p>
    Just a simple api for things within the Official 5th Edition SRD<br />
    and easily accessible through a modern RESTful API.
  </p>
  <p>Enjoy the D&D 5th Edition API!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 center-block">
      <div class="center">
        <h1>Try it now!</h1>
        <div class="input-group pad_top">
          <span class="input-group-addon url">https://www.dnd5eapi.co/api/</span>
          <input
            id="interactive"
            type="text"
            class="form-control"
            placeholder="spells/acid-arrow/"
          />
          <span class="input-group-btn"
            ><button onclick="interactive_call();return false;" class="btn btn-primary">
              submit
            </button></span
          >
        </div>
      </div>
      <small
        >Need a hint? try <a href="#" onClick="update('classes/');return false;"><i>classes/</i></a
        >, <a href="#" onClick="update('features/');return false;"><i>features/</i></a
        >,
        <a href="#" onClick="update('monsters/adult-black-dragon/');return false;"
          ><i>monsters/adult-black-dragon/</i></a
        >
        or
        <a href="#" onClick="update('spells/?name=Acid+Arrow');return false;"
          ><i>spells/?name=Acid+Arrow</i></a
        ></small
      >
      <p class="lead pad_top">Resource for <span id="interactive_name">Acid Arrow</span></p>
      <pre id="interactive_output" class="pre-scrollable">
        {
          "index": "acid-arrow",
          "name": "Acid Arrow",
          "desc": [
            "A shimmering green arrow streaks toward a target within range and bursts in a spray of acid. Make a ranged spell attack against the target. On a hit, the target takes 4d4 acid damage immediately and 2d4 acid damage at the end of its next turn. On a miss, the arrow splashes the target with acid for half as much of the initial damage and no damage at the end of its next turn."
          ],
          "higher_level": [
            "When you cast this spell using a spell slot of 3rd level or higher, the damage (both initial and later) increases by 1d4 for each slot level above 2nd."
          ],
          "range": "90 feet",
          "components": [
            "V",
            "S",
            "M"
          ],
          "material": "Powdered rhubarb leaf and an adder's stomach.",
          "ritual": false,
          "duration": "Instantaneous",
          "concentration": false,
          "casting_time": "1 action",
          "level": 2,
          "attack_type": "ranged",
        
          "damage": {
            damage_type: {
              name: "Acid",
              url: "/api/damage-types/acid",
            },
            damage_at_slot_level: {
              2: "4d4",
              3: "5d4",
              4: "6d4",
              5: "7d4",
              6: "8d4",
              7: "9d4",
              8: "10d4",
              9: "11d4",
            },
          },
        
          "school": {
            "name": "Evocation",
            "url": "/api/magic-schools/evocation"
          },
          "classes": [
            {
              "name": "Wizard",
              "url": "/api/classes/wizard"
            }
          ],
          "subclasses": [
            {
              "name": "Lore",
              "url": "/api/subclasses/lore"
            },
            {
              "name": "Land",
              "url": "/api/subclasses/land"
            }
          ],
          "url": "/api/spells/acid-arrow"
        }</pre
      >
    </div>
  </div>
</div>
