<!-- views/pages/documentation.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <% include ../partials/docs %>
    </main>

</body>
</html>