<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/navbar %>
    <section id="home"><% include ../partials/main %></section>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
