<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <% include ../partials/main %>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>