<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <h2>Variable</h2>
            <%= tagline %>
            <h2>Loop</h2>
            <ul>
                <% drinks.forEach( (drink) => { %>
                    <li><%= drink.name %> - <%= drink.drunkeness %></li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>